[2018-07-12 13:19] maddisondavid opened #1 "RBAC Fails to deploy on GKE"
When deploying the operator with `kubectl apply -f deploy` the RBAC resource fails to deploy on GKE:

[code]

### Solution

See https://github.com/coreos/prometheus-operator/issues/357 for a solution which should be added to the README.

But in short, running the following before deploying the Operator works:

```kubectl create clusterrolebinding your-user-cluster-admin-binding --clusterrole=clust

[2018-07-13 06:29] #1 closed, assigned to nobody

[2018-07-14 15:56] spiegela opened #2 "Handle scale-up/scale-down operations"
Depends upon #4. There may be other requirements to handle scale-up and down using `kubectl scale`. However, the cluster _can_ be scaled by changing the cluster spec and re-applying wtih `kubectl apply`.

[2018-07-14 15:59] spiegela opened #3 "Support full zookeeper configuration options"
The ZK config map does not currently include the full compliment of configuration options. The remaining config options should be added to the config map spec.

[2018-07-14 16:04] spiegela opened #4 "Add zookeeper cluster status support"
Currently, the zk `Status` cluster is blank. This should be populated with data from the associated stateful-set. This is also required for the `kubectl scale` command to work.

[2018-07-14 16:05] spiegela opened #5 "Support zookeeper rolling upgrades"
Currently rolling updates _should_ work, but have not been tested. Rolling updates should be tested an validated.

[2018-07-14 16:06] spiegela opened #6 "Add recovery handling for restarted pods"
Currently, there are not detailed checks of data within a pod's persistent volumes. If a pod starts, and the network identity, zookeeper ordinal and cluster membership all match, then the data is assumed correct. If any of those don't match, the data is removed.

The desired behavior is for the Pod, during startup, to check the consistency of data, and potentially leverage ZK snaps to recover data

[2018-07-14 16:52] maddisondavid opened #7 "Handle ZookeeperCluster Custom Resource Deletion"
When the ZookeeperCluster resource is deleted the corresponding Kubernetes resources backing the cluster should also be removed.

[2018-08-03 01:28] #7 closed, assigned to nobody

[2018-08-03 01:37] spiegela opened #8 "Add unit tests"
There are no tests for this project right now. We should expect fairly complete coverage.

Currently prioritizing the internal packages:

- [ ] v1beta1.ClusterSpec#withDefaults
- [ ] v1beta1.ContainerImaage#withDefaults
- [ ] v1beta1.PodPolicy#withDefaults
- [ ] v1beta1.ZookeeperConfig#WithDefaults
- [ ] deploy#makeZkSts
- [ ] deploy#makePodSpec
- [ ] deploy#makeZkHeadlessSvc
- [ ] deploy#makeZkCl

[2018-08-03 01:37] spiegela opened #9 "Add CI for unit tests"
We intend to use travis for CI of the project.

[2018-08-03 01:38] spiegela opened #10 "Add CI for Docker container builds"
We should publish new Docker container images via CI for nightlies and versions.

[2018-08-03 01:38] spiegela opened #11 "Add CI for test coverage reporting"

[2018-08-03 01:40] spiegela opened #12 "Add integration smoke tests of zookeeper clients"

[2018-08-07 11:27] maddisondavid opened #13 "Allow blank watch namespace"
A blank watch namespace indicates to watch ALL namespaces for the ZookeeperCluster resource, however the SDK currently blocks a blank namespace.

[2018-08-22 16:37] maddisondavid opened #15 "Add Travis Build"

[2018-09-11 21:37] #13 closed, assigned to maddisondavid

[2018-09-21 12:30] adrianmo opened #20 "Add a LICENSE file and headers"
Before opening up the repo we'll need to upload a LICENSE file and add the license headers to all Go files. We can apply the same solution as in https://github.com/pravega/pravega-operator/issues/45.

[2018-09-25 13:05] adrianmo opened #21 "Add versioning"
Since we are about to open up the repo and make the first release. We need to add versioning to the project.

[2018-09-25 13:32] adrianmo opened #24 "Error trying to run the operator locally"
I'm trying to run the operator locally as instructed in the [operator-sdk user guide](https://github.com/operator-framework/operator-sdk/blob/master/doc/user-guide.md#2-run-outside-the-cluster) using the `operator-sdk up local` command. However, the operators panics and outputs the following log:

[code]

We also experienced this error with the Pravega operator (https://github.com/pravega/pravega-

[2018-10-09 14:11] #20 closed, assigned to adrianmo

[2018-10-09 14:12] #21 closed, assigned to adrianmo

[2018-10-15 07:43] EronWright opened #26 "Support 'rescale' operation / rename 'size' to 'replicas'"
Rescale is a standard operation that some resource types support.   Unsure about the specifics.  May involve renaming 'size' to 'replicas'.

[2018-10-16 15:09] adrianmo opened #29 "Check the entire license header on Go files"
Create an automated check that verifies that all Golang files contain the entire license header below.

[code]

[2018-10-17 13:59] #15 closed

[2018-10-17 14:09] adrianmo commented on #9
Done.

[2018-10-17 14:09] #9 closed

[2018-10-17 14:10] adrianmo commented on #10
Done. All tagged commits will generate an image and push it to Docker hub.

[2018-10-17 14:10] #10 closed

[2018-10-21 09:34] Aparnarr opened #31 "Formatting README file"
1. TOC will be included
  2. Minor formatting changes

[2018-10-21 09:51] Aparnarr opened #32 "creating CONTRIBUTING file"
1. Inclusion of CONTRIBUTING.md in the root directory
2. Inclusion of Content in wiki

[2018-11-06 17:23] bourgeoisor opened #36 "Resource status not updating correctly"
Although there is a concept of resource status for the ZookeeperCluster, the status is never updated throughout the lifecycle of the reconciliation.
We should be updating the ZookeeperCluster status with the correct node count of the stateful set here: https://github.com/pravega/zookeeper-operator/blob/master/pkg/zk/sync.go#L38-L44

This is the current status of a fully deployed ZookeeperCluster:

[2018-11-06 20:19] finiks commented on #36
@adrianmo what's the story behind the `members`' ready and unready arrays of string? Is that still needed, and if so, what strings should populate it?
I personally would've just gone with a simple `replicasAvailable` count which could be then cross-referenced with the Spec's `replicas` (or `size`) count to know if the cluster is fully available or not. That said, there might be reasoning behind go

[2018-11-08 15:13] finiks commented on #36
#37 got merged in, which implements a very simple iteration of cluster status.
We'll need to go a bit more in depth in the future. Leaving this issue open.

[2018-11-17 10:32] fpj commented on #2
@spiegela one clarification: why is `kubectl edit` not supposed to work?

[2018-11-17 10:40] fpj commented on #2
Actually, to elaborate on the point, I have tried to increase the ensemble size from 3 to 5, and I get to see that the desired number is 5 and current is 4, but the fourth pod is actually pending (forever). It will require a bit if debugging to understand what's happening with that server.

[2018-11-17 11:48] fpj commented on #2
Test

[2018-11-19 17:02] spiegela commented on #2
@fpj  I think that the `kubectl edit ...` method of scaling the zookeeper cluster _should_ work. Take a look at the pod that is currently pending with `kubectl describe pod ...` and we may see why it isn't starting. It could be that the affinity/anti-affinity rules are preventing it from starting.

[2018-11-23 15:52] Aparnarr opened #38 "Updating README.md"
Modification of content in `Build operator image Section`

[2018-11-28 11:36] deenav opened #40 "Changing Zookeeper resource "storage" value through `kubectl edit` not reflecting"
**Changing Zookeeper resource "storage" values through `kubectl edit` not reflecting for new/scaledup zookeeper pods**

Increasing the zookeeper storage size does not work for the already deployed zookeeper pods & also for the new/scaledup pods.

[code]

[2019-01-17 04:52] spiegela commented on #40
@deenav Kubernetes stateful-sets do not support changing a storage volume; therefore, the zookeeper spec will not support this either. The correct behavior will be to return an error when editing a resource with an increased storage size, which I will create an issue for.

[2019-01-17 12:12] adrianmo opened #42 "PVC are not deleted when ZK is deleted"
When a `ZookeeperCluster` resource is deleted (i.e. `kubectl delete zk example`), PVC are not automatically deleted. PVC should have owner reference information so that they are attached to the CR lifecycle.

[2019-01-17 12:57] spiegela commented on #42
This is actually a feature of the StatefulSet-Set that creates the PVCs: https://kubernetes.io/docs/tasks/run-application/delete-stateful-set/#persistent-volumes

Kubernetes does not delete the PVCs for an STS to prevent accidental data loss and to cover scenarios when you want to recreate an STS.

If this functionality (deleting the PVC upon deletion of the ZK cluster) is required, then we could

[2019-01-21 21:39] spiegela commented on #42
@adrianmo please, let me know if you think an optional finalizer is needed for deleting PVCs. If so, I'll rename this issue and keep it.

[2019-01-21 21:41] spiegela commented on #36
Resolved per #41

[2019-01-21 21:41] #36 closed

[2019-01-21 21:42] spiegela commented on #29
Corrected per #41

[2019-01-21 21:42] #29 closed

[2019-01-21 21:42] spiegela commented on #8
Resolved per #41

[2019-01-21 21:42] #8 closed

[2019-01-21 21:43] spiegela commented on #4
Resolved per #41

[2019-01-21 21:43] #4 closed

[2019-01-21 21:44] spiegela opened #44 "Add Travis status badges to README"

[2019-01-21 22:39] #44 closed

[2019-01-22 08:30] adrianmo commented on #42
@spiegela I don't think we need a finalizer. Setting the ownership reference to the PVC object should be enough to tie the PVC lifecycle to the CR object.

This is how we do it in the Pravega operator: https://github.com/pravega/pravega-operator/blob/master/pkg/controller/pravegacluster/pravegacluster_controller.go#L252

The problem we were facing is that if a ZK cluster is deleted and recreated w

[2019-01-23 09:29] adrianmo opened #47 "Print operator version"
On startup, the operator should print its version and commit SHA. It will be very useful information for troubleshooting. Moreover, there should be a `-version` flag to print the version and exit.

[2019-01-24 08:23] #47 closed, assigned to adrianmo

[2019-01-26 00:52] spiegela opened #49 "Add coverage for error conditions in reconcile loop"

[2019-01-28 19:32] Tristan1900 opened #50 "Rbac error in all_ns and default_ns"
I am having troubles creating rbac in all_ns and default_ns.
I think problems are located [here](https://github.com/pravega/zookeeper-operator/blob/master/deploy/all_ns/rbac.yaml#L55) and [here](https://github.com/pravega/zookeeper-operator/blob/master/deploy/default_ns/rbac.yaml#L53).  The first one should have a namespace specified and the second one is using `default` instead of `zookeeper-oper

[2019-01-29 15:07] #50 closed

[2019-02-25 14:43] spiegela opened #53 "Add support for data-checking on container restart"
Currently the zookeeper-operator assumes that if a restarted instance's `zoo.cfg.dynamic` is valid, then so is the rest of the information under `/data`. The zookeeper operator should detect that a pod has been restarted with a valid `zoo.cfg.dynamic`, and then check the status of the data, restoring or removing the data if necessary.

[2019-03-01 20:08] jkhalack opened #54 "Resource Status not updated"
When deploying a zookeeper cluster with `0.2.0` zookeeper-operator, the `ZookeeperCluster` resource does not get the `Status` section updated and always stays at
[code]

*Example:*
We've deployed a zk-cluster in namespace `test-project` that is supposed to have three replicas.
Inspecting the related stateful set reveals that there are indeed three replicas running in the system:
[code]

Inspecting

[2019-03-01 20:09] jkhalack commented on #54
It seems to be the issue similar to #36.

[2019-03-01 20:12] jkhalack commented on #54
Not sure if it is related, but I'm noticing that `Affinity` section used to refer to `zookeeper-headless` service in `0.1.1`, but now it refers to just `zookeeper`, and there is no `zookeeper` service present in the namespace.

[2019-03-01 22:03] Tristan1900 commented on #54
I just download the 0.2.0 release and create a zk cluster using a custom namespace, but everything seems fine with the status. Is there anything to notice to reproduce the bug?

[2019-03-02 00:26] jkhalack commented on #54
Could you post the status here?

[2019-03-02 02:55] Tristan1900 commented on #54
@jkhalack  Sure.
[code]

[2019-03-04 15:28] jkhalack commented on #54
Thank you @Tristan1900

We also have the following kind of  recurring errors in zookeeper-operaror logs:

[code]

Was there any change from `0.1.1` to `0.2.0` that we might have missed?

[2019-03-04 16:46] jkhalack commented on #54
We are seeing the same issue when deploying pravega with `0.2.2` pravega-operator. There is a reconciler error in zookeeper-operator logs, and zk resource status never gets updated.

[2019-03-04 17:18] Tristan1900 commented on #54
Thank you @jkhalack
I feel that this is either a configuration error or an operator-sdk bug according to the log. The change is we use subresource for updating status and that perhaps is the root cause. Could you please show me the clusterrole and clusterrolebinding you are using right now? Also, what is the Kubernetes version you are using? Subresource is only supported v.1.11.0 afaik.

[2019-03-04 17:58] jkhalack commented on #54
I have v1.11.2 for client and v1.12.4 for server.

[2019-03-04 20:05] jkhalack commented on #54
Do I understand correctly that the user that deploys `zookeeper-operator` should have a clusterrole `cluster-admin`?
Or should `zookeeper-operator` be granted this role?

[2019-03-04 20:22] jkhalack commented on #54
Also I'm not sure why there is no namespace listed in the error message: `the server could not find the requested resource (put zookeeper-clusters.zookeeper.pravega.io zookeeper)`.
There is `test-project/zookeeper` in the request field, but then only `zookeeper` in the message.

[2019-03-05 16:42] adrianmo commented on #54
@jkhalack the error is being caused by your CRD specification. Recently, both Zookeeper and Pravega operator added support for the Status endpoint, adding a `subresource` block at the bottom of the file. Most likely, your CRD spec has not been updated and, therefore, the Status endpoint is not enabled on your `ZookeeperCluster` resources, giving you those errors.

You can check an updated CRD spec

[2019-03-05 16:46] jkhalack commented on #54
@adrianmo I did try with updated CRD, still no luck.

[2019-03-05 20:14] jkhalack commented on #54
Turns out the updated CRD did not work on a cluster with an older version of Kubernetes (1.10.5).
Deploying it on a cluster with v1.12.4 Kubernetes worked (no zk-operator errors and updated status on zk-cluster resource).

[2019-03-05 20:17] jkhalack commented on #54
@adrianmo and @Tristan1900 Thank you for the help!

I'm closing the issue.
The solution is to update the CRD spec as in https://github.com/pravega/zookeeper-operator/blob/master/deploy/crds/zookeeper_v1beta1_zookeepercluster_crd.yaml#L36 and use a cluster with 1.11.x Kubernetes version.

[2019-03-05 20:17] #54 closed

[2019-04-17 15:09] jadnhm opened #61 "unhealthy zookeepers"
Installed Nautilus to a new nightshift cluster, came back ~14 hours later and pravega bookie pods were crashing, zookeeper pods were running but unhealthy. Logs attached.
[code]

[bookies-crashed.log](https://github.com/pravega/zookeeper-operator/files/3090271/bookies-crashed.log)

[zk-0.log.zip](https://github.com/pravega/zookeeper-operator/files/3090277/zk-0.log.zip)

[2019-04-23 14:10] jkhalack commented on #42
Any chance the new `VolumeReclaimPolicy` parameter will be implemented soon?

[2019-04-24 15:07] bourgeoisor commented on #42
While it is a feature of StatefulSets to not delete the PVC if or when the Pods gets deleted (for any reason), I don't think that explains why the PVC remains if the StatefulSet _itself_ is set to deletion.
In other words, I think this could just be fixed by adding owner refs to those PVC's, linking back to the ZookeeperCluster resource itself.
Deleting the Pods may be something we want to protect

[2019-04-24 19:24] spiegela commented on #61
Based on the log attached, it appears that the _individual_ zookeeper node is ready, as it is responsing affirmatively, when queried with the `ruok` command in the readiness check.

It appears here that the _ensemble_ is not ready. This is likely due to delays in leader election between the nodes.

I think we should add another status check to the operator to ensure that the ensemble is ready and

[2019-04-24 19:29] spiegela commented on #42
Actually, it is also the case that if you delete a Kubernetes Stateful-Set the PVCs are still not deleted. This is by design to prevent the accidental loss of data.  In fact, there's an open issue in K8s SIG-Apps right now to look at ownership linking between PVCs and STS/Pods, but they have specifically elected _not_ to use owner-references, since deletion would trigger garbage collection of the

[2019-04-24 19:32] spiegela commented on #40
SIG Apps and SIG Storage are collaborating on a solution for this. Once volume expansion is supported in stateful-sets we will enable it in the ZK Operator.

[2019-05-02 21:06] HoustonPutman opened #63 "Allow Zookeepers to be run with ephemeral storage."
Currently the operator only allows for persistent volumes, however for certain use cases it can be very useful to have ephemeral storage instead of persistent storage.

This could be implemented like the etcd-operator, where `EmptyDir` is used when no PVC spec is provided. The issue there is that the change would be backwards incompatible. **The API documentation actually states that this is the b

[2019-05-13 15:52] #42 closed

[2019-05-14 14:22] adrianmo opened #65 "Docker images are released with a wrong tag"
Yesterday, @Tristan1900 and I released version 0.2.2. We created an operator release in GitHub, and then a [Travis build](https://travis-ci.org/pravega/zookeeper-operator/jobs/531865210) was triggered and [Docker images](https://cloud.docker.com/u/pravega/repository/docker/pravega/zookeeper-operator/tags) were created and pushed as part of the `deploy` stage.

https://github.com/pravega/zookeeper-

[2019-05-30 14:17] adrianmo commented on #65
In the meantime, I have manually pushed the images with the corrected tags.

[2019-05-30 18:20] Tristan1900 commented on #65
@adrianmo Thanks for the investigation! I think removing dirty flag seems easier. Indeed the Travis build is making changes, I think the dirty is caused by `skip_cleanup: true`. In the Pravega operator repo, make dep also changes the file sometimes but the change is cleaned up in the deploy stage.
As you may notice, this repo does not contain `/vendor` file, the `/vendor` is generated during the b

[2019-05-31 08:23] adrianmo commented on #65
@Tristan1900 sounds good to me. Let's remove the `--dirty` flag from the `git describe` command.

[2019-06-11 19:00] RaulGracia opened #66 "Wrong Cluster Membership in Dynamic Config File"
**Problem description**
We have suspicions that Pravega components (e.g., BK, SSS) are having trouble to interact with Zookeeper sometimes, which leads to failures. In this sense, an hypothesis we have is that the configuration of Zookeeper may be behind those problems. In a simple experiment, we deployed 3 Zookeeper instances with the Zookeeper Operator, and in the dynamic config file of each ins

[2019-06-12 02:05] spiegela commented on #66
@RaulGracia I was able to replicate the behavior you described; however, even with the `/data/zoo.cfg.dynamic` files being out of date, I can see that the correct configuration is available via CLI. I connected to the container via `bash` and ran:
[code]

I'm not sure why ZooKeeper wouldn't be overwriting the `zoo.cfg.dynamic`...  according to the [dynamic reconfiguration docs](https://zookeeper.a

[2019-06-12 02:12] Tristan1900 commented on #66
@spiegela I am also reproducing this error. I find if we have two nodes zk-0 and zk-1, when zk-1 is starting and tries to [reconfigure](https://github.com/pravega/zookeeper-operator/blob/master/docker/zu/src/main/java/io/pravega/zookeeper/Main.kt#L99), some error will happen in the zk-0. Here is the log in zk-0 when zk-1 starts.
[code]

[2019-06-12 02:18] spiegela commented on #66
I do see some relevant errors in the logs:
[code]

Kind of light on the details, but it wasn't able to write the new config file...  Oh.... I wonder if its because `/conf/zoo.cfg` is non-writable.  This [SO post](https://stackoverflow.com/questions/46078804/is-zookeeper-reconfig-expected-to-update-the-zoo-cfg-dynamic-file) indicates that the `zoo.cfg` file needs to be updated to point it at a new

[2019-06-12 02:20] spiegela commented on #66
@Tristan1900 I think that these are expected. The leader election won't be able to contact the new nodes until they become ready -- even in they're in as an observer, because readiness is required for DNS resolution.  That error will clear up once the node is promoted to a participant, and the readiness check returns a non-zero result.

[2019-06-12 02:23] spiegela commented on #66
If the issue is that `zoo.cfg` needs to be writable, we'll need to copy it from the config map into the `/data` directory alongside the dynamic config.

[2019-06-12 02:47] Tristan1900 commented on #66
Thanks for the clarification. And you are right about the cause, I just check `zoo.cfg`, it is indeed read-only.

[2019-06-12 02:57] spiegela commented on #66
Yeah, the docs don't mention that the "static" configuration files _needs_
to be writable. I thought based on them that the `zookeeper.cfg.dynamic`
would be modified in place. A good test would be to add a line in the
`zookeeperStart.sh` to copy `/conf/zoo.cfg` to `/data` and update the
`ZOOCFGDIR` environment variable to `/data` in the container.

On Tue, Jun 11, 2019 at 9:47 PM Wenqi <notificati

[2019-06-12 09:20] fpj commented on #66
That's correct, the static configuration is updated according to this code:

https://github.com/apache/zookeeper/blob/f63a831d67bd12303a3e1578126f2a09819fecd5/zookeeper-server/src/main/java/org/apache/zookeeper/server/quorum/QuorumPeer.java#L1720

It needs to be able to create a new dynamic configuration file and update the static configuration file to point to the latest configuration (that's for

[2019-06-12 11:57] pbelgundi commented on #66
I see that the static configuration file is writable by owner(root) :
[code]

[2019-06-12 15:35] spiegela commented on #66
@fpj Each node will start as an observer if it is not already part of the ensemble.  It uses the `zu` util in the container invoked by the [`zookeeperStart.sh`](https://github.com/pravega/zookeeper-operator/blob/master/docker/bin/zookeeperStart.sh#L101) script.  Then once started, if the zookeeper service is live, the readiness check script, `zookeeperReady.sh` will check to see if the node is a p

[2019-06-13 05:06] pbelgundi commented on #66
"/conf" seems to be read-only as  the operator has mounted this volume as source for a config map.
[code]
ConfigMap source volumes typically tend to be read-only:
https://github.com/kubernetes/kubernetes/issues/62099

However, this also means that moving zoo.cfg to /data will make the ConfigMap inconsistent.

[2019-06-13 05:13] pbelgundi commented on #66
Operator code that creates a config map on the "/conf" volume:
https://github.com/pravega/zookeeper-operator/blob/master/pkg/zk/generators.go#L104
https://github.com/pravega/zookeeper-operator/blob/master/pkg/zk/generators.go#L124

[2019-06-13 10:00] pbelgundi commented on #66
Another way to solve this could be to remove the config map from zookeeper operator code and have a 'pvc' for mount volume "/conf" so changes are not lost with pod failures.
That way "/conf" will no longer be read-only and things would work as expected.

Right now, I don't think  Zookeeper uses the config map generated by zk-operator, since it is reading all configurations directly from files unde

[2019-06-13 10:24] pbelgundi commented on #66
Volume Mounted Config Maps are updated automatically.
From K8s documentation:
[code]
However, in our case the problem is that zk directly tries to update the config files instead of updating the config map.

[2019-06-18 19:11] zanoubia opened #68 "Allow offline use"
Hello,

In an offline env where we have a private registry (usually mirroring dockerhub)

- [ ] Add a env var to dockerfile to set the registry to use for emccorp/zookeeper image., which will allow to build a custom image without changing the code

or/and

- [ ] make the registry to use in env variables of the operator (idk if possible)

Thank you

[2019-06-21 10:52] fpj opened #70 "Revisit logic to make server participant in zookeeperReady.sh"
Based on this thread about the process of making a server a participant in PR #69 :

https://github.com/pravega/zookeeper-operator/pull/69/files#r295982466

It is unclear why we need to remove the server as a observer before we add it as a participant. The first step should not be needed.

[2019-06-26 06:02] pbelgundi opened #71 "ZK Cluster fails to come up when re-created with old PVCs"
Steps to Reproduce:
1. Create a zookeeper operator and cluster.
2. Once cluster is up and running, delete cluster using `kubectl delete zk<zk-cluster-name>`
3. Try to re-create cluster using same .yaml file as before.
4. First server (zk-0) comes up correctly, but 2nd server hangs indefinately in `crashLoopBackOff` state. Other servers are never created.

Expected:
Zk Cluster should get re-created

[2019-06-26 14:51] chaicesan commented on #2
When I update the cluster spec and run `kubectl apply -f path/to/spec.yml` I see no change in the number of pods/desired replicas. I try to scale up from 3 to 5 and I have enough nodes on GKE. What is going on?

[2019-06-27 21:05] fpj commented on #5
@spiegela could you elaborate on what kind of rolling upgrade support you are referring to when you say that it should work?

[2019-06-28 04:55] #66 closed

[2019-07-01 18:25] RaulGracia opened #72 "Slow Zookeeper Pod Recovery (in PKS)"
**Problem description**
In PR #69, the membership management of a Zookeeper cluster has been fixed. That is, at this point a Zookeeper ensemble has a consistent configuration along time, even in the presence of pod restarts.

However, during the investigation of #69, another problem popped up: _the long time it takes for Zookeeper to recover from pod deletions/restarts in PKS_. Zookeeper is a crit

[2019-07-01 18:54] EronWright commented on #72
I observe that the startup script is connecting to ZK via the `zookeeper-client` service, which routes thru a K8 load balancer (and may have platform-specific behavior).  Maybe the script should use the headless service, to let the ZK CLI figure out which member to connect to.

[2019-07-02 04:09] pbelgundi commented on #72
Tried using the zk-headless service instead of zk-client service for connecting to zk-server and still noticed the same hang on PKS machines as in case of the zk-client.

[2019-07-02 06:58] RaulGracia commented on #72
We have also tested using a larger readiness probe interval without success.

[2019-07-03 05:13] Tristan1900 commented on #72
One temporary fix has been tested to work by @RaulGracia and me. The fix is to modify this [value](https://github.com/pravega/zookeeper-operator/blob/master/docker/zu/src/main/java/io/pravega/zookeeper/Zookeeper.kt#L20) to be 1 and the restarted pod will be able to connect quickly. On `Nightshift` and `Frost`, it can reconnect within 4 minutes, on `Shipyard` it takes longer but still better than b

[2019-07-13 22:10] donbowman opened #74 "Should support and default to zookeeper official image"
3.5 zookeeper has an `official` image on Dockerhub [here](https://hub.docker.com/_/zookeeper).

the emccorp one its not clear its maintained, the latest is 6 mo old and is pre-release.

should switch to default to the _official_ image.

this also means changing the `command`

[2019-07-13 23:15] spiegela commented on #74
Actually the Docker container file for `emccorp/zookeeper` is included within this repo. We should bump it to the 3.5 final, but it is required as it has several scripts used for custom startup, readiness and liveness checks.

[2019-07-14 15:53] donbowman commented on #74
i would recommend mounting the scripts u need as configmaps, then u can use the upstream directly.
this is how i did the helm change.
https://github.com/helm/charts/pull/11343

[2019-07-29 20:23] mdharper opened #75 "storageClassName not applied from ZookeeperCluster yaml"
I've been trying to get the example zk cluster running while specifying a specific storageClass via the PersistentVolumeClaimSpec that's under "persistence" in the ZookeeperCluster yaml and it doesn't appear to be applying that field. It keeps attempting to apply the cluster's default storage class.

[code]

[2019-08-01 21:32] EronWright commented on #5
I assume that rolling upgrade here means to upgrade the ZK servers in an online fashion without downtime.  This is said to be possible with ZK 3.5+.   Last time I looked at the documentation, I got the impression that the procedure must, at each step, wait for the ZK server to rejoin the ensemble (specifically by looking at the results of `stat` command).   To interoperate with `StatefulSet` and i

[2019-08-17 03:08] abh commented on #74
Putting scripts in configmaps sounds ... not great.  Liveness and readiness checks might be able to fit in a sidecar (not the custom startup scripts though, most likely).

Maybe the official images will take patches to support the things we need here?

[2019-08-17 03:26] abh opened #76 "second zk pod doesn't get ready"
I tried starting a simple cluster (using the "latest" image built in late July). The second pod ("zk-cluster-1") never gets ready and the third doesn't start up.

`describe pod zk-cluster-2` says:

[code]

Logs from the second pod just shows the localhost `ruok` requests. On the first pod ("zk-cluster-0") it shows the connections from the first pod, but I guess it never successfully joins the clus

[2019-08-17 03:34] abh commented on #76
(same result with 0.2.2, it looks like -- I deleted the cluster and the PVCs and recreated the cluster after downgrading the operator).

[2019-08-20 11:58] pbelgundi commented on #5
I tried upgrading a zookeeper cluster from its earlier version to a newer version ( from 0.2.1 to 0.2.2 ) using `kubectl edit zk <zookeeper-clusr-name>` and the upgrade completed successfully without any errors.
Post upgrade, the zk image version displayed on pods and the zk object was 0.2.2 and leader election completed successfully post upgrade and all zk servers were running successfully as par

[2019-08-27 09:56] priyavj08 commented on #75
I am facing the same issue. How to specify custom storageClassName to be used in PVC that gets automatically created?

thanks

[2019-08-30 22:47] spiegela commented on #74
Another option would be to add an initContainer that populates the `/data` volume with the required scripts and the `zu` utility.  @EronWright Do you have an opinion on this?

[2019-08-30 22:52] spiegela commented on #76
@abh Sorry for the delay. I thought I had responded to this when you logged the issue originally, and just looked again at it.

I have seen similar issues with `kubedns` isn't returning responses to the headless service.  The joining nodes must be able to reach the 1st node in order to register as part of the ensemble.  Can you test lookups from outside the `zk-0` pod?  The zookeeper image we use

[2019-08-30 22:53] spiegela commented on #75
@vgupta-mickey I thought we had a fix for this issue. Could this be a regression?

[2019-08-30 23:31] spiegela opened #77 "Zookeeper pre-stop hook failes when cluster hasn't started"
The Zookeeper pre-stop hook de-registers a node from the ensemble before it the node stops.  When deleting an instance, the ensemble may not be available to remove the node, creating an warning K8s event.

[code]

[2019-09-03 18:56] EronWright commented on #74
From an OSS perspective, it does seem good to use the stock image.   I don't know enough about the scripts to have a strong opinion.   The sidecar pattern is highly useful for liveness checks, as mentioned above.  I would strive for that if possible.

[2019-09-04 10:30] priyavj08 commented on #75
hi, any update on this. appreciate your help

[2019-09-09 17:54] prune998 opened #78 "allow to set a SeviceAccount to cluster Statefulset"
We need to be able to define a Kubernetes `ServiceAccount` in the Statefulset, so we can use images from private repositories (with specific ImagePullSecrets).

[2019-09-19 13:38] SrishT opened #80 "Zookeeper health check"
This is to add Helm Charts to Zookeeper so as to implement `helm test` on it so that post an upgrade we can determine whether the upgrade was successful or not by simply running a `helm test <release-name>`

[2019-09-23 08:44] #80 closed

[2019-09-25 17:26] RaulGracia commented on #72
As an update, this issue only occurs in PKS, either on-premise or deployed in AWS. Conversely, the issue does not appear in EKS or GKE and pods recover within 1-2 minutes.

[2019-09-27 09:27] langruixiang commented on #5
I tried rolling upgrade the cluster by `kubectl edit` pullPolicy field (just in order to trigger a rolling update). First time, it succeed as @pbelgundi said. Second time, the `pod/example-1` can't get ready for a long time (even more than 2h).
<img width="680" alt="zk_rollout_pod" src="https://user-images.githubusercontent.com/15683282/65758592-e9a1c280-e14b-11e9-93c4-fd0770121ebd.png">
Here is t

[2019-09-29 20:19] SrishT opened #82 "Upgrade to Zookeeper image 3.5.5"

[2019-10-01 15:00] #82 closed

[2019-10-02 15:32] RaulGracia opened #84 "Persistence section in manifest seems mandatory"
**Problem description**
The sample manifest in the README does not work with the latest version of the Zookeeper operator. The main reason is that the `persistence` section seems to be mandatory, probably from PR #62. If it is not set, the Zookeeper operator throws a cryptic error and Zookeeper is not deployed:

[code]

Adding the `persistence` section to the manifest fixes the problem and allows

[2019-10-04 08:32] pbelgundi opened #85 "Set appropriate default zookeeper image"
The default image used to deploy zookeeper, in the absence of any image being provided in the manifest, is `emccorp/zookeeper:3.5.4-beta-operator`. This image does not have the fix for issue #66 and hence causes problems when developer is not careful enough to specify the right image in the manifest.
Please change the default zookeeper image to pravega/zookeeper:0.2.3

[2019-10-04 11:53] #85 closed

[2019-10-09 17:31] pbelgundi opened #89 "Fix Windows Cross compilation failure"
Since last 2 days, `make build-go` fails without any changes to zookeeper-operator code, with this error:
[code]
This error was seen only with go versions < 1.12.
Hence need to upgrade go version used by zk-operator to 1.12+

[2019-10-09 21:35] praseedasathaye opened #90 "Can we use this operator to deploy zookeeper nodes across multiple clusters and multi-data center"
Basically is this using  reconfig API is being used when zk nodes come up/goes down across cluster/data-center?

[2019-10-10 21:54] #89 closed

[2019-10-11 12:31] pbelgundi opened #91 "PrestopHook configured for zookeeper cluster always fails"
This hook is invoked by kubernetes when we try to gracefuly delete a pod in the cluster.
Exception noticed:
"
Warning  FailedPreStopHook  11s  kubelet, 12bb6b0d-8b46-4a58-bd42-5051288f62d5  Exec lifecycle hook ([zookeeperTeardown.sh]) for Container "zookeeper" in Pod "example-2_default(2e958a3d-ec21-11e9-8087-005056b6cc60)" failed - error: command 'zookeeperTeardown.sh' exited with 137: + source /

[2019-10-21 10:28] pbelgundi opened #92 "Zookeeper pods fail to come back up when > quorum number of pods are deleted."
Steps to Reproduce:
1. Create a 3 node zookeeper cluster.
2. Once cluster is up and running delete 2 or more pods from the cluster using `kubectl delete`.
3. The new restarted pods are not able to join back the zk cluster becuase of lack of quorum and logs show the following error message:
"
Error performing zookeeper reconfiguration:
org.apache.zookeeper.KeeperException$NewConfigNoQuorum: KeeperE

[2019-10-21 10:28] pbelgundi commented on #92
To fix this issue properly it is important to change the way we handle pod restart in zookeeper and zookeeper-operator.

Currently, everytime a zk server goes down, the `tearDown` script removes it from the zk ensemble and the startup script tries to add it back again.

This works fine as long as we have > Quorum number of servers available. However, when we have < quorum servers in Ready state, t

[2019-10-24 23:21] praseedasathaye commented on #90
Any information on this?

[2019-10-31 05:31] #92 closed

[2019-10-31 05:48] pbelgundi opened #94 "Zookeeper instances fail to start on second scale up"
## Problem description
Had a pravega installation with 7 zookeeper .
scaled down zk from 7 to 5 and then 3 .
IO was running fine .No pod restarts were observed.
Later on scaled up from 3 instances of zookeeper to 5 instances .
observed zookeeper pods restarts
Error observed:

2019-10-17 10:05:58,998 [myid:6] - ERROR [main:QuorumPeerMain@101] - Unexpected exception, exiting abnormally
java.lang.Run

[2019-10-31 06:09] pbelgundi commented on #94
Could consistently reproduce this issue on zk server "scale up" for the second time.

This issue occurs when  zk server is "scaled up", "scaled down" and then "scaled up" again and a newly starting pod points to an existing PVC that has stale configuration on it.

It is not reproducible by restarting existing servers or on first scale-up/scale down.

[2019-10-31 06:09] pbelgundi commented on #94
when cluster is "scaled down" after being "scaled-up" the new PVCs created during scale-up are not deleted/removed on "scale down". Hence on the next scale-up these are re-attached to the newly added pods and have inconsistent state information.

Zookeeper-operator does have a finalizer for removing PVCs on cluster delete, but it does not seem to work as expected in this case.

[2019-10-31 11:46] Richa-Srivastava opened #95 "Restrict to modify the ZookeeperCluster "version" field if there is an active Upgrade going on"
Restrict to modify the ZookeeperCluster "version" field if there is an active Upgrade process is going on.
Right now, it is allowed to modify the "version" field of ZookeeperCluster through kubectl edit ZookeeperCluster when there is an active Upgrade is going on.

[2019-11-13 16:45] #94 closed

[2019-11-15 11:20] ekarlso opened #98 "Move to modules for dependencies & pin k8s versions to 1.15.x"
This is mostly a developer sanity request to be able to move out of GOPATH and what not now when the whole Go system (even kubernetes itself!) is starting to use it.

[2019-11-15 11:36] ekarlso commented on #98
/assign ekarlso

[2019-11-18 09:28] pbelgundi commented on #71
This is no longer supported after these PRs:
https://github.com/pravega/zookeeper-operator/pull/96
https://github.com/pravega/zookeeper-operator/pull/93

[2019-11-18 09:28] #71 closed

[2019-11-19 12:30] #95 closed

[2019-11-20 10:07] pbelgundi opened #101 "Zookeeper Operator upgrade fails because of readiness check in deploy file"
Tried upgrading zookeeper-operator from version 0.2.4 to 0.2.5-rc0 and upgrade got stuck when this readiness check for specified in the operator manifest:
[code]
On removing this check, initial deployment and upgrade both completed successfully.
This check needs to be removed/corrected in operator deployment manifest

[2019-11-23 15:38] leonj1 commented on #90
K8s operators work on single clusters, not multiple. I doubt this will help you.

[2019-11-27 15:38] sylvainOL opened #102 "Zookeeper Cluster can't start when istio is used"
Hello,

I've deployed a kubernetes cluster with istio.
When trying to deploy a 3 nodes ZooKeeper Cluster, the second one can't start because of immediate closed connections.

As banzai cloud has made a blog post on Kafka (+ZK?) on Istio (https://banzaicloud.com/blog/kafka-on-istio-performance/), and they propose to use your operator (https://github.com/banzaicloud/kafka-operator), I assumed it's p

[2019-12-02 10:02] RaulGracia commented on #72
This has been fixed in this PR #93.

[2019-12-02 10:02] #72 closed

[2019-12-04 11:12] maddisondavid opened #103 "Scale Down doesn't work with multiple ZK Clusters"
During Scale Down the ConfigMap is updated with a new `CLUSTER_SIZE`, there's a wait (6 reconcile loops) and then the StatefulSet replicas are updated.  This triggers the `zookeeperTeardown.sh` script when the StatefulSet attempts to to remove the POD which in turn allows the dying node to be gracefully removed from the ensemble.

The problem is that the number of reconcile loops is stored in Oper

[2019-12-04 11:19] maddisondavid opened #104 "Scale Down may not wait long enough before destroying PODs"
The Scale Down logic currently waits for the ConfigMap to be updated and then 6 reconcile loops before updating the Statefulset.  The reconcile Loop wait I suspect is a way of waiting until the PODs have received the new ConfigMap environment variables.

The problem is that this sync be up to 1 minute (by default)

https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#m

[2019-12-04 12:33] maddisondavid commented on #103
Another problem is that if there are any clusters NOT downscaling, they will be resetting `skipSTSReconcile` at least every 30 seconds.  This will stop any cluster attempting to downscale from updating the StatefulSet as the `skipSTSReconcile` will keep being reset to `0` and will never be `> 6`

[2019-12-05 12:49] seecsea commented on #102
Occur the same:
I use the yaml from git repo,not helm

kubectl describe pod zookeeper-operator-8449df9744-lkx9j
Events:
  Type     Reason     Age                         From                 Message
  ----     ------     ----                        ----                 -------
  Normal   Scheduled  2d11h                       default-scheduler    Successfully assigned default/zookeeper-operator-84

[2019-12-05 12:55] ksponomarev commented on #75
Hi, I have the same problem with `persistent volumes`
My `zk.yml` looks like  this:
[code]
After deploy I have `PVC` in Pending status and  looks like this:
[code]

Thanks

[2019-12-05 16:04] seecsea opened #105 "customize the zookeeper image repo"
the zookeeper image is set to pravega/zookeeper:latest default
If I do not use command "make build" from Makefile myself,how can I use myself image registry just like 172.31.0.8/pravega/zookeeper:latest?
and,where I can find the Dockerfile of pravega/zookeeper:latest?
Thanks a lot!

[2019-12-05 16:10] spiegela commented on #105
Yes, it is fine to do so.  In fact, if you use the bundled Helm chart you can set the registry/repository with `helm install --set image.repository=172.31.0.8/pravega/zookeeper`

[2019-12-05 16:13] spiegela commented on #102
@seecsea @sylvainOL Thanks for reporting this. I'll take a look ASAP.

[2019-12-06 02:46] seecsea commented on #105
If I do not use Helm,and then how can I?

[2019-12-06 04:05] spiegela commented on #105
@seecsea you can set the image in the zookeeper cluster spec like so:
[code]

[2019-12-10 12:59] shukalo83 opened #106 "No zookeeper pods"
Hello,

After I successfully installed the operator and started the example cluster, nothing happens.
[code]
Here's the zk resource description:
[code]
But no pods anywhere:

[code]

I'm using rancher k3s:

[code]

[2019-12-11 07:10] priyavj08 commented on #105
when I set the image in the zk cluster spec, I see the following error in operator log

E1211 07:05:55.907708       1 reflector.go:134] sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:126: Failed to list *v1beta1.ZookeeperCluster: v1beta1.ZookeeperClusterList.Items: []v1beta1.ZookeeperCluster: v1beta1.ZookeeperCluster.Spec: v1beta1.ZookeeperClusterSpec.Image: readObjectStart: ex

[2019-12-11 15:19] shukalo83 commented on #106
Is there a way to debug the operator and see why the pod creation failed?

[2019-12-12 03:05] pbelgundi opened #107 "Allow external dns annotations to be added to zookeeper client service"
Allow external DNS annotations to be added to the zookeeper client service, so we could use a service name to point to the zookeeper cluster.

[2019-12-12 03:24] pbelgundi opened #108 "Remove size field from zookeeper operator"
Currently there are 2 fields `size` and `replicas` that serve the same purpose.
Size was deprecated about 10 months ago, but is still mentioned in the documentation and may be used in some places in the code.
We need to have just 1 field for cluster size to avoid confusion and bad user experience.
Charts also need to be updated to use the new `replicas` field.

[2019-12-12 06:06] priyavj08 commented on #105
@spiegela  please let me know if I am doing anything wrong, my cluster spec looks like this

apiVersion: "zookeeper.pravega.io/v1beta1"
kind: ZookeeperCluster
metadata:
  name: RELEASE-NAME-affirmedzk
spec:
  image: <server>/pvijaya/home/priya_vijaya/cna/cna-zookeeper-zookeeper-dbg:1.0.0-2
  persistence:
    reclaimPolicy: "Delete"
    spec:
       storageClassName: zksc
       accessModes:

[2019-12-12 10:37] shukalo83 commented on #106
Anyone? Just a hint is ok.

[2019-12-12 14:48] spiegela commented on #106
@shukalo83 probably the best place to start will be the logs for the zookeeper-operator pod to see if it logs anything pertinent when trying to create the underlying services, and stateful-set for the ZK cluster.

If that shows nothing interesting you can also look at the kube-system controller-manager to see if there’s a broader issue.

I don’t know that we’ve tested K3s at all quite yet...

[2019-12-12 14:50] spiegela commented on #105
@priyavj08 the custom image cannot be a local path. Instead, it will need to be hosted on a network accessible Docker registry— accessible from your Kubelet hosts.

[2019-12-12 15:45] priyavj08 commented on #105
@spiegela yes it is on our own docker registry, sorry i missed some part of the path, it is something like this
  image: cnreg-dev:5000/pvijaya/home/priya_vijaya/cna/cna-zookeeper-zookeeper-dbg:1.0.0-2

[2019-12-16 11:53] priyavj08 commented on #105
@seecsea were you able to specify image path for zookeeper image and get it to work.
 For me , operator throws error like this
Failed to list *v1beta1.ZookeeperCluster: v1beta1.ZookeeperClusterList.Items: []v1beta1.ZookeeperCluster: v1beta1.ZookeeperCluster.Spec: v1beta1.ZookeeperClusterSpec.Image: readObjectStart: expect { or n, but found ", error found in #10
and I am kind of blocked by this. ap

[2019-12-23 06:00] pbelgundi commented on #106
@shukalo83 Do you see the pod for zookeeper-operator in "running" state, like this:
[code]

If not, perhaps you haven't created the necessary service account, role and role-binding due to which deployment is blocked.
These are created by this command, as mentioned in the ReadMe:
[code]
Please follow instructions mentioned in the Readme in strict order for setting up zk operator and cluster.

[2019-12-23 07:51] seecsea commented on #105
I tried some ways,but I cannot make it work now.

[2019-12-23 08:54] priyavj08 commented on #105
@spiegela  any pointers on this please?

[2020-01-02 13:44] seecsea commented on #105
@priyavj08 Hi,guys,I make it work now.
zookeeper-operator/pkg/apis/zookeeper/v1beta1/zookeepercluster_types.go
// ContainerImage defines the fields needed for a Docker repository image. The
// format here matches the predominant format used in Helm charts.
type ContainerImage struct {
        Repository string        `json:"repository"`
        Tag        string        `json:"tag"`
        PullPol

[2020-01-07 02:42] #105 closed

[2020-01-07 09:56] priyavj08 commented on #105
thanks @seecsea

[2020-01-08 21:20] smiklosovic opened #114 "I am not able to generate crds from current master"
I am getting this:

[code]

I am not sure I am getting that right but are not crds in deploy obsolete? Where are all the fields in these specs?

[2020-01-10 13:02] #108 closed

[2020-01-15 12:28] cd1989 opened #116 "The used Zookeeper image doesn't work."
Entrypoint `/usr/local/bin/zookeeperStart.sh` of `pravega/zookeeper:0.2.5` has following logic:

[code]

But `$CONFIG` is not set.

After changed to following, it works:

[code]

[2020-01-22 06:06] priyavj08 opened #117 "Is there a way to configure Volumeclaimtemplates in zookeeper cluster yaml"
I want to be able to configure my own PVC in zookeeper cluster, does the operator support it?

[2020-01-22 11:12] okhotnikov-aa opened #118 "Hardcoded cluster domain name"
Hi,
cluster domain name hardcoded as cluster.local
`func headlessDomain(z *v1beta1.ZookeeperCluster) string {
	return fmt.Sprintf("%s.%s.svc.cluster.local", headlessSvcName(z), z.GetNamespace())
}`
,so you cant resolve names of pods, if your cluster domain name is different.

Actually, looks like svc and cluster domain section may be not neccessary, because pods can resolve names using only servic

[2020-01-30 04:23] #107 closed

[2020-02-02 19:35] AdheipSingh opened #121 "Pod Management Policy"
https://github.com/pravega/zookeeper-operator/blob/007fc48abcfb6d1fcf2c5b0d892caf577d15322b/pkg/zk/generators.go#L64

Any specific reason for  hardcoding  OrderedReady. I was planning to implement parallel as pod management policy, as i am running combined scripts which shall launch zookeeper+druid stack in a go.

[2020-02-05 06:24] hayorov commented on #75
100% working CR example is

[code]

tested with `zookeeper-operator-0.0.2` from repo `banzaicloud-stable/zookeeper-operator`

[2020-02-07 09:11] anishakj opened #122 "Creating seperate Docker file for Docker swarm tests"
With the `zookeeper:3.5.5`  `nestat` health check got removed. If we want to check zookeeper status using `ruok` command   needs to whitelist this in `zoo.cfg`.(`4lw.commands.whitelist=stat, ruok, conf, isro`  ).  Creating a new docker file for  that

[2020-02-10 10:02] #122 closed

[2020-02-11 09:27] SrishT opened #124 "Replicas additionalPrinterColumn of the Zookeeper Cluster prints incorrect value"
The additional printer column `Replicas` which is part of the Zookeeper Cluster CRD prints the value in `.Status.Replicas` field of the Zookeeper Cluster object which is incorrect. This value should be picked from the object `Spec` and not its `Status`.

[2020-02-12 12:47] kong62 opened #125 "annotations does not take effect"
[code]

I can not find annotations with sidecar.istio.io/inject: false

[2020-02-12 13:04] alihalabyah commented on #102
Any updates here?

[2020-02-13 07:12] pbelgundi opened #126 "Zookeeper Server 1 onwards configuration gleaned from ensemble is not correct."
This is a bug in the zookeeperStart.sh script.
At this line we try to write to dynamic configuration file the config gleaned from ensemble but that variable is infact uninitialized:
https://github.com/pravega/zookeeper-operator/blob/master/docker/bin/zookeeperStart.sh#L92

[2020-02-13 15:11] AceHack opened #128 "Leader election failing when pod restarts"
We are running into the following known Zookeeper bug

https://issues.apache.org/jira/browse/ZOOKEEPER-2164

As a workaround, we are running the following liveness probe:

`liveness-check`
[code]

`helm chart`
[code]

The script will ensure:

- if the replica count is set to 1
  - then the 1 zookeeper instance should be running in standalone mode
- if the replica count is greater than 1
  - then a

[2020-02-13 15:19] AceHack commented on #74
We would like to see this, any new thoughts on using this?

[2020-02-24 05:29] pbelgundi commented on #106
@shukalo83 do you still see this issue?
If not, we would like to close it.

[2020-02-24 05:29] #106 closed

[2020-02-27 13:03] pbelgundi commented on #121
@AdheipSingh Its a lot easier to bring up the cluster **correctly** with _OrderedPodManagement_ Zookeeper requires that not more than 1 joining server in the initial configuration should be a 'participant' else it could lead to a split brain situation :

See "Warning" in this section of Zookeeper documentation:
https://zookeeper.apache.org/doc/r3.5.5/zookeeperReconfig.html#ch_reconfig_dyn

Would l

[2020-02-28 05:05] #103 closed

[2020-02-28 09:07] pbelgundi commented on #104
Fixed by PR: https://github.com/pravega/zookeeper-operator/pull/120

[2020-02-28 09:07] #104 closed

[2020-02-28 09:08] pbelgundi commented on #126
Closed by PR: https://github.com/pravega/zookeeper-operator/pull/120

[2020-02-28 09:08] #126 closed

[2020-02-28 09:09] pbelgundi commented on #116
Fixed by https://github.com/pravega/zookeeper-operator/pull/120

[2020-02-28 09:09] #116 closed

[2020-02-28 15:24] #124 closed

[2020-03-03 09:51] pbelgundi commented on #117
Volume claim templates can be configured using the "persistence" field in the yaml file.
https://github.com/pravega/zookeeper-operator/blob/master/pkg/apis/zookeeper/v1beta1/zookeepercluster_types.go#L366

[code]

[2020-03-03 09:51] #117 closed

[2020-03-04 11:31] amuraru opened #132 "ZK Ensemble fails to bootstrap if headless domain DNS resolution is failing"
During bootstrap, observer nodes (nodes: 2,...) fail to register if kubernetes headless DNS fails to bootstrap fast enough.
In our environment this reproduces in K8s environments where the ensemble DNS domain is registered
in cluster DNS but it takes some time to propagate.
In turn, when observer nodes are starting first the `nslookup` fails and renders the whole peer DYNCONFIG empty and never ret

[2020-03-06 09:19] pbelgundi opened #134 "Support zookeeper cluster setup on minikube"
### Description
Current when we try to setup zookeeper cluster using zk-operator on minikube we face issues related to nslookup or other problems.

### Importance
must-have

### Suggestions for an improvement
This JIRA tracks changes necessary to support zookeeper cluster setup on any minikube.

[2020-03-06 20:45] amuraru commented on #132
Fixed by #129

[2020-03-06 20:45] #132 closed

[2020-03-09 12:20] KlavsKlavsen opened #136 "storage management?"
A ZookerCluster takes up 20GB og space per instance - ie. 60GB in total.. I can't find anywhere that documents how to specify a different disk size? 60GB is a rather large size..
and how can this be resized (up/down) ?

[2020-03-09 13:29] KlavsKlavsen commented on #136
The helm chart for ZookeeperClsuter - also does NOT allow for specifying amount of disk space allocated :(

[2020-03-09 13:57] spiegela commented on #136
@KlavsKlavsen You're correct that the Helm chart in this project is too simple.  We really only use it as an example chart implementation as our other projects are creating their own charts, but I think that it should be expanded to include more of the available options.

The ZK Operator does support customizing a number of storage options for the ZookeeperCluster instances. The [persistence spec

[2020-03-09 14:06] KlavsKlavsen commented on #136
So I can set:
[code]
? a yaml example would be nice :)

[2020-03-09 20:08] spiegela commented on #136
Yes, that's right.  Here's a full YAML example:

[code]

The `persistence.spec` section uses the `PersistentVolumeClaimSpec` API, so any fields in that should be passed to the volumes:  `AccessModes`, `Selector`, etc. However, they must be compatible with a `StatefulSet` type, which the ZK Operator uses as a secondary resource.

[2020-03-10 16:30] anishakj opened #137 "Zookeeper cluster upgrade is failing"
Zookeeper cluster upgrade is failing from `0.2.5-rc0` to `0.2.6-rc0` . While trying upgrade pods are reaching `CrashLoopBack` state

[2020-03-11 06:15] #137 closed

[2020-03-11 09:16] KlavsKlavsen commented on #136
Thank you.. Would you appreciate a PR for extending the helm chart in this repo - so it allows setting storageclass, storage-size and image details ? and perhaps allow for a hash of labels - all of them with no defaults set (so it uses what the operator sets when none is given)

[2020-03-11 09:25] anishakj opened #139 "Zookeeper operator is not updating cluster status correctly"
If zk operator and zk cluster are deployed in different namespaces,  the last successfully deployed pod is never marked ready by the operator. And due to that cluster status is not ready
[code]

[2020-03-11 12:01] mp-007 commented on #118
What is the staus here ?

Overwriting domainName should fix the problem ?

`return fmt.Sprintf("%s.%s.svc.%s", headlessSvcName(z), z.GetNamespace(), z.Spec.DomainName)`

[2020-03-12 07:52] #139 closed

[2020-03-16 21:51] TristanCacqueray opened #141 "Support for TLS configuration"
It seems like ZK needs a bunch of pkcs or jks files and a keystore password along with this zoo.cfg addition to setup TLS:
[code]

I guess a couple of options are possible:
* Support a user provided secret with all the information to setup TLS.
* Add a toggle to activate automatic TLS configuration, and the zookeeper-operator would create and manage the secret. Unfortunately, it seems like the cer

[2020-03-16 22:46] TristanCacqueray commented on #141
Actually it seems like we don't need jks and a keystore password, which may be compatible with what current cert-manager can provide.

[2020-03-17 06:00] amuraru opened #142 "ZK Operator should be able to watch a configurable set of namespaces"
Controller-runtime added support in newer version to configure controllers to watch a certain set of namespaces.
As it is now the operator can be configured to `watch` either _ALL_ or a single _Namespace_
In environments where multiple instances of ZK clusters are required, having a single operator overseeing multiple instances across many NS, simplifies the deployment.

[2020-03-17 06:01] amuraru commented on #142
I have a working version on my fork and happy to submit a PR here, but it depends on https://github.com/pravega/zookeeper-operator/pull/99 so we need that first in.

[2020-03-17 23:59] jdmaguire commented on #142
There's a way to get it to watch _ALL_ namespaces? Is that just through deploying the operator bare or is there a way to kick the chart to do it?

[2020-03-18 00:00] jdmaguire commented on #142
Sorry for that 😅 Hit `Close` by mistake. I'm used to `Cancel` being there.

[2020-03-20 05:12] pbelgundi opened #144 "Add E2E functional/regression tests for zookeeper-operator"
planning to run the below basic tests as part of travis build
1. Create zk cluster
2.Delete zk cluster
3. Scale zk cluster
4. Upgrade zk cluster

[2020-03-23 05:02] #134 closed

[2020-03-23 05:10] anishakj opened #146 "Zookeeper operator upgrade is failing"
Not able to upgrade zookeeper-operator , getting the below error. Tried upgrade from `0.2.5-rc0` to `0.2.6-rc1`

[code]
kubectl logs output
[code]
[code]

[2020-03-23 11:51] #98 closed

[2020-03-23 18:25] amuraru commented on #146
seem related to https://github.com/pravega/zookeeper-operator/pull/135

[2020-03-24 06:43] pbelgundi commented on #90
@praseedasathaye This zookeeper operator can be used to deploy and manage multiple zookeeper clusters across namespaces.

[2020-03-24 06:51] amuraru opened #147 "Upgrade controller-runtime library to 0.5"
sigs.k8s.io/controller-runtime lib is quite old.
Updating [to a newer release](https://github.com/kubernetes-sigs/controller-runtime/releases
) is required for new features like https://github.com/pravega/zookeeper-operator/issues/142

@ekarlso had also a lib update script that may be useful to import:
https://github.com/ekarlso/zookeeper-operator/blob/e1201ff33a364c31a2053bbef20a1df4897710d2/scri

[2020-03-24 13:15] spiegela opened #148 "Create PR validation tasks in GithubActions"
PR validation tasks required:
- unit tests passed
- Go lint checking via `golangci-lint`
- Code quality and coverage should have positive change

Perhaps e2e tests should not be included in PR validation, and instead within release validation, but I'm open to discussion on this topic.  I'm also flexible on what code quality and coverage reporting we'd like to use, but I'm a fan of both [Codacy](co

[2020-03-24 13:16] spiegela opened #149 "Fix broken e2e tests"
After moving to the latest Operator-SDK End to End test are broken.

[2020-03-26 05:29] anishakj opened #150 "Helm install should allow WATCH_NAMESPACE to be passed in"
Description
Currently the Helm chart for the zookeeper Operator will ONLY watch for resources in the same namespace that the operator is installed:

        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace

https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper-operator/templates/operator.yaml#L27-30

Th

[2020-03-26 09:30] pbelgundi commented on #149
Duplicate for: https://github.com/pravega/zookeeper-operator/issues/144

[2020-03-26 09:31] pbelgundi commented on #148
@spiegela What does the scope of this issue cover other than E2E tests?

[2020-03-26 09:57] pbelgundi commented on #128
This issue seems to affect zookeeper releases till 3.5.7 and is fixed in 3.5.8 and 3.6.1

[2020-03-26 10:03] pbelgundi commented on #125
Currently there is no support for adding annotations on ZK pods.

[2020-03-26 10:12] pbelgundi commented on #114
@smiklosovic  Note that in CRDs with apiVersion v1beta1 specification of structural schema is optional and not mandatory:
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema
Hence in the crd.yaml specified in the deploy folder, we only specify the mandatory fields like apiversion, kind, metadata and some additional inf

[2020-03-26 10:20] pbelgundi commented on #91
Need to check if this is still reproducible and do RCA

[2020-03-26 10:22] pbelgundi commented on #84
Yes. for Pravega we need "persistence" section with "retainPolicy: Delete"

[2020-03-26 10:23] #84 closed

[2020-03-26 10:25] pbelgundi commented on #76
@abh This issue has been fixed in later versions.
Please try with latest zookeeper-operator version.

[2020-03-26 10:25] #76 closed

[2020-03-26 10:32] pbelgundi commented on #77
@spiegela There is lesser likelihood that this will happen now because we don't invoke reconfig everytime the server goes down and comes back up. Nevetheless there is value in implementing this, because whenever in the rare case it happens we must notify

[2020-03-26 10:34] #75 closed

[2020-03-26 10:43] #61 closed

[2020-03-26 10:45] #53 closed

[2020-03-26 10:45] pbelgundi commented on #53
This has been fixed recently.

[2020-03-26 10:45] #40 closed

[2020-03-26 10:46] #38 closed

[2020-03-26 10:47] pbelgundi commented on #32
https://github.com/pravega/zookeeper-operator/wiki/Contributing
This is fixed, so closing issue.

[2020-03-26 10:47] #32 closed

[2020-03-26 10:47] #31 closed

[2020-03-26 10:48] pbelgundi commented on #26
Fixed by : https://github.com/pravega/zookeeper-operator/pull/112

[2020-03-26 10:48] #26 closed

[2020-03-26 10:54] pbelgundi commented on #12
Same as: https://github.com/pravega/zookeeper-operator/issues/144

[2020-03-26 10:54] #12 closed

[2020-03-26 10:57] pbelgundi commented on #5
Zk Rolling upgrade is supported and tested. Hence closing this.
Incase this does not work for you please provide logs and file a new issue so we can debug the root cause.

[2020-03-26 10:57] #5 closed

[2020-03-26 11:02] pbelgundi commented on #6
@spiegela Zookeeper makes the following consistentcy guarantees:
https://zookeeper.apache.org/doc/r3.5.5/zookeeperProgrammers.html#ch_zkGuarantees

As long as we have atleast quorum number of servers running operator not have to worry about data consistency.

Do you mean adding support for backup and restore?

[2020-03-26 19:06] spiegela commented on #6
@pbelgundi My thinking here was to enable use of ZK snapshots for recovery of data after a pod restart.  This functionality should definitely be optional -- it doesn't make sense for ECS or Pravega use cases since the data quantities are small.  For large ZK installations, copying data from active quorum members can be very expensive in constrast to recovering from the local snapshots, and synchin

[2020-03-27 05:27] abh commented on #76
thank you!

[2020-03-27 10:26] anishakj commented on #146
This is a duplicate of issue https://github.com/pravega/zookeeper-operator/issues/101

[2020-03-27 10:35] anishakj commented on #101
In the case of rolling update of zookeeper-operator,  a deadlock occurs that prevents the new pod to become the leader.
Rolling update works as follows:

a. A new Pod is created
b. A new Pod tries to be the leader with call leader.Become function.
c. But the new Pod keeps waiting, as the old Pod is now the leader
d. If a new Pod is not the leader, file /tmp/operator-sdk-ready is will be not create

[2020-03-27 12:52] janhoy opened #153 "Support OLM and publish to operatorhub.io"
See https://operatorhub.io which seems to become an official way to discover and install operators?

[2020-03-30 05:27] #101 closed

[2020-03-30 05:38] #146 closed

[2020-03-30 16:04] whitleykeith opened #155 "Support zookeeper-exporter/jmx-exporter"
I'd like the operator to either

(1) surface a field in the `Pod` field to add containers that can be used to surface metrics
or
(2) surface them up first class by adding those containers by default to the zk pods.

[2020-03-31 06:24] #150 closed

[2020-03-31 07:34] amuraru commented on #142
This issue requires https://github.com/pravega/zookeeper-operator/pull/156

[2020-04-01 16:36] pbelgundi commented on #155
@whitleykeith Could you please provide some more details about what you need.

[2020-04-02 11:38] kozmagabor opened #160 "Helm chart validation/lint problem"
**Problem description:**
The `latest` isn't a valid value for `appVersion` and `version` properties of the chart.
[code]

[code]

**Problem location:** In the Helm chart

**Suggestion for improvement:** In my opinion, the image version should be set to a fixed version because `latest` isn't immutable (currently unstable) and at the moment it doesn't match the latest stable version of the applicati

[2020-04-09 06:14] AljoschaP commented on #155
It would be awesome if the operator would support the [prometheus jmx_exporter](https://github.com/prometheus/jmx_exporter). For example, the [Banzaicloud Kafka-Operator](https://github.com/banzaicloud/kafka-operator) exposes the metrics of the Kafka broker and Cruise Control by default using the jmx_exporter.

[2020-04-09 07:05] baluchicken opened #161 "Helm chart lacks namespace fields on namespace scoped resources"
#### Problem description:
Helm chart lacks namespace filed on namespace scoped resources
#### Problem location:Helm chart

#### Suggestion for improvement:
Please improve helm chart with
```namespace: {{ .Release.Namespace }}``` on namespace scoped resources.

[2020-04-09 22:37] e11it commented on #155
Just to notice.
Zookeeper since 3.6.0 is able to expose prometheus metrics out of the box.

https://zookeeper.apache.org/doc/r3.6.0/zookeeperAdmin.html#sc_monitoring
[code]

[2020-04-15 19:09] ryphon opened #162 "Allow a different reference to image in the ZK yaml for Helm"
I'm working with Helm and a Jenkins pipeline with some devs that are quite time restrictive.
Our K8s pipeline as is looks for a list of the images to pull and cache so that it doesn't have to do a docker pull for every single environment.  This may be an edge case I should get covered in the pipeline, but for consistency, it seems as if the zookeeper template should be adjusted.

So we end up with

[2020-04-15 19:10] ryphon commented on #162
Specifically, it's running helm template and looking for the `image` key and parsing out the value as a string for the docker image to pull.

[2020-04-15 19:14] ryphon commented on #162
However, I am seeing that this line... `https://github.com/pravega/zookeeper-operator/blob/6fd02160fbf6a99b515053af47c5958814c23c08/pkg/zk/generators.go#L91` doesn't seem to do what I feel like it's doing..

If I set the image: tag in the yaml to a string, it doesn't seem to properly create the resources as required.

[2020-04-15 19:18] ryphon commented on #162
Ah, now I've found `https://github.com/pravega/zookeeper-operator/blob/d84aefddaeb3b457b8478b637406d225330ef38c/pkg/apis/zookeeper/v1beta1/zookeepercluster_types.go#L228` to be where the repository/tag is created via the list in yaml...

Is this something I should just change locally and build the container for my own use case, or do my thoughts about consistency have merit to the overall project?

[2020-04-17 20:30] spiegela commented on #162
@ryphon the use of a map for the `image` is quite common across Helm chart repositories.  For examples, take a look at Helm charts in the [stable Kubernetes repo](https://github.com/helm/charts/blob/master/stable). I spot-checked several to make sure I wasn't off-base, and they all use the same format as our own. The [image value for zookeeper-operator](https://github.com/pravega/zookeeper-operato

[2020-04-18 03:59] AceHack opened #164 "Please update to zk 3.5.7 or 3.6.0"
There are so many bug fixes please update

[2020-04-18 08:39] amuraru commented on #164
Issues #128 and #155 also require upgrade to zk 3.6

zk 3.6.1 is at this time in rc mode and due next week.
I suggest operator upgrades to 3.6.1 directly as that fixes a couple of issues in 3.6.0

[2020-04-18 16:14] AceHack commented on #164
Yes I would be happy for 3.6.1 next week.

[2020-04-19 11:22] snkshukla opened #165 "Can we add annotations for the pvc created?"
I know we can pass the `storageClassName` in the `pvc` spec and we are using that right now. But **is it possible** to pass the annotations for the `pvc` template?

It would be really helpful if we could do that as we use portworx for our pvc and we need to add some annotations for it to work, specifically these annotations are storage class and the secret name used for encryption.

If this is not

[2020-04-19 17:57] ryphon commented on #162
@spiegela It ends up coming down to the final helm template. The zk `helm template` ends up having the image.repo and image.tag. The zk-op `helm template` ends up with just image and it's the full image+tag. There are some pipeline changes coming that'll let me hand define images, so I'll just tell the pipeline what the zk image should be, and it should be fine I think.

[2020-04-20 16:10] ryphon commented on #162
ZK Op Template:
[code]
ZK Template:
[code]

[2020-04-25 14:17] AdheipSingh opened #166 "Deepcopy for updates"
https://github.com/pravega/zookeeper-operator/blob/master/pkg/zk/synchronizers.go#L19

I see no deepcopy objects being used. Can we use deepcopy here ?

[2020-05-07 11:40] Prabhaker24 opened #169 "Add version info to ZK cluster CR status"
### Description
Zk Cluster CR doesn't have information about the current version

### Importance
Nice To Have

### Location
This will require changes in zookeepercluster_types.go and zookeepercluster_controller.go

[2020-05-07 13:13] Prabhaker24 opened #170 "Improve code coverage for zookeeper operator unit tests to > 85%"
Code Coverage for zookeeper operator unit test should be increased to be above 85%

[2020-05-11 06:19] SrishT opened #171 "Zookeeper PVCs are not created in the cluster namespace"
### Description
The Zookeeper VolumeClaimTemplates are not created in the same namespace as the Zookeeper Cluster.

### Importance
must have

### Location
pkg/zk/generators.go

[2020-05-11 07:26] pbelgundi opened #172 "Migrate to using Helm V3, add helm upgrade support and publish Helm charts"
## Description
This issue covers the following tasks :
- [x] Migrate to helm v3 and add self validating post-install and post-upgrade hooks (https://github.com/pravega/zookeeper-operator/issues/188)
- [x] Support helm upgrades (https://github.com/pravega/zookeeper-operator/issues/189)
- [x] Publish the helm charts to a public repository (https://github.com/pravega/zookeeper-operator/issues/190)

[2020-05-11 15:19] #171 closed

[2020-05-13 20:23] fpj commented on #172
What needs to change in our charts to migrate to Helm 3? Asking differently, are our charts compatible with Helm 3 already?

The description of this issue is a bit short on detail....

[2020-05-14 05:44] SrishT opened #177 "Unable to configure storage resources of zookeeper PVCs"
### Description
Unable to configure storage resources of zookeeper PVCs by specifying this value inside the manifest in the following manner at the time of deployment (i.e. the value supplied for this field does not take effect and its value is defaulted to `20Gi` by the operator).

[code]

[2020-05-14 05:54] pbelgundi commented on #177
@SrishT did you specify this value for storage capacity at deployment time or try to change it post deployment. Please clarify.
Changing a value for storage size post deployment is not supported.

[2020-05-14 05:56] SrishT commented on #177
@pbelgundi modified the issue desciption accordingly

[2020-05-14 09:22] Prabhaker24 commented on #166
By Deep copy object here do you mean doing a deep copy of next sts spec to current sts spec, we don't do it as here we don't want all the fields inside spec to get copied we only want the replica count, update strategy and template field of the current sts spec to be changed.
You can refer to  https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#statefulset-v1-apps  it shows all th

[2020-05-14 19:44] bourgeoisor commented on #161
`namespace: {{ .Release.Namespace }}` is redundant, here.

Implicitly, if not specifying a `metadata.namespace` on a resource, then `{{ .Release.Namespace }}` is the default that Helm uses.

This is not a bug in functionality, rather it could indeed potentially improve legibility for Helm users that does not know that fact, though.

[2020-05-14 20:20] amuraru commented on #161
That applies to helm install/upgrade afaik not to helm template which generates raw k8s yaml files some tools/users are using to apply via other CD tools.

[2020-05-15 05:27] SrishT commented on #161
@amuraru these charts are meant to be used for installation via helm only. If you need yaml files for deploying zookeeper using any other tool, the manifest files provided [here](https://github.com/pravega/zookeeper-operator/tree/master/deploy) should be used.

[2020-05-15 09:15] pbelgundi commented on #172
@fpj Our charts were written using helm 2. They have never been tested using helm3. Helm 3 could have some new features that could be useful. Primarily this issue is expected to cover:
1. Migration to Helm3
2. Making charts upgradable by having the right chart versions for each operator release.
3. Publishing charts to a repo.

[2020-05-19 08:28] anishakj opened #178 "Modify travis job to run end to end tests on minikube"
### Description

Needs  to analyse whether endtoend tests can be ran successfully on minikube setup. If tests works fine on minikube setup, modify the travis job to run endtoend tests there.

[2020-05-20 03:49] #160 closed

[2020-05-20 05:26] anishakj commented on #136
Fixed by PR #173

[2020-05-20 05:26] #136 closed

[2020-05-20 05:56] SrishT commented on #165
@snkshukla this functionality is currently not supported. So either you can go ahead and add it or we can take it up in our next cycle.

[2020-05-20 19:47] bourgeoisor commented on #161
Ok I see what you mean (e.g. not necessary using `helm install` but still using `helm template` to generate the manifests.)

I was under the impression that `helm template --namespace <namespace>` would just do the trick, but it doesn't seem to be the case.

Adding `namespace: {{ .Release.Namespace }}` is a good improvement for this.

[2020-05-21 14:15] #177 closed

[2020-05-22 05:21] pbelgundi opened #181 "Fix Travis configuration so Travis jobs can be executed on forks"
## Description
Currently Travis jobs cannot run on a fork branch since certain environment variables defined in Travis settings are not available on the fork branch.
Need to figure out a way around this, so Travis builds can be executed on fork branches.
We need to define `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` as env variables in travis settings, if we are planning to create clusters in a

[2020-05-22 05:41] pbelgundi commented on #102
To fix this we perhaps need to set `quorumListenOnAllIPs` to true in Zookeeper:
https://github.com/istio/istio.io/blob/master/content/en/faq/applications/zookeeper.md
https://github.com/helm/charts/issues/17183

[2020-05-22 12:48] #169 closed

[2020-05-24 11:29] anishakj commented on #65
This is fixed with PR https://github.com/pravega/zookeeper-operator/pull/145

[2020-05-24 11:29] #65 closed

[2020-05-24 11:32] anishakj commented on #11
This is fixed via PR https://github.com/pravega/zookeeper-operator/pull/46

[2020-05-24 11:32] #11 closed

[2020-05-24 11:37] anishakj commented on #24
This issue is fixed not seen with latest code

[2020-05-24 11:37] #24 closed

[2020-05-24 16:46] AceHack commented on #102
Yes it's still not working for me as well.

[2020-05-24 17:12] AceHack commented on #102
When you turn on `quorumListenOnAllIPs` you are going to start having this problem but if you use my health checks it will work around the problem.

https://github.com/pravega/zookeeper-operator/issues/128

[2020-05-26 09:05] Prabhaker24 commented on #166
closing this issue as the issuer hasn't replied back.

[2020-05-26 09:05] #166 closed

[2020-05-26 11:06] #161 closed

[2020-05-26 12:15] #102 closed

[2020-05-26 17:55] anishakj commented on #90
Closing this issue,  as the query is answered.

[2020-05-26 17:55] #90 closed

[2020-05-27 05:47] AdheipSingh commented on #166
apologies for the delay, totally missed it. We dont need to copy the whole object i agree with you on the context.
[code]

[2020-05-27 06:24] Prabhaker24 commented on #166
There is some misunderstanding so here **next** is just a place holder that is created with the(changed specs) and we are just modifying the **current sts** to the changed values and leaving things on k8 to match the status to the spec(for example lets say the user has modified the Replica count to 6 from 3 then, in that case, next.Spec.Replicas will be 6 and when **SyncStatefulSet()** is called c

[2020-05-27 08:03] fpj commented on #181
Are you talking about the credentials?

[2020-05-27 08:13] fpj commented on #165
hey @snkshukla , we would really appreciate if you could contribute.

[2020-05-27 08:42] anishakj commented on #181
We are setting AWS credentials in travis  settings, that is required to create the cluster. Also docker login/passwd are mentioned  there. These wont be available if we run the tests on a forked branch.

[2020-05-27 08:44] fpj commented on #181
I got it, but what are the variables mentioned in the description and why are they not part of the forker branches? The description is not very precise.

[2020-05-27 08:48] fpj commented on #121
@AdheipSingh I'm closing this issue for now, please feel free to reopen it if you have further comments or questions.

[2020-05-27 08:48] #121 closed

[2020-05-27 08:50] fpj commented on #68
@pbelgundi why is this issue invalid? I'm actually not sure I fully understand the recommendation in the description. I understand that the goal is to enable the use of a private registry.

[2020-05-27 08:53] pbelgundi commented on #78
@prune998 Could you please explain what you mean by "_define a Kubernetes ServiceAccount in the Statefulset_"
We do have a specific service account being created for the zk-operator in the chart:
https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper-operator/values.yaml#L15

[2020-05-27 08:55] fpj commented on #74
Note that the "official" image is not an image produced by the Apache community, see for example the "where to file issues" line:

 https://github.com/31z4/zookeeper-docker/issues

[2020-05-27 09:00] fpj commented on #74
We are also not pushing images to `emccorp` on docker hub, we are pushing them under `pravega`:

https://hub.docker.com/repository/docker/pravega/zookeeper-operator

Is this issue still valid?

[2020-05-27 09:01] pbelgundi commented on #155
Instead of adding custom code for "zookeeper-exporter/jmx-exporter" it may be better to just move to zk latest version.

[2020-05-27 09:17] pbelgundi commented on #68
@fpj marked this as invalid because from issue description it wasn't clear to me as to why this is needed and how it helps?
I think the ask was to use an environment-variable in the [Dockerfile ](https://github.com/pravega/zookeeper-operator/blob/master/docker/Dockerfile#L17) for zk base image instead of the current hard-coded value.
The startup scripts and other code we have, is tested for a spec

[2020-05-27 09:19] pbelgundi commented on #68
A different repository and image can be specified via charts using the image tag:
https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper/templates/zookeeper.yaml#L8

[2020-05-27 09:21] pbelgundi commented on #181
@anishakj Could you please explain why this does not work.

[2020-05-27 13:42] prune998 commented on #78
I mean, not in the chart of the Operator but in the Zookeeper Statefulset that is created by the Operator.

[2020-05-27 15:49] whitleykeith opened #183 "Zookeeper service ports should be prefixed with "tcp""
We're running zookeeper on a cluster with Istio and we've realized that the service port names don't match the istio standard for port naming. As such, TCP traffic is inaccurately recorded and makes it hard to visualize the system within tools like Kiali or to debug any network layer issues.

We'd like one of the following:

(1): Have all ports named with the tcp prefix (i.e. tcp-client, tcp-quoru

[2020-05-27 15:53] whitleykeith commented on #155
I think upgrading to the latest ZK would meet our needs.

[2020-05-28 04:14] zmberg opened #185 "ImagePullSecrets field is not supported"
CRD ZookeeperCluster don't support ImagePullSecrets, the mirror image of the private warehouse cannot be pulled up.

[code]

[2020-05-28 05:39] anishakj commented on #114
Closing this issue, as the query is answered. Please feel free to reopen in case of any further queries.

[2020-05-28 05:39] #114 closed

[2020-05-28 10:48] fpj commented on #185
hi @zmberg , is private warehouse a private registry? if so, I remember seeing an issue recently about it, maybe this is a duplicate?

[2020-05-28 14:10] #91 closed

[2020-05-29 07:49] SrishT opened #188 "Migrate to helm v3 and add self validating hooks"
### Description
Migrate the existing charts to helm3. Also add self-validating post-install, post-upgrade hooks and make all cluster specs overridable through helm values.

### Importance
must have

### Location
zookeeper helm charts

[2020-05-29 07:51] SrishT opened #189 "Support helm upgrades"
### Description
Make the charts upgradable via helm by having the right chart versions for each operator release and any other necessary changes.

### Importance
must have

### Location
zookeeper helm charts

[2020-05-29 07:55] SrishT opened #190 "Publish the helm charts to a public repository"
### Description
The charts need to be published externally in a public repository (like helm hub).

### Importance
must have

### Location
zookeeper helm charts

[2020-05-29 08:06] SrishT commented on #188
This issue is similar to [this](https://github.com/pravega/pravega-operator/pull/397) PR. Once this PR has been merged, this change will also be done subsequently.

[2020-06-01 05:53] #77 closed

[2020-06-01 15:16] anishakj commented on #144
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/182

[2020-06-01 15:16] #144 closed

[2020-06-03 08:02] #188 closed

[2020-06-03 11:31] pbelgundi commented on #185
@zmberg Could you please elaborate on what does not work for you?
[code]
should work for a valid image repository, from where you are able to pull images using docker pull.

[2020-06-04 08:22] anishakj commented on #181
updated the description

[2020-06-04 08:34] pbelgundi commented on #181
@anishakj I see environment variables defined in the pravega/pravega repository as well and there we're able to run Travis builds on Forks. What is different about this repository?

[2020-06-04 09:22] anishakj commented on #181
I have checked pravega travis job, none of the ENV variables are used in tests

[2020-06-04 11:14] anishakj commented on #181
I have seen that other projects also have the same issue. They have to  copy the changes to a branch from the repo directly and run the tests. (https://github.com/OHDSI/Achilles/issues/165)

[2020-06-04 12:42] cyberjso commented on #75
Hello everyone,

I had exactly same issue. I tried to apply the following config for my zookeeper cluster:

[code]
Even after doing this, the persistent volume claim was not able to bound. Somehow, even setting the storageClassName attribute It was not able to bind to my local-storage volume definition. The message I was having on the persistent volume claim was this one:

[code]
It only worked af

[2020-06-04 15:03] 2phost opened #192 "Zookeeper over MTLS Istio doen't work"
Hello,

I am trying to run a cluster of 3 Zookeepers over Istio MTLS. I know that the Istio support was already merged, as such, I decided to give it a try.

The first node seems to be ok, but as soon as the others nodes start, everything goes wrong.
Please note that everything runs normally when I remove Istio from this namespace.

This is my cluster configuration:

kind: ZookeeperCluster
metadat

[2020-06-04 15:35] Prabhaker24 commented on #192
@2phost did you try with Istio enabled without MTLS ?

[2020-06-04 16:15] Prabhaker24 commented on #192
I have tried it without MTLS and all the pods came up for me, I am pasting the output as well for your reference:-
[code]

[2020-06-04 16:34] 2phost commented on #192
I just created a PeerAuthentication and a DestinationRule  to make sure that I disable MTLS, and it keeps showing these errors.

If I do a ```kubectl get pods -n zookeeper-system``` the status is running, but the logs says otherwise:
[code]
Is there any way to switch the logging to DEBUG level?

I tried to check if it is something DNS related, but everything seems to be ok, I can resolve all the r

[2020-06-05 08:12] 2phost opened #193 "Fix envoy detection in zooKeeperStart script"
Issue created to do a pull request.

The block code that detects and waits for the Envoy does not work because of the ```set -e``` line.
The line ```SC=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:15000/ready)``` fails and the script stops running.

I fixed that by disable the flag in this block of code.

[2020-06-05 08:29] 2phost commented on #193
Related to #194

[2020-06-05 10:22] Prabhaker24 commented on #192
oh I see does this https://github.com/pravega/zookeeper-operator/pull/194 fixes this issue?

[2020-06-05 10:23] anishakj commented on #193
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/194

[2020-06-05 10:23] #193 closed

[2020-06-05 10:49] 2phost commented on #192
No.
I was checking why all of my pods had 1 restart and found out that Envoy was starting after Zookeeper. After the fix I now have 0 restarts but this problem continues.

I deployed exactly the same configurations in a local environment and everything seems to work, but I  need this to work on my remote kubernetes cluster, as such I am trying to understand what it is happening here.

I've already

[2020-06-06 12:36] #128 closed

[2020-06-06 12:42] anishakj commented on #155
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/175

[2020-06-06 12:42] #155 closed

[2020-06-06 12:42] anishakj commented on #164
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/175

[2020-06-06 12:42] #164 closed

[2020-06-08 08:20] Prabhaker24 opened #195 "Add GitHub issue and PR templates"
### Description
There's no template for the issue and pr description that's needed for telling the user to write the issue and description in some standard format.

### Importance
Nice to have.

### Location
Files specifying format should be added in **.github** folder.

### Suggestions for an improvement
We should add **ISSUE_TEMPLATE.md** for issue format and **PULL_REQUEST_TEMPLATE.md** for pr

[2020-06-08 13:11] whitleykeith commented on #192
@2phost We've noticed this as well within our own remote cluster. I've been able to get mTLS working with Zookeeper on my local K8s cluster, but remote seems to have issues.

A few of my observations:

- It seems like mTLS Auto works fine with ZK on my local, but not remote. The only difference between the two for us is K8 Versions (EKS 1.15 vs Docker-Desktop 1.16) and that our remote uses CNI ove

[2020-06-08 15:23] #183 closed

[2020-06-08 20:00] 2phost commented on #192
@whitleykeith Thanks for your observations! I definitely will check differences between docker and kubernetes versions. BTW, I am using Istio 1.6 in both.

At the moment, the only difference I found between my two configurations is that, in my local environment I use weave as CNI and the remote environment uses Canal. However I do not think that that is the issue.

I am out this week, but next wee

[2020-06-08 20:11] whitleykeith commented on #192
We just use the default CNI for our version (docker.io/istio/install-cni:1.5.1), however we're also on EKS which uses AWS CNI as well.

Similar for us where I don't think it's CNI but it's the only difference between the two environments for us. I'll keep looking and let you know if I find anything as well.

[2020-06-09 06:17] #195 closed

[2020-06-10 08:06] #170 closed

[2020-06-11 06:00] SrishT opened #198 "Adding name overrides for charts"
### Description
In the charts we need to give the user the provision of overriding the resource name (which is defaulted to `<release-name>-<chart-name>`) by specifying the desired value for `fullNameOverride` in the values.yaml

### Importance
nice-to-have

### Location
charts

[2020-06-15 04:51] #198 closed

[2020-06-15 06:24] #147 closed

[2020-06-16 09:57] kriston13 commented on #192
Hi,

I've just run into this problem as well.

This is the Zookeeper yaml I'm using

[code]

However, when I apply this, this is the `ConfigMap` that I get:

[code]

Notably, the quorum flag isn't in the `zoo.cfg` block.

I have tried changing `initLimit`, `syncLimit`, and `tickTime` in the yaml, and those had the expected changes to the ConfigMap. It's just the `quorumListenOnAllIPs` config value

[2020-06-16 10:07] 2phost commented on #192
Hey @kriston13 ,

I believe that the Istio supported version is not in the docker hub yet.
The version that I am running is from Git and I have the flag correctly set: quorumListenOnAllIPs=true

[2020-06-16 10:28] kriston13 commented on #192
Oh. And you can see that in the ConfigMap?
Well, damn. How do I get that version of the zookeeper-operator...? lol

[2020-06-16 10:30] amuraru commented on #142
Filed #201 to fix this

[2020-06-16 10:34] amuraru opened #202 "Add support for setting resources for operator pod"
### Description

Currently there is no way to set custom pod resources when deploying the operator using helm.

### Importance
Should-have

### Location
helm chart

### Suggestions for an improvement

I'll file a PR

[2020-06-16 11:43] anishakj commented on #192
we will be releasing the image with the changes in this week.

[2020-06-16 14:26] HoustonPutman commented on #172
For the last two items, the Solr Operator added scripts so that the helm chart can be easily built with the new version of the operator and be "published" very easily.

I'll link the PR in case the ZK operator wants to do something similar. There's been a few fixes since, but the bulk of the logic is there. https://github.com/bloomberg/solr-operator/pull/113

[2020-06-16 15:04] SrishT commented on #172
@HoustonPutman thank you for the reference. Yes we are looking at doing something for our charts as well.

[2020-06-17 04:42] anishakj opened #204 "ZK-operator does not add version to the CR status during upgrade"
### Description

Create zookeeper-operator and zk cluster. Upgrade the operator from `0.2.7` latest master image that is built. In zookeeper cluster status version is not getting updated.

### Importance

Must have

### Location

https://github.com/pravega/zookeeper-operator/blob/master/pkg/apis/zookeeper/v1beta1/zookeepercluster_types.go
### Suggestions for an improvement

_(How do you suggest to

[2020-06-17 08:28] anishakj opened #206 "Zookeeper cluster upgrade is taking more time"
### Description

Since the termination period is increased from 30s to 180s, upgrade of each pod is taking around 3 min if there are client connections

### Importance
_(Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have))_

### Location
zookeepercluster_types.go
### Suggestions for an improvement
Revert the termination grace period to 30s. Also in teardown

[2020-06-17 11:00] #204 closed

[2020-06-17 13:50] #206 closed

[2020-06-18 08:16] #202 closed

[2020-06-18 08:52] anishakj commented on #192
We have released `0.2.8-rc0` in docker hub which has istio changes

[2020-06-19 15:39] lukemassa opened #208 "Clarify difference between KubernetesClusterDomain and DomainName"
### Description

I recognize first of all this is a problem entirely of my own creation. When adding https://github.com/pravega/zookeeper-operator/pull/200 I created the notion of KubernetesClusterDomain (i.e. defaulting to cluster.local, but overideable, corresponding to https://github.com/kubernetes/dns/blob/master/cmd/kube-dns/app/options/options.go#L57, described here: https://kubernetes.io/do

[2020-06-23 03:42] anishakj opened #209 "Not able to create zookeeper cluster resources via exporter binary"
### Description
git clone zookeeper-operator, Create exporter binary using `make build-go`.
Create the manifest file for zookeepercluster using below command, after going to zookeeper-operator/charts location.
`helm template zk ./zookeeper > tmp`
Copy the contents from the tmp for resource ```apiVersion: "zookeeper.pravega.io/v1beta1"
kind: "ZookeeperCluster"``` to ZookeeperCluster.yaml
Go to bin

[2020-06-23 06:11] SrishT commented on #189
Closing this issue since no additional changes would be required to support helm upgrades.

[2020-06-23 06:11] #189 closed

[2020-07-03 12:18] #149 closed

[2020-07-03 12:18] #181 closed

[2020-07-03 12:19] Prabhaker24 commented on #181
Fixed with this pr https://github.com/pravega/zookeeper-operator/pull/211

[2020-07-03 12:20] Prabhaker24 commented on #178
Fixed with this pr #211

[2020-07-03 12:20] #178 closed

[2020-07-06 09:01] baluchicken opened #213 "Consider hosting helm charts with the help of chart-releaser and Github"
### Description

I propose to host helm charts with the help of the [chart-release](https://github.com/helm/chart-releaser).
This is a simple tool which allows to use github as the source of the helm chart.
It does not require any additional chart-museum, all it need is an index file which contains the information from the various versions of the chart.

### Importance

As of today, to install Pra

[2020-07-06 21:05] derekm commented on #213
@baluchicken,

@SrishT is leading the refactor of our https://github.com/pravega/charts repo as a Helm charts release artifact repository (it was previously a mostly-abandoned monorepo for charts). It will look similar to https://github.com/srisht/charts-test and will live at charts.pravega.io.

This blog shows the process of checking out git repos that you describe: http://blog.pravega.io/2020/06

[2020-07-07 13:25] mabruch123 opened #214 "Accessing a zookeeper cluster from outside of Openshift"
### Description
Hi,
I was wondering if there is any way to communicate with a Zookeeper cluster, which is deployed on Openshift using Zookeeper operator, from outside of the Openshift cluster.

I tried by simply creating a Route resource, but I’m receiving some odd exception about Packet Length when trying to connect using zkCli.sh
I’m assuming it is because the Route communicates in HTTP and Zook

[2020-07-08 14:43] pbelgundi commented on #214
@mabruch123 There can be may ways to make this happen:
1. Use an Ingress load balancer to frontend your zookeeper pods/service.
2. Enable external access to zookeeper client service using external IPs for the zookeeper client service, assuming  IPs are reachable from the host trying to connect to zookeeper.
At this point zk-operator does not have code to enable external access on ZK Service, but i

[2020-07-08 14:53] mabruch123 commented on #214
@pbelgundi
Thank you for answering.
Do you have any information regarding the fact that a simple Route resource communicates via HTTP while zookeeper communicates with a customized TCP protocol? What should I do?
I just couldn’t seem to figure out what was causing ‘Packer length out of range’ exception when I tried to simply connect to my zookeeper cluster with said Route. (Which basically routes

[2020-07-08 21:59] tmarcu opened #216 "Deleting the zk pods/sts/CR and re-starting them later breaks reconcile, zookeeper remains unready"
### Description

If the zookeeper statefulset is removed while keeping the PVC(s) intact, and then recreated later on the zookeeper CR will never become ready again. Errors from:
CR:
[code]

zookeeper-operator:
[code]

statefulset says that all the replicas are "ready" but the reconcile error above shows otherwise:
[code]

*Workaround which gets zk back up but I do not think is valid - you can del

[2020-07-09 04:41] anishakj commented on #216
Can you please try with version `0.2.8-rc0`. I am not able to see the issue. Zookeeper cluster is coming up fine after deleting sts

[2020-07-10 12:43] SrishT opened #217 "Add sample manifests for minikube installation using charts"
### Description
Adding sample manifest for a minikube environment would make it much easier for users to install a zookeeper cluster on minikube without having to override any of the values.

### Importance
nice to have

### Location
charts

[2020-07-13 10:55] #217 closed

[2020-07-14 13:17] naude-r opened #220 "Allow setting maxclientcnxns"
### Description

We require to set additional config, specifically maxClientCnxns.

### Importance
Currently we cannot deploy more services as ZK is refusing connections with:
`Error accepting new connection: Too many connections from /10.42.0.1 - max is 60`

### Suggestions for an improvement
Either add additional config options during deploy time, or add a user configurable configmap. the config

[2020-07-21 11:33] amuraru opened #222 "zoo.cfg updated parameters are not picked up during rolling restarts"
### Description

Updating ZK parameters like `initLimit`, `tickTime` are not reflected in ZK when the cluster is restarted.
Steps to reproduce:
- deploy a new ZK cluster
- update `initLimit` in ZK spec
- rolling restart is triggered and one would expect the new value to be reflected in zk runtime
This is not happing and `/data/conf/zoo.cfg` configuration file used in zk command line does not refle

[2020-07-23 14:26] 2phost commented on #192
I just changed the provider (due to some support issues) and hoped this could be resolved. Unfortunately, I got the same error, therefore I can discard issues about the network configuration. I will double check Istio configurations.

[2020-07-24 07:31] #209 closed

[2020-07-24 09:09] #142 closed

[2020-07-24 11:21] anishakj commented on #208
@lukemassa  your understanding is correct. DomainName in the spec is used for setting the annotations.

[2020-07-24 11:30] anishakj commented on #222
I have tried it and observed that the change of spec parameters are reflected in zookeeper configmap.

[2020-07-24 11:54] anishakj commented on #192
Could you please share the zookeeper logs?

[2020-07-24 13:24] Prabhaker24 commented on #214
@mabruch123 please reach out on the public slack channel **zookeeper-operator**

[2020-07-24 14:21] 2phost commented on #192
sure.
Today I changed to the new release (due to the upgrade of the zookeeper version) and got a new error:
```Have smaller server identifier, so dropping the connection```

I know that this could be related with the Zookeeper directly, and sometimes it can be resolved restarting all nodes, but it did not work.

I am running three instances of zookeeper. Please find the logs attached.

[zookeeper0

[2020-07-24 17:50] 2phost commented on #192
For now, (as workaround) I manage to get it working.

I put the following:
[code]

[2020-07-25 15:18] amuraru commented on #222
Correct but that configmap is not what the zk is using in the running pod

[2020-08-06 04:55] anishakj commented on #216
Closing this  issue as we are not able to reproduce

[2020-08-06 04:55] #216 closed

[2020-08-06 04:59] anishakj commented on #118
Fixed with PR https://github.com/pravega/zookeeper-operator/pull/200

[2020-08-06 04:59] #118 closed

[2020-08-06 09:42] gimpiron opened #224 "zoo.cfg not getting modified."
### Description

Hey, so im trying to deploy zookeeper cluster with the following modification;
[code]

Sadly, i cannot see my changes inside my pod at /data/cong/zoo.cfg.
Morover, I cant see the changes the zookeeper configmap:

[code]

What am I missing? are all config options are configurable?

### Importance

blocker

### Suggestions for an improvement

More documentation about possible option

[2020-08-06 19:15] amuraru commented on #224
Dupe of #222 ?

[2020-08-09 07:05] gimpiron commented on #224
@amuraru
I took a look at your issue as well,
I am not sure its the same one, I cant find my changes at /conf/zoo.cfg aither.
Important to emphasize that I cant see my changes right from the first deployment of my yaml.

[2020-08-10 05:35] anishakj commented on #224
Currently all the config parameters we are not supporting in zoo.cfg, that is why you are not seeing it in first deployment. We will work on this enhancement soon.

[2020-08-10 12:33] gimpiron commented on #224
Ok, following! thanks for the answer

[2020-08-11 04:17] Prabhaker24 opened #225 "Zookeeper-Operator Relies On k8s.io/kubernetes"
### Description
Zookeeper-Operator Relies On k8s.io/kubernetes

### Importance
nice_to_have

### Location
go.mod file

### Suggestions for an improvement
run go mod tidy

[2020-08-11 05:35] #225 closed

[2020-08-13 08:14] qixiaogang opened #228 "Support multi images"
### Description

I wan to deploy a sidecar with the zookeeper instance to do some monitoring of the zookeeper instance.

### Suggestions for an improvement

Do you have a plan to support multi images?
Thanks

[2020-08-13 08:21] qixiaogang opened #229 "Support configure participants/observers role for zookeeper instance"
### Description

Here is the case, a zookeeper cluster that some zookeeper instances plays as participants, some play as observers.
For example,  a zookeeper cluster with 7 zookeeper nodes, 3 of them plays as participants, 4 of them plays as observers.

### Suggestions for an improvement
Can we introduce a role concept in the readiness script, and if the role is observers, reconfigure the zookeepe

[2020-08-13 08:36] Prabhaker24 commented on #228
we have support for istio from 0.2.8 you can used itfor monitoring the zookeeper instance

[2020-08-14 06:31] #63 closed

[2020-08-17 02:27] qixiaogang commented on #228
@Prabhaker24  Do you have a plan to support configuring multi images in the crds? I want to deploy a sidecar with the zookeeper and put some logics in the sidecar

[2020-08-17 05:19] Prabhaker24 commented on #228
@qixiaogang, Sorry I don't properly understand what you mean by configuring multi images in the crds, In my understanding, you can deploy Istio with the zookeeper cluster and use it for your purpose.

[2020-08-17 05:26] anishakj commented on #222
Yes , you are correct. We will work on the fix

[2020-08-17 08:25] qixiaogang commented on #228
@Prabhaker24  I file a PR to support multi images in https://github.com/pravega/zookeeper-operator/pull/230.
The purpose of this PR is to allow use to customize container's images deploy with zookeeper container.

[2020-08-19 12:30] uprush opened #232 "Storage class name not picked up"
### Description

_(Describe the feature, bug, question, proposal that you are requesting)_

### Importance

Pod created stuck at VolumeBinding. It seems the cause is storage class is not picked up when creating the pvc.

ZK spec:
[code]

Pod creation  error
[code]

PVC error:
[code]

### Location

_(Where is the piece of code, package, or document affected by this issue?)_

### Suggestions for an

[2020-08-19 13:06] Prabhaker24 commented on #232
This is not working because you need to mention it inside spec inside persistence please look at the below link to see how it should be done https://github.com/pravega/zookeeper-operator/blob/d88ce7c8d61b58ff7c2ac1fd4e99842cce32a78a/deploy/cr/pravega/zookeeper_v1beta1_zookeepercluster_cr.yaml#L13

[2020-08-19 14:17] #222 closed

[2020-08-19 14:19] anishakj commented on #208
We wont be able to change the spec parameter as it can cause compatibility  issues while doing upgrade.

[2020-08-19 14:30] anishakj commented on #162
@ryphon  Is this still an issue?

[2020-08-19 15:54] ryphon commented on #162
Nah, I just should have closed it, my mistake. Theoretically it is, but the pipeline added functionality to define containers regardless of what `helm template` gives.

[2020-08-19 15:54] #162 closed

[2020-08-19 23:44] uprush commented on #232
Thanks @Prabhaker24 , this works by putting it inside persistence.spec.
Just curious, should it be consistent with the [values.yaml](https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper/values.yaml ) file? I was referring that file which has no `spec` under persistence.

[2020-08-20 03:18] Prabhaker24 commented on #232
@uprush It's consistent, that is for deploying it using charts what happens is these values from values.yaml get's plugged into the values present in zookeeper.yaml please look at the below link https://github.com/pravega/zookeeper-operator/blob/8e8f8a34109deb9f3d036a4a5a382e772f1aaa0e/charts/zookeeper/templates/zookeeper.yaml#L59

[2020-08-20 09:05] uprush commented on #232
Got it. Thanks for your support. Closing the issue.

[2020-08-20 09:05] #232 closed

[2020-08-27 17:58] Prabhaker24 opened #233 "Create zookeeper cluster is failing with chart due to domain name not specified correctly in charts"
### Description
Create zookeeper cluster is failing with chart due to domain name not specified correctly in charts

### Importance
must_have

### Location
charts/zookeeper

### Suggestions for an improvement
add a check in zookeeper.yaml file in chart so that domainname field does not get null as value in case domainname value inside the values.yaml file is empty.

[2020-08-27 18:09] Prabhaker24 commented on #208
I have raised a pr and have changed the description of the DomainName field to reflect what it does we can't change the field now as @anishakj  has rightly pointed out that it will cause compatibility issues during our operator upgrades.

[2020-08-27 18:13] Prabhaker24 opened #235 "Deepcopy.go ut coverage has gone down after merging the openApiSchemaValidation pr"
### Description
Deepcopy.go ut coverage has gone down after merging the openApiSchemaValidation pr, link to the pr https://github.com/pravega/zookeeper-operator/pull/227

### Importance
nice_to_hve

### Location
Add ut coverage for deepcopy.go file inside API package

### Suggestions for an improvement
Add ut coverage for deepcopy.go file inside API package

[2020-08-31 12:24] dalbani commented on #190
Hi, do you think you could publish the Helm chart to a public repository? Thanks!

[2020-08-31 13:27] SrishT commented on #190
@dalbani the `0.2.8` zookeeper charts have been published to https://charts.pravega.io
Publishing them to Helm Hub is also on our roadmap.

[2020-08-31 14:27] dalbani commented on #190
Thanks for your quick respnse, @SrishT!
Nice to hear that the chart is available on https://charts.pravega.io/.
I had not seen it mentioned anywhere.

[2020-08-31 16:35] SrishT commented on #190
@dalbani we plan to update the documentation once it has been tested end to end.

[2020-09-02 01:45] DevOpserzhao opened #236 ""system:serviceaccount:zk:zookeeper-operator" cannot list resource "zookeeperclusters" in API group "zookeeper.pravega.io" at the cluster scope [root@ip-10-20-30-193 zookeeper-operator]#"
### Description

_(Describe the feature, bug, question, proposal that you are requesting)_

### Importance

_(Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have))_

### Location

_(Where is the piece of code, package, or document affected by this issue?)_

### Suggestions for an improvement

_(How do you suggest to fix or proceed with this issue?)_

[2020-09-03 10:04] dalbani opened #237 "Expose ZooKeeper AdminServer port via Service"
### Description

ZooKeeper 3.5.0+ provides an AdminService via HTTP on port 8080 by default: https://zookeeper.apache.org/doc/r3.5.5/zookeeperAdmin.html#sc_adminserver.
It would useful to expose it to the outside world via the Kubernetes service.

### Importance

Should have.

### Location

I make a guess, but I suppose the changes must take place in the code at https://github.com/pravega/zookeepe

[2020-09-03 12:43] #233 closed

[2020-09-03 12:47] Prabhaker24 commented on #208
closing this issue as the pr https://github.com/pravega/zookeeper-operator/pull/234 is merged.

[2020-09-03 12:47] #208 closed

[2020-09-03 12:48] anishakj commented on #236
Could you please elaborate more on this issue? What are the operations performed to hit this issue

[2020-09-04 21:00] jinfwhuang commented on #76
I am facing a similar issue. The second node is always failing with these logs. Here are the last lines
[code]

[2020-09-08 09:33] dalbani opened #238 "Can't get the operator to watch more than 1 specific namespace"
### Description

I don't know what I'm doing wrong, but I haven't been able to get the operator to watch more than 1 specific namespace.
So what I mean is: all namespaces, yes. A single specific namespace, yes as well.
But a list of (comma-separated) namespaces, no, the operator just doesn't pick up any of them.
I use the `watchNamespace` parameter to the Helm chart by the way.
I know that MR #201

[2020-09-08 09:34] dalbani commented on #238
@anishakj May I ask you how you tested the functionality back in https://github.com/pravega/zookeeper-operator/pull/201#issuecomment-648093152?

[2020-09-08 09:35] dalbani commented on #238
@amuraru Would you have a test case as well? Thanks.

[2020-09-08 09:59] anishakj commented on #238
@dalbani  Can u mention the operator version of operator. Fix has gone in `0.2.9-rc0`

[2020-09-08 10:29] dalbani commented on #238
@anishakj Oh, silly me, yes that was it 🤦. I hadn't updated the image version to `0.2.9-rc0`. It works now, thanks.
By the way, speaking of versions, do you plan releasing a `0.2.9-rc0` version of the Helm chart as well (on _charts.pravega.io_)?
There has been important changes since `0.2.8` (for example the ability to use `--skip-crds`).
For now I have pushed a "fork" to my local chart repository

[2020-09-08 13:05] anishakj commented on #238
We will be publishing the charts once 0.2.9  stable version is released.

[2020-09-08 13:48] anishakj commented on #76
It looks like it is taking more time for nslookup to resolve. We are looping 20 times with 2s delay.  Are you installing setup on a mini kube?

[2020-09-08 15:08] jinfwhuang commented on #76
Yeah...I think I am figuring out what's going on. The nslookup only exit with status 0 with successful lookup of dns record for both forward and backward lookups. It would mean that the cluster's DNS setup has to support.

I would recommend that the lookup would only be a forward lookup. Something like `getent host <hostname>` should work. I will submit a PR to fix that.

[2020-09-08 16:04] abh commented on #76
The generic answer is to not use `nslookup` ever for anything. It’s a terrible tool.

[2020-09-08 20:55] amuraru commented on #238
@anishakj agree - we should add a test case for multi ns watch

[2020-09-09 10:32] anishakj commented on #238
@amuraru  In operator-sdk, currently there is no provision to watch multiple name spaces and our end to end tests are based on that. In our manual testing we can include this test case.

[2020-09-11 04:37] anishakj commented on #74
Closing this issue as it is invalid.

[2020-09-11 04:37] #74 closed

[2020-09-11 06:17] anishakj commented on #238
Closing this issue as the fix is available in `0.2.9-rc0`

[2020-09-11 06:17] #238 closed

[2020-09-11 06:21] anishakj commented on #236
We are seeing cluster roles are present, please see here https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper-operator/templates/clusterrole.yaml#L10-15

[2020-09-14 12:01] EladDolev opened #239 "kubernetesClusterDomain is not taking effect"
### Description

whether setting `kubernetesClusterDomain` or not it will always stay cluster.local
when looking at the ZookeeperCluster object, the `kubernetesClusterDomain` is not there, and even when patching the object and adding it, it still doesn't have any effect

### Importance

can't deploy this in my cluster that uses a non-default clusterDomain

[2020-09-14 12:20] maddisondavid opened #240 "Bootstrap Process does not handle missing DNS server correctly"
### Description
Zookeeper Node bootstrap does not handle DNS not being ready and incorrectly takes a missing DNS server as meaning there are no existing ZK nodes.  This results in it incorrectly setting up a new bootstrap node and causing a "split-brain" situation on the cluster where the new node has no data from the existing ZK cluster.

### Importance
Critical as this can cause production outag

[2020-09-14 13:13] anishakj commented on #239
The fix has gone in `0.2.9.rc0` release. Are you using that version?

[2020-09-14 14:12] EladDolev commented on #239
I wasn't.
I can confirm it is working in `0.2.9-rc0`
Thanks !!

[2020-09-14 14:12] #239 closed

[2020-09-14 20:58] amuraru commented on #240
Is this similar to https://github.com/pravega/zookeeper-operator/pull/135 ?

[2020-09-15 11:20] SrishT opened #241 "Make changes to allow helm upgrades using "reuse-values""
### Description
Currently upgrading zookeeper operator from 0.2.8 to 0.2.9-rc0 using helm is failing. Also upgrading zookeeper cluster from 0.2.8 to 0.2.9-rc0 through helm using `--reuse-values` flag currently fails.

### Importance
must-have

### Location
charts

[2020-09-16 09:04] anishakj commented on #228
Fixed by PR #230

[2020-09-16 09:04] #228 closed

[2020-09-16 10:35] priyavj08 opened #244 "pod securityContext set in the zookeeper CRD, not taking effect"
### Description

Tried to configure securityContext in the CRD as below and it is not taking effect
spec:
  pod:
    securityContext:
      runAsGroup: 1001
      runAsNonRoot: true
      runAsUser: 1001

### Importance

want to have securityContext at pod level to run as nonroot user

### Location

_(Where is the piece of code, package, or document affected by this issue?)_

### Suggestions for a

[2020-09-16 10:41] anishakj commented on #244
Have you changed  it in https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper/values.yaml  to include securitycontext?

[2020-09-16 11:11] priyavj08 commented on #244
I directly set these in the CRD instead of coming through values.yaml

[2020-09-16 11:56] anishakj commented on #244
No, you have to set these in values.yaml and install via helm charts

[2020-09-16 13:56] anishakj commented on #236
Closing this issue as it looks invalid. Please feel free to reopen if you see any issues again

[2020-09-16 13:56] #236 closed

[2020-09-16 14:45] anishakj commented on #244
could you please share the details `kubectl get  zk -o yaml` details and your modified values file

[2020-09-16 14:56] priyavj08 commented on #244
here is CRD yaml

apiVersion: v1
items:
- apiVersion: zookeeper.pravega.io/v1beta1
  kind: ZookeeperCluster
  metadata:
    creationTimestamp: "2020-09-16T14:49:15Z"
    finalizers:
    - cleanUpZookeeperPVC
    generation: 2
    managedFields:
    - apiVersion: zookeeper.pravega.io/v1beta1
      fieldsType: FieldsV1
      fieldsV1:
        f:spec:
          .: {}
          f:image:
            .:

[2020-09-16 15:01] priyavj08 commented on #244
-
[crd.log](https://github.com/pravega/zookeeper-operator/files/5232980/crd.log)

attaching the yaml of zk, I see securitycontext is present here but doesn't reflect in the zookeeper cluster pods

[2020-09-16 15:27] anishakj commented on #244
In the  output you have shared,  i am seeing securitcontext is set , can you please send the output of  `kubectl get po <zk podname> -o yaml`

[2020-09-16 15:31] priyavj08 commented on #244
[zk1.yaml.log](https://github.com/pravega/zookeeper-operator/files/5233171/zk1.yaml.log)

here it is

[2020-09-17 09:13] priyavj08 commented on #244
hi @anishakj , anything you see wrong in my config? or is this an issue? appreciate your help

thanks

[2020-09-17 09:15] anishakj commented on #244
This looks like an issue. In Podspec, security context is not getting populated.

[2020-09-17 12:57] #241 closed

[2020-09-17 13:17] SrishT commented on #213
From version 0.2.8 onwards, zookeeper charts for the released zookeeper versions will be available in https://charts.pravega.io/. The charts for version 0.2.8 are already available here.

[2020-09-17 13:17] #213 closed

[2020-09-17 13:21] SrishT commented on #190
From version 0.2.8 onwards, zookeeper charts for the released zookeeper versions will be available in https://charts.pravega.io. The charts for version 0.2.8 are already available here.
Even the documentation has now been updated to reflect the same.

[2020-09-17 13:21] #190 closed

[2020-09-17 13:22] SrishT commented on #172
Closing this issue as all 3 subtasks have been implemented.

[2020-09-17 13:22] #172 closed

[2020-09-21 08:56] priyavj08 commented on #244
thanks @anishakj  any timeline on when this fix will be available?

thanks

[2020-09-21 09:03] anishakj commented on #244
Observing some permission issues to start the zookeeper pods  with non root users. Will keep posted on the findings.

[2020-09-21 17:19] #240 closed

[2020-09-22 04:50] #235 closed

[2020-09-24 09:17] qixiaogang opened #249 "Support configure annotations for zookeeper pod"
### Description

There is no way to configure the annotations of zookeeper pod

### Importance

Need to configure the annotations of zookeeper pod in our platform

### Location

Configure the annotations of .spec.pod.annotations, but check the zookeeper instance, annotations doesn't appear in the pod spec

### Suggestions for an improvement

Can we use .spec.pod.annotations to configure the zookee

[2020-09-24 12:55] anishakj commented on #249
This is a duplicate of https://github.com/pravega/zookeeper-operator/issues/125

[2020-09-25 05:15] #249 closed

[2020-09-25 06:23] qixiaogang commented on #249
@anishakj  Do you have a plan to support annotations?
Or can I file a PR to support annotations?

[2020-09-25 06:40] anishakj commented on #249
Sure, Please go ahead

[2020-09-28 01:26] qixiaogang commented on #249
Thanks

[2020-10-05 05:29] SrishT opened #250 "standard should not be set as the default storageclass"
### Description
Currently the default storageclass is being set to standard which might not work for all kinds of environments. Hence we should let Kubernetes pick the default storageclass instead of explicitly specifying it. For more details refer to [this](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#defaultstorageclass).

### Importance
should have

### Locatio

[2020-10-05 16:49] idealemail opened #251 "Couldn't bind to zookeeper-01-0.zookeeper-01-headless.default.svc.cluster.local:2888"
2020-10-05 16:43:47,091 [myid:1] - ERROR [QuorumPeer[myid=1](plain=0.0.0.0:2181)(secure=disabled):Leader@318] - Couldn't bind to zookeeper-01-0.zookeeper-01-headless.default.svc.cluster.local:2888
java.net.SocketException: Unresolved address
        at java.base/java.net.ServerSocket.bind(Unknown Source)
        at java.base/java.net.ServerSocket.bind(Unknown Source)
        at org.apache.zookeepe

[2020-10-05 16:49] idealemail commented on #251
dig zookeeper-01.default.svc.cluster.local @172.20.0.2

; <<>> DiG 9.11.4-P2-RedHat-9.11.4-9.P2.el7 <<>> zookeeper-01.default.svc.cluster.local @172.20.0.2
;; global options: +cmd
;; Got answer:
;; WARNING: .local is reserved for Multicast DNS
;; You are currently testing what happens when an mDNS query is leaked to DNS
;; ->>HEADER<<- opcode: QUERY, status: NXDOMAIN, id: 45543
;; flags: qr aa rd;

[2020-10-05 19:46] dalbani opened #252 "How to specify ZK instance log configuration"
The ZK operator generates a `ConfigMap` containing several items:
- `zoo.cfg`
- `log4j.properties`
- `log4j-quiet.properties`
- `env.sh`

And these files get copied to the `/data/conf` directory which is used by ZooKeeper if I'm not mistaken.
I would like to configure the ZooKeeper instances to use `log4j-quiet.properties` instead of `log4j.properties`.
How can I do that? Given the fact the `Confi

[2020-10-06 05:54] priyavj08 commented on #244
@anishakj
wondering if you have any update on this. thanks

[2020-10-06 06:04] anishakj commented on #251
Could you please elaborate in what scenario you are getting this error

[2020-10-06 11:05] idealemail commented on #251
**os**:Linux XXGL-T-TJSYZ-arch-mid-redis-test-037 3.10.0-514.6.1.el7.x86_64 #1 SMP Wed Jan 18 13:06:36 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
**docker**:Docker version 19.03.5, build 633a0ea838
**k8s version**:Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.6", GitCommit:"72c30166b2105cd7d3350f2c28a219e6abcd79eb", GitTreeState:"clean", BuildDate:"2020-01-18T23:31:31Z", GoVer

[2020-10-06 11:10] idealemail commented on #251
[https://github.com/confluentinc/cp-helm-charts/issues/205](url)

maybe should bind 0.0.0.0 resolve the error

[2020-10-06 22:02] amuraru opened #254 "Installing Kubernetes CRD fails in k8s 1.18.8"
### Description

Trying to install the ZK CRD
[code]
fails with
[code]

[2020-10-07 04:52] Prabhaker24 commented on #254
@amuraru  what is the yaml file you are using for deploying the zookeeper cluster?

[2020-10-07 06:54] #250 closed

[2020-10-07 09:44] Ranganaths8 commented on #229
@qixiaogang  can you explain why we need zk instances need to have a role of observers ?

[2020-10-07 11:21] amuraru commented on #254
hi @SrishT - this hasn't anything to do with ZK cluster creation IMO. it's failing in the very beginning when I try to install the `crd` in my cluster.

Simple steps to reproduce:
[code]

[2020-10-07 11:22] amuraru commented on #254
related issues in other operators:

- datastax/cass-operator#132
- kubernetes-sigs/controller-tools#444
- operator-framework/operator-sdk#3235

[2020-10-09 06:44] anishakj commented on #2
We are able to do scaling via zookeeper-operator. So closing this issue

[2020-10-09 06:44] #2 closed

[2020-10-09 06:56] anishakj commented on #68
Closing this issue as the requirement looks irrelevant.

[2020-10-09 06:56] #68 closed

[2020-10-09 09:22] anishakj commented on #244
After making changes to supply security context to  pods, i am seeing below errors in zookeeper pod start up.  Still need more investigation for fixing permission issues.

[code]

[2020-10-09 13:57] #78 closed

[2020-10-09 13:58] anishakj commented on #254
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/255

[2020-10-09 13:58] #254 closed

[2020-10-09 16:07] pinkeshsharma commented on #224
This is a blocker for us as well ...

[2020-10-10 12:08] #251 closed

[2020-10-12 02:57] qixiaogang commented on #229
@Ranganaths8  As you know, that observers scale the clusters without Hurting Write Performance, see
See https://zookeeper.apache.org/doc/r3.4.13/zookeeperObservers.html#ch_Introduction.
So it will be great if operator support configuring observers

[2020-10-12 20:57] amuraru opened #257 "ZookeeperCluster spec.labels are not propagated to StatefuleSet/Pods created by the operator"
### Description

In our environment we need to have custom labels attached to resources created by the zookeeper-operator for internal compliance.
Trying to use [`spec.labels`](https://github.com/pravega/zookeeper-operator/blob/master/deploy/crds/zookeeper.pravega.io_zookeeperclusters_crd.yaml#L1197-L1202) in the `ZookeeperCluster` CRD doesn't seem to work per documentation. The labels are correct

[2020-10-13 02:15] Ranganaths8 commented on #229
@qixiaogang  got it - will prioritise - thanks

[2020-10-13 16:16] priyavj08 opened #259 "one of the zookeeper pod is in constant CrashLoopBackOff status"
### Description

_(Describe the feature, bug, question, proposal that you are requesting)_
one of the pod in ZK ensemble is in crashloopbackoff state, log file shows error "cat: /data/zoo.cfg.dynamic: No such file or directory"

Bootstrap dynamic config file
+ REGISTERED=1
+ [[ 1 -eq 1 ]]
+ REGISTER_NODE=false
+ [[ false == true ]]
+ ZOOCFGDIR=/data/conf
+ export ZOOCFGDIR
+ [[ ! -d /data/conf ]]

[2020-10-13 17:12] priyavj08 commented on #259
zookeeper container crashed with errorcode 137

[2020-10-13 17:20] #257 closed

[2020-10-14 05:52] anishakj commented on #259
Could you please update the zk operator version and zookeeper version used? Also let me know which of the zookeeper pods crashed in your case?

[2020-10-14 08:56] priyavj08 commented on #259
@anishakj  I am using 0.2.4

3rd zookeeper pod keeps failing  in a cluster size of 3

[2020-10-14 09:16] anishakj commented on #259
This looks like a very old version. We have now released `0.2.9.rc2` for both operator and zookeeper. Can you try with that and update?

[2020-10-14 09:33] priyavj08 commented on #259
@anishakj  thanks, will try that.

another issue I see,  on pod restart, Liveness and readiness probe fails.  Will these issues go away with newer release?

++ echo ruok
(UNKNOWN) [127.0.0.1] 2181 (?) : Connection refused
+ OK=
  Warning  Unhealthy  20s (x3 over 40s)  kubelet, bhuvaneshwaran-m-tx-k8-node-1-yi6vhj-pigr5p0arj7kben1  Liveness probe failed: + source /conf/env.sh
++ DOMAIN=fed-kafka-af

[2020-10-16 08:21] anishakj commented on #259
Is the issue still seen with latest version?

[2020-10-19 01:40] anishakj commented on #252
Are you changing the log configurations at the time of fresh installation  or later?

[2020-10-19 05:56] #125 closed

[2020-10-19 08:34] dalbani commented on #252
Well, I don't think it makes much of a difference AFAIK.
Because the function that creates the `ConfigMap` produces the same result when the `ConfigMap` gets created or overwritten: https://github.com/pravega/zookeeper-operator/blob/master/pkg/controller/zookeepercluster/zookeepercluster_controller.go#L447.
So I don't see how I can tweak the `ConfigMap` at any point.

[2020-10-19 10:07] anishakj commented on #252
Yes you are correct. At the time of restart also, we are copying the log4j-quiet.proerties. https://github.com/pravega/zookeeper-operator/blob/master/docker/bin/zookeeperStart.sh#L159

[2020-10-19 10:12] dalbani commented on #252
If only I could tell ZooKeeper to use `log4j-quiet.properties` instead of `log4j.properties`, that would be enough for me.
But I haven't been able to find a way to do it. For example via an environment variable.
Would you know another way by any chance?

[2020-10-22 05:51] #220 closed

[2020-10-22 05:52] anishakj commented on #224
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/262

[2020-10-22 05:52] #224 closed

[2020-10-23 11:29] priyavj08 commented on #259
@anishakj
tried with latest version 0.2.9 and seeing issue in ZK pod bring up

attaching log files
[zk0.log](https://github.com/pravega/zookeeper-operator/files/5429148/zk0.log)
[zk1.log](https://github.com/pravega/zookeeper-operator/files/5429149/zk1.log)

[2020-10-23 11:30] priyavj08 commented on #259
@anishakj  also notice this error in events in describe pod

Events:
  Type     Reason     Age   From                                                     Message
  ----     ------     ----  ----                                                     -------
  Normal   Scheduled  25m   default-scheduler                                        Successfully assigned fed-kafka/fed-kafka-affirmedzk-0 to pr

[2020-10-23 18:23] anishakj commented on #252
@dalbani  I am seeing that  it is using `log4j-quiet.properties` while starting up. https://github.com/pravega/zookeeper-operator/blob/master/docker/bin/zookeeperStart.sh#L20 Could you please explain me the difference in between `log4j.properties` and `log4j-quiet.properties`

[2020-10-26 15:59] priyavj08 commented on #259
@anishakj  any thoughts on this? should I try a version before this?  please help

thanks
Priya

[2020-10-27 07:07] priyavj08 commented on #259
@anishakj tried with version 0.2.7 and the operator pod doesn't come up, see this error in the describe events of the pod

 Warning  Unhealthy  5s (x31 over 5m5s)  kubelet, priya-vijaya-k8-node-2-a00034-4b2c09f7b029c1b8  Readiness probe failed: stat: can't stat '/tmp/operator-sdk-ready': No such file or directory

[2020-10-27 08:51] anishakj opened #263 "Delete the old transaction logs from zookeeper"
### Description

If the transaction logs in zookeeper exceeds and reaches the size of PVC configured, zookeeper pods are entering crashloopbackoff state

### Importance

Nice to have

### Location

zookeeper_cluster_types.go

### Suggestions for an improvement

Set the AutopurgeInterval to 1 hr and snapshot count to 3 , so that old transaction logs are deleted

[2020-10-27 09:24] anishakj commented on #259
Could  you please share me the operator yaml file used?

[2020-10-27 10:02] priyavj08 commented on #259
@anishakj after removing the readiness probe check from operator yaml it is working fine.

but I am back to error where zk-1 is in crashloopbackoff state with error

 Unexpected exception, exiting abnormally
java.lang.RuntimeException: My id 2 not in the peer list
        at org.apache.zookeeper.server.quorum.QuorumPeer.start(QuorumPeer.java:1073)
        at org.apache.zookeeper.server.quorum.Quor

[2020-10-27 10:23] anishakj commented on #259
Which envirionment are you trying , is it a minikube?

[2020-10-27 11:00] priyavj08 commented on #259
@anishakj no it is not minikube. it is kubernetes version 1.18

[2020-10-27 11:04] anishakj commented on #259
From the logs shared I am seeing
[code]

[2020-10-27 11:13] priyavj08 commented on #259
oh ok what can cause this? any config I am missing?

[2020-10-27 13:24] anishakj commented on #259
Can you try it on minikube?(https://github.com/pravega/zookeeper-operator#installation-on-minikube). We have tried in multiple environments, didn't see this issue.

[2020-10-27 14:06] #263 closed

[2020-11-02 13:09] dalbani opened #265 "Helm chart version differs from pravega/charts"
### Description

The ZooKeeper [operator] Helm charts provided in https://github.com/pravega/charts/tree/master/docs have recently been updated to version 0.2.9.
But the version in this repository is still 0.2.8:
- https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper/Chart.yaml
- https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper-operator/Chart.yaml

#

[2020-11-02 13:30] SrishT commented on #265
@dalbani yes the charts are actually based on the code provided in this repository. The version here however needs to be updated.

[2020-11-03 15:33] spiegela opened #266 "Automating the release process"
### Description

The release job in travis is failing to push docker images out in the release process.  The user credentials for the Docker reigstry must have changed, and were not updated in the encrypted Travis configuration

https://travis-ci.org/github/pravega/zookeeper-operator/jobs/736353355

[code]

### Importance

❗ Critical ❗

### Location

https://github.com/pravega/zookeeper-operator/b

[2020-11-03 15:40] anishakj commented on #266
@spiegela We are pushing the images to docker hub manually as of now. This is done because the  `make push` won't tag the images properly. It is not a broken functionality.

[2020-11-03 22:42] punkprzemo commented on #244
Any update on this? seems like below values which are in `kind: ZookeeperCluster` are not populated to statefulset
[code]

Regards

[2020-11-04 04:52] anishakj commented on #252
@dalbani Could you please confirm if above is the requirement

[2020-11-04 05:04] priyavj08 commented on #259
works for me with quorumListenOnAllIPs set to true although not running in istio mesh, may be something specific to my environment

closing this issue

[2020-11-04 05:04] #259 closed

[2020-11-04 09:03] dalbani commented on #252
@anishakj
Well, being able to provide one's own `log4j.properties` definition would probably be best, I suppose.
But being able to set the global log level is also fine for me.
Actually, I was wondering if it's not already possible via:
[code]
Based on the code at https://github.com/apache/zookeeper/blob/master/bin/zkEnv.sh#L73.

(In my case, as a ZooKeeper user via the Solr operator, I'd still ha

[2020-11-04 09:14] anishakj commented on #252
We can add ENV to mention log level. But not sure if log level is mentioned via log4j-properties as well as ENV which one will take preference.  Currently we are using log4j-properties  and is hardcoded to INFO.

[2020-11-04 10:02] anishakj commented on #252
By setting env in https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper/values.yaml#L19  , logs are coming correctly for the pods according to the loge level set. Can we close this issue in that case?

[2020-11-04 10:26] dalbani commented on #252
Yes, that's fine. Thank you.

[2020-11-04 10:26] #252 closed

[2020-11-04 13:42] dalbani opened #268 "Operator Helm chart mentions wrong port for metrics"
### Description

The ZooKeeper operator Helm chart mentions port 6000 for metrics:
https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper-operator/templates/operator.yaml#L25
Yet, if I make an HTTP request on port 8080, at path "/metrics", I get a response with metrics data.

### Importance

I hesitate between must-have and should-have, but all in all, I think that monitoring i

[2020-11-05 05:02] #265 closed

[2020-11-05 05:39] anishakj opened #269 "Helm chart is not setting ephemeral configurations correctly"
### Description

Install zookeeper-operator `0.2.9`  and install zookeeper `0.2.9` by setting storageType as ephemeral. After zookeeper cluster is deployed, it is showing `persistence` staorage type configurations. Ephemeral configurations are not taken into effect.
### Importance

 should-have

### Location

Charts

### Suggestions for an improvement

Fix the charts to take correct configuration

[2020-11-05 10:35] #269 closed

[2020-11-09 11:38] soleimaniamir commented on #185
I have the same problem, there is no `imagePullSecrets` option to deploy zookeeper cluster in an offline environment.

[2020-11-13 10:46] #165 closed

[2020-11-17 17:38] #185 closed

[2020-11-18 09:55] soleimaniamir opened #273 "How should I use `imagePullSecrets` in deploying zookeeper cluster?"
Hello, I want to deploy a zookeeper cluster with operator, but I don't know where I should add imagePullSecrets in yaml. this is my deploy file:

[code]

[2020-11-18 09:57] soleimaniamir commented on #273
Hello, I want to deploy a zookeeper cluster with operator, but I don't know where I should add `imagePullSecrets` in yaml. this is my deploy file:
[code]

[2020-11-18 10:03] Prabhaker24 commented on #273
@soleimaniamir image pull secret works for non-default account you can apply it like this
[code]

[2020-11-18 10:41] soleimaniamir commented on #273
@Prabhaker24  This is `rbac.yaml` that I applied before deploying zookeeper:
[code]
then I changed my `deploy.yml` like here:
[code]
but there is error `no basic auth credentials`

[2020-11-18 10:45] anishakj commented on #273
@soleimaniamir which is the zookeeper-operator version you are using. You have to build the image for this changes to work. Changes are not present in zookeeper-operator version `0.2.9`

[2020-11-18 21:23] thelabdude commented on #141
cert-manager supports pkcs12 now ... I think the approach I took for the Solr operator (which relies heavily on ZK) would be applicable for this operator: https://github.com/bloomberg/solr-operator/pull/151 ... tl;dr is cert-manager integration ... if y'all agree that's a good approach, I can work up a PR for this repo as well

[2020-11-19 05:35] anishakj commented on #273
Closing this issue as testing is done in an operator version where the fix is not there

[2020-11-19 05:35] #273 closed

[2020-11-24 23:37] fokkoru opened #274 "Support configure annotations for zookeeper pod again"
### Description

It looks to me like a bug. Could be related to #125, #249, #260

I try to apply `kubectl apply -f zk.yam` the following config on GKE
[code]
but after I can't find those annotations on pods. What did I wrong? A version of zookeeper-operator is 0.2.9.

### Importance

must-have

### Location

Configure the annotations of .spec.pod.annotations, but check the zookeeper instance, anno

[2020-11-25 02:16] anishakj commented on #274
Fix will be available only in zookeeper-operator `0.3.0`. For time being you can build custom image and use it.

[2020-11-25 02:16] #274 closed

[2020-11-25 17:15] fokkoru commented on #274
@anishakj when do you plan to release `0.3.0`?

[2020-11-25 17:18] anishakj commented on #274
Mostly in another 2 months

[2020-11-28 11:46] priyavj08 opened #275 "make LivenessProbe,ReadinessProbe initialdelayseconds,timeout configurable thru CRD"
### Description

_(Describe the feature, bug, question, proposal that you are requesting)_
In cases where ZKserver takes little bit more time to startup,  "echo ruok | nc 127.0.0.1 $CLIENT_PORT" fails with connection refused. ZookeeperReady.sh doesn't promote the node as participant and the quorum doesn't form
### Importance

_(Indicate the importance of this issue to you (blocker, must-have, shou

[2020-12-01 08:43] ravisharda commented on #141
Integration with Cert Manager so that Zookeeper can receive TLS material from it, would be a very useful feature to have. It'd simplify the management of TLS material. Presumably, the SSL/TLS certificates (both the server certificate and the CA certificate) and private key files can be provided by Cert Manager. What about the remaining configuration items?

1. The `secureClientPort`
2. The `server

[2020-12-02 11:06] anishakj opened #276 "Building docker images using local registry"
### Description

There is a pull rate limit recently introduced by dockerhub, therefore any automated jenkins builds start failing with

Step 3/19 : FROM golang:${GO_VERSION}-alpine${ALPINE_VERSION} as go-builder
16:49:27  toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit
16:49:27  Makefile

[2020-12-02 12:35] chaicesan opened #278 "Only one pod get's created whilst the next remains in a CrashLoopBackOff state"
### Description

I am attempting to run the zookeeper operator on an EKS cluster. From what I can tell the zookeeper operator seems to be running okay but problems occur when I want to spin up a zookeeper cluster.

I use the following manifest for this:
[code]

which results in:
[code]

logs for `zookeeper-0` always seem to be stuck with:
[code]

logs for `zookeeper-1` are always:
[code]

I instal

[2020-12-02 12:53] anishakj commented on #278
@chaicesan Could you please provide us the complete logs of zookeeper-0 and zookeeper-1 pods

[2020-12-02 14:33] chaicesan commented on #278
@anishakj This is the extent of the zookeeper-1 pods.

Here is the complete zookeeper-0 log though:

[code]

[2020-12-02 14:35] chaicesan commented on #278
I have also noticed

[code]
It only believes itself exists.

[2020-12-02 14:42] anishakj commented on #278
@chaicesan  Are you seeing any  errors in `kubectl get events`

[2020-12-02 14:45] chaicesan commented on #278
Just
[code]
Not completely sure why but I'll try and fix it. Not sure this would cause the issues though?

[2020-12-03 12:25] bhushan558 opened #279 "Unable to create environment variable needed to configure kafka sasl authentication"
### Description

I am trying to create an environment variable in the 3 zookeeper kubernetes pods(running 1 zk operator with 3 zk pods in a cluster), we do have a zookeeper operator 0.2.7 version. The goal is to setup SASL/SSL authentication, and for that reason I would like to have environment variable to set in 3 zookeeper pods cluster.
KAFKA_OPTS="-Djava.security.auth.login.config=etc/kafka/zoo

[2020-12-03 13:40] Prabhaker24 commented on #279
Hi @bhushan558 we currently don't have support for tls configuration that is something which is WIP link to the issue is https://github.com/pravega/zookeeper-operator/issues/141

[2020-12-03 14:18] chaicesan commented on #278
@anishakj
I have been checking my network policies to make sure they are correct and I believe they are.

For context:
[code]

The reason I checked is because I was concerned because it gets stuck in the zookeeper-1 logs as shown above, for example:
[code]

So it is not able to connect to that service for some reason.

However from zookeeper-1 I am able to connect to zookeeper-0:
[code]
This gives

[2020-12-03 14:21] bhushan558 commented on #279
@Prabhaker24 Thank you for your response. Is there any workaround or any other mechanism we can achieve TLS.

[2020-12-03 14:27] Prabhaker24 commented on #279
@bhushan558 Sorry, currently I don't feel there's any workaround possible for this.

[2020-12-03 16:18] anishakj commented on #278
@chaicesan Could you please check `/root/zu.jar` is accessible from zookeeper-1 pod

[2020-12-03 16:35] #276 closed

[2020-12-03 17:14] chaicesan commented on #278
It appears to be.
[code]

[2020-12-03 21:58] diranged commented on #254
@anishakj This is not actually fixed. The helm charts still include this `protocol` key in the list of required parameters, but the file at https://raw.githubusercontent.com/pravega/zookeeper-operator/v0.2.9/deploy/crds/zookeeper.pravega.io_zookeeperclusters_crd.yaml does not. The https://raw.githubusercontent.com/pravega/zookeeper-operator/v0.2.9/deploy/crds/zookeeper.pravega.io_zookeeperclusters

[2020-12-04 04:34] anishakj commented on #254
We have added the check here in helm charts. https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper-operator/templates/zookeeper.pravega.io_zookeeperclusters_crd.yaml#L692

[2020-12-04 04:52] anishakj commented on #278
if you execute `java -Dlog4j.configuration=file:/conf/log4j-quiet.properties -jar /root/zu.jar get-all zookeeper-client:2181
Connecting to Zookeeper zookeeper-client:2181` directly on zookeeper-1 pod is the same error coming. Can it be due to any firewall issues?

[2020-12-04 05:48] diranged commented on #254
So I am not familiar with how that semvar compare function works - but on our 1.18.8 EKS cluster, it was comparing to "true" and inserting the protocol line. Is it possible that the check is somehow backwards? Here's our server version line:

[code]

[2020-12-04 10:49] amuraru commented on #254
@diranged are you using `helm template ... | kubectl apply -f" or `helm install ...` for the helm chart?
In the former case the actual server side version is not taken into consideration and helm is using the version it was built against: https://github.com/helm/helm/issues/7991#issuecomment-620223572

IMO: we should remove that check altogether from the helm chart crd tempalte

[2020-12-04 11:24] chaicesan commented on #278
Okay it _looks_ like the issue has been solved now. In my network policy I was using a `namespaceSelector`.

[code]
For some reason it seemed intuitive that it would be possible to match against the name and, apparently, I am not the only one to think this https://github.com/kubernetes/kubernetes/issues/88253

Now I've got
[code]
with all the logs looking like the output from zookeeper-0, which I'

[2020-12-04 11:25] chaicesan commented on #278
[code]

[2020-12-04 11:28] anishakj commented on #278
Yes, it looks fine now. Probably you can close the issue

[2020-12-04 11:32] chaicesan commented on #278
Awesome, thanks for your help

[2020-12-04 11:32] #278 closed

[2020-12-04 19:02] diranged commented on #254
@amuraru Oh - I didn't know that's how it worked.. that is actually a silly behavior. I agree that this check should go away because that is not how most people are going to use helm. In our case we're using helm through argocd.

[2020-12-08 10:16] anishakj opened #281 "Move to github action from travis"
### Description

Move from travis to github action
### Importance

Nice to have

### Location

Create workflow file in .github

### Suggestions for an improvement

Create CI file for github action

[2020-12-08 15:06] anishakj commented on #281
Fixed via PR https://github.com/pravega/zookeeper-operator/pull/280

[2020-12-08 15:06] #281 closed

[2020-12-11 10:28] z0mb1ek opened #283 "Changing log level"
Hi. I see very much logs, can I configure log level for zookeeper?

[2020-12-12 22:51] ghahramani opened #284 "Persistence PVC not working"
### Description

Hi,
I have installed istio and tried to deploy zookeeper in my cluster (I am using kubespray with two nodes and local-storage). The PVC cannot be created and `kubectl describe pvc data-zookeepr-0 -n messaging` returns this error:

[code]

and the statefulset shows error below:

[code]

![image](https://user-images.githubusercontent.com/1059436/101997084-35e30f00-3ccc-11eb-8229-1f8

[2020-12-14 07:12] xandr0s commented on #283
Hi. We tried [this setup](https://github.com/pravega/zookeeper-operator/issues/252#issuecomment-721610889) and it worked

[2020-12-14 13:27] anishakj commented on #283
Closing this, as there is option to set log level

[2020-12-14 13:27] #283 closed

[2020-12-20 11:40] ambye85 opened #285 "Zookeeper operator fails to install when used as a Helm dependency"
### Description

When specified as a dependency of a Helm chart, the Zookeeper Operator fails to install due to CRD's not being installed.

[code]

Helm cannot find the relevant CRD's because they have not yet been installed, so fails with the following error:

[code]

The CRD template file has the conditional statement which prevents `kubectl apply -f https://raw.githubusercontent.com/pravega/zoo

[2020-12-23 14:04] SrishT commented on #285
@ambye85 having the crds folder was not required in our use-case since the crd installation is done in the zookeeper-operator charts and required in the zookeeper charts. Hence if you can ensure that the dependencies are installed in a particular order, i.e. the zookeeper-operator installation happens before attempting to install the zookeeper charts, that should fix the issue you are facing.

[2020-12-24 07:52] ambye85 commented on #285
@jdmaguire thanks, I hadn't spotted the CRD in the deploy folder.

@SrishT I initially attempted to enforce an order but [soft dependencies between charts](https://helm.sh/docs/glossary/#chart-dependency-subcharts) is not supported by Helm:

There is [a post from 2018 on Stackoverflow](https://stackoverflow.com/questions/50492389/helm-subchart-order-of-execution-in-an-umbrella-chart) which suggest

[2021-01-06 21:52] icyd opened #286 "Older Zookeeper versions"
### Description

Question: Is it possible to generate/deploy older versions of zookeeper with this operator (ie 3.4.x)? Or there are dependencies related with Zookeeper? Thanks!

[2021-01-09 03:55] lengrongfu opened #287 "zookeeper metrics"
### Description
   Is there a plan to add the default indicator collector to the operator and grab it through Prometheus?

[2021-01-09 03:56] lengrongfu commented on #287
If there is no plan, I can contribute.

[2021-01-10 04:44] anishakj commented on #287
Please go ahead

[2021-01-10 15:58] lengrongfu commented on #287
assign to me.

[2021-01-10 16:08] lengrongfu opened #288 "zk operator bug"
### Description
I started to create a cluster with 5 nodes, and it was created successfully. Later, when I changed to 3, 2 pods could not be deleted normally, and the operator reported an error.

![image](https://user-images.githubusercontent.com/15009201/104128181-0265d400-53a1-11eb-9d73-35daf1e5017f.png)

![image](https://user-images.githubusercontent.com/15009201/104128196-17dafe00-53a1-11eb-88

[2021-01-10 16:30] lengrongfu commented on #288
I think the `err` type should be judged here.
![image](https://user-images.githubusercontent.com/15009201/104128729-3098e300-53a4-11eb-92bf-36285941b2ab.png)

[2021-01-11 04:09] anishakj commented on #288
@lengrongfu How you performed scale down, Is it by using `kubectl edit zookeepercluster`

[2021-01-11 04:44] lengrongfu commented on #288
The scaling is triggered by modifying the value of the `replicas` field in the YAML file.
![image](https://user-images.githubusercontent.com/15009201/104147760-9c159b80-540a-11eb-9f8f-a3bf62c452fb.png)

[2021-01-13 03:11] priyavj08 commented on #275
hi @anishakj  when will this be available?

thanks

[2021-01-13 03:38] #275 closed

[2021-01-13 04:29] priyavj08 commented on #275
@anishakj  thanks. when will the next release be?

[2021-01-15 13:35] jkhalack opened #291 "ZK cluster post-install-upgrade hook does not wait for all replicas"
### Description

The post-install-upgrade hook in zookeeper cluster chart does verify that all desired replicas have been deployed.
Since it checks for `status.replicas == status.readyReplicas`, the hook might pass, for example, when only two of three desired replicas have been deployed successfully, before the third replica even started creating.

### Importance

should-have

### Location

https:

[2021-01-17 10:58] krishnachalla-hv opened #292 "How to install one zookeeper operator per namespace?"
In my current project we creating multi tenant application. For that I need to install zookeeper operator and solr operator per namespace. In the solr operator there is flag watchnamespaces: true then it will watch only that particular namespace. In zookeeper operator there is a same kind of flag but not working for me.
lets say I installed zookeeper operator for tenant-1 like below
helm install t

[2021-01-17 12:43] Prabhaker24 commented on #292
@krishnachalla-hv  This is because you are giving the same chart name i.e **t0** try installing the second zk-op with a different name.

[2021-01-17 17:00] krishnachalla-hv commented on #292
No Still the same error.
`helm install t1 pravega/zookeeper-operator --set watchnamespace="tenant-2" -n tenant-2
Error: rendered manifests contain a resource that already exists. Unable to continue with install: CustomResourceDefinition "zookeeperclusters.zookeeper.pravega.io" in namespace "" exists and cannot be imported into the current release: invalid ownership metadata; annotation validation

[2021-01-17 17:01] krishnachalla-hv commented on #292
I am installing in another namespace I can use the same release name right?

[2021-01-18 06:23] Prabhaker24 commented on #292
This error is happening as you already have installed crd with the first install for the second install please give the value of **crd.create* as **false** check the values.yaml file here *https://github.com/pravega/zookeeper-operator/blob/e393d1fba9b8d6110552c43ba688cec0dacd2c0d/charts/zookeeper-operator/values.yaml#L28, and it should work.

[2021-01-18 06:24] Prabhaker24 commented on #292
I also always prefer to give a different helm release name. Have you tried giving the same release name in different ns has it worked for you?

[2021-01-18 06:36] krishnachalla-hv commented on #292
I am developing multi tenant application for each client I am planning to have zookeeper that will be local to to that namespace. If I install first zookeeper operator in **tenant-1** ns with **crd.create** as **true** and then in then in the **tenant-2** namespace if I say **crd.create** as **false** will this be local to **tenant-2** namespace?

I have installed [Solr Operator](https://github.co

[2021-01-18 06:37] krishnachalla-hv commented on #292
No it didn't work for me.

[2021-01-18 06:47] Prabhaker24 commented on #292
Yes, please try with the false thing once and let me know you should run the command below for installing it:-

``` helm install t1 banzaicloud-stable/zookeeper-operator -n tenant-2 --set watchnamespace=tenant-2 --set crd.create=fasle ```

[2021-01-18 06:54] krishnachalla-hv commented on #292
should I need to use pravega/zookeeper-operator  or banzaicloud-stable/zookeeper-operator ?
`helm install t1 pravega/zookeeper-operator -n tenant-2 --set watchnamespace=tenant-2 --set crd.create=false`

[2021-01-18 06:55] Prabhaker24 commented on #292
you need to use  pravega/zookeeper-operator

[2021-01-18 07:00] krishnachalla-hv commented on #292
It worked with different release name but with same release it failed.
`helm install t1 pravega/zookeeper-operator -n tenant-1 --set watchnamespace=tenant-1 --set crd.create=true`
`helm install t1 pravega/zookeeper-operator -n tenant-2 --set watchnamespace=tenant-2 --set crd.create=false`
`Error: rendered manifests contain a resource that already exists. Unable to continue with install: ClusterRol

[2021-01-18 07:58] Prabhaker24 commented on #292
no, it will not work with the same release name. You will have to have different release name.

[2021-01-18 08:32] krishnachalla-hv commented on #292
If I say **--set crd.create=false** in the second tenant namespace then the zookeeper operator is local to that namespace? Can we have per tenant zookeeper operator?

[2021-01-18 09:04] Prabhaker24 commented on #292
yes, but it basically means that each operator will be watching that namespace for the zookeeper resource.
yes, for all other tenant set the crd.create to false.

[2021-01-18 10:04] krishnachalla-hv commented on #292
Got It. Thank you. Is there any workaround to have same **release name** if we install it in different namespace?

[2021-01-18 10:12] Prabhaker24 commented on #292
You're Welcome, no that's by design in helm we can't have more than one resource  with the same helm release name.

[2021-01-18 10:35] Prabhaker24 commented on #292
@krishnachalla-hv, I am closing this issue. Feel free to comment here if you need any more help here.

[2021-01-18 10:35] #292 closed

[2021-01-18 15:02] lengrongfu commented on #288
@anishakj hi, do you think this is the problem? If it is a problem, please merge this pr, if not, please close.

[2021-01-19 13:19] anishakj commented on #288
After editting the yaml did u perform `kubectl apply`. We didnt see this issue in our environments. Which environment are you using ?

[2021-01-20 09:28] #291 closed

[2021-01-20 14:29] anxolerd commented on #216
I have encountered the same issue while updating zookeeper operator to 0.2.9. The solution was to delete `/zookeeper-operator` path in zookeeper, using zkCli.sh from the zookeeper pod.

[2021-01-20 16:44] lengrongfu commented on #287
Regarding this metrics feature support, I found that this project has done a lot of things and can export` jmx`, so now I think what I can do is to add a `servicemonitor.yaml ` file to the project. If you think this is unnecessary, Then I will close this issue.

[2021-01-21 02:52] lengrongfu commented on #288
Yes, `kubectl apply` is executed, and it is currently in the development environment.

[2021-01-21 16:22] krishnachalla-hv opened #294 "Uninstalling the Zookeeper Operator in one namespace removes pods in other namespace"
Installed the Zookeeper operator with  **release-name=t0,crd.create=true, watchnamespace= tenant-1** in tenant-1 namespace. In the tenant-2 namespace installed the operator with **release-name=t1, crd.create=false, watchnamespace=tenant-2**. When I uninstall **t0** release which is deployed in **tenant-1** namespace it is terminating zookeeper pods in tenant-2 namespace also.

[2021-01-22 06:40] #294 closed

[2021-01-25 16:28] krishnachalla-hv opened #298 "Is there any way to deploy crd and operator seperatly?"
Right now If only want to deploy crd I think that is not possible currently due helm templates values are used in crd file. Is there any way to do that. Basically I am developing multi tenancy application for that I am deploying zookeeper operator per namespace.

Lets say I installed the zookeeper operator in **tenant-1** namespace like below:
`helm install -f ~/my-values.yaml t0 -n tenant-1 .`
va

[2021-01-27 06:45] kentakozuka opened #299 "Helm config spec cannot be set because the some paths are incorrect"
### Description

In the zookeeper helm chart, some config specs cannot be set because the paths are incorrect.
They should be;

[code]

But in some lines, they are;

[code]

### Location

https://github.com/pravega/zookeeper-operator/blob/b50eaa4565b8643cecf9fb1216a5470d8efb4423/charts/zookeeper/templates/zookeeper.yaml#L91-L137

### Suggestions for an improvement

It is necessary to set correct p

[2021-01-28 18:05] jkhalack opened #300 "No pre-delete hook in zookeeper-operator chart"
### Description

The zookeeper-operator helm chart does not have a pre-delete hook in it.
As a result, the operator can be uninstalled with orphan custom resources hanging around.

The orphan custom resources cannot be deleted, because they have finalizers that are supposed to be cleared by the operator. However, the operator is gone at this point.

Even the operator is reinstalled, it most probab

[2021-01-30 11:48] anishakj commented on #141
@thelabdude  Do you have any update on this?

[2021-02-01 15:44] thelabdude commented on #141
No update but sounds like there's growing interest in having this, so I can get a PR for it next week (eta: Feb 10) (have another project I need to focus on this week) ~ stay tuned ;-)

[2021-02-02 11:16] #298 closed

[2021-02-04 03:00] #237 closed

[2021-02-09 12:51] #300 closed

[2021-02-22 06:02] cospotato opened #302 "chart: some api object deprecated"
### Description

`apiextensions.k8s.io/v1beta1 CustomResourceDefinition` will unavailable in `v1.22+`

[code]

### Importance

_should-have_

### Location

https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper-operator/templates/zookeeper.pravega.io_zookeeperclusters_crd.yaml

### Suggestions for an improvement

Maybe add `Capabilities` object to check cluster capabilities?

[2021-02-24 01:10] copart-jafloyd commented on #286
I need zoookeeper 3.4.11 to support solr cloud 7.5.0

Looks like there are two places that reference the zookeeper version:
https://github.com/pravega/zookeeper-operator/blob/9bdc9a2a33a93d333979707ff5a5cc37b1c5c830/docker/Dockerfile#L18
https://github.com/pravega/zookeeper-operator/blob/c80add8305c25f2a85289db011a3c9494246ae99/docker/zu/build.gradle.kts#L15

upgrade to 3.6.1 was in c80add8305c25f

[2021-02-24 02:06] copart-jafloyd commented on #286
The tag format is defined in the Makefile:
https://github.com/pravega/zookeeper-operator/blob/ce7b41d7c8597ad4931087618771c6dfca73c2a9/Makefile#L17-L21
https://github.com/pravega/zookeeper-operator/blob/ce7b41d7c8597ad4931087618771c6dfca73c2a9/Makefile#L51-L61
https://github.com/pravega/zookeeper-operator/blob/ce7b41d7c8597ad4931087618771c6dfca73c2a9/Makefile#L88-L101

[2021-02-24 02:26] copart-jafloyd commented on #286
So something like this in the Makefile:
[code]
then use the new var in the Dockerfile:
[code]

I'm not sure how to parametrize the gradle bits however:
[code]
Maybe we can pass in the zookeper version here?
https://github.com/pravega/zookeeper-operator/blob/ce7b41d7c8597ad4931087618771c6dfca73c2a9/docker/Dockerfile#L16

[2021-02-24 05:26] SrishT commented on #299
@kentakozuka this would require a minor fix. Would u like to send out a PR in order to fix this issue?

[2021-02-25 05:02] anishakj opened #304 "Adding more end to end tests"
### Description

Add more end to end tests on zookeeper-operator

### Importance

Nice to have

### Location

pkg/test/e2e/

### Suggestions for an improvement

Add more tests

[2021-02-25 11:55] #299 closed

[2021-02-26 00:16] cognifloyd commented on #286
I just tested buidling the docker image with older versions of zookeeper. The code in `docker/zu` requires zookeeper 3.6.0 or greater to build. It'll probabaly need some kind of conditional logic to support the older versions.

Also, it seems `zu` is an integral part of the `operator` logic, so we can't really swap out this zookeeper image for any random zookeeper image.

[code]

PS: @copart-jaflo

[2021-02-26 01:22] cognifloyd commented on #286
Hmm. I was wrong. Building with 3.5.5+ does work. Older than that does not.

[2021-02-26 02:05] cognifloyd commented on #286
3.5.5 is the first stable release of zookeeper 3.5 series, so there are no earlier docker images.
[`org.apache.zookeeper.admin.ZooKeeperAdmin`](https://zookeeper.apache.org/doc/r3.5.3-beta/api/org/apache/zookeeper/admin/ZooKeeperAdmin.html) was introduced in 3.5.3, which is why we can't compile with zookeeper 3.4.*.

[2021-02-26 03:39] cognifloyd commented on #286
https://zookeeper.apache.org/doc/r3.5.3-beta/zookeeperReconfig.html
Though we could create some backwards compat code to use the `ZooKeeper` client instead of `ZooKeeperAdmin`, the feature for reconfiguring the cluster on the fly was not added until `3.5.3`. So, the best this Operator can do is support `3.5.5+`. I guess for 3.4.11, I won't be able to use an Operator.

[2021-02-26 04:02] cognifloyd commented on #286
@icyd I started building the ability to use alternate ZooKeeper versions in #306. I won't continue working on it, however, because I need ZK 3.4.11, so I will have to use something other than this operator.
I'm happy to let someone take over the PR where I left off.

[2021-03-01 12:18] alim-akbashev opened #307 "Custom annotations for services created by operator, optional LoadBalancer"
### Description

It would be great to have ability to attach custom annotations for services created by the Operator, and to make attaching LoadBalancer for AdminServer service optional

### Importance

This is especially important  for admin-server service, since by default LoadBalancer with default configuration is being attached. For my environment it conflicts with automated provisioning of re

[2021-03-02 03:09] #304 closed

[2021-03-03 08:41] khauser opened #309 "Our client needs zookeeper hosts"
Hi,

in our current software we use the client library "solr-solrj" to connect to our solr/zookeeper installation (on virtual machines).

build.gradle
[code]

In code we are then able to connect to solr by adding a list of valid zookeeper hosts.
[code]
As far as we understood is that a zookeeper instance is called to return a valid solr instance with which our application can work internally.

We

[2021-03-03 08:58] #309 closed

[2021-03-03 08:58] khauser commented on #309
wrong project

[2021-03-05 11:57] Biga-incorta opened #310 "increase Max and Min session timeout didn't take effect into zookeeper configuration"
Hi Guys,

I tried the following
`helm install zookeeper pravega/zookeeper --version=0.2.9 --set config.tickTime=3000 --set config.maxClientCnxns=120   --set config.minSessionTimeout=2000 --set config.maxSessionTimeout=900000 `

but when open the configmap I didn't see minSessionTimeout, maxSessionTimeout or maxClientCnxns only the tickTime changed from default 2000 into 3000.

What is wrong?

[2021-03-05 12:02] anishakj commented on #310
@Biga-incorta  these  changes are not available in `0.2.9` release. It will be there in the coming release.

[2021-03-05 13:38] #310 closed

[2021-03-09 19:15] mike-serchenia opened #311 "wrong PV failure-domain.beta.kubernetes.io/zone"
### Description

GKE cluster

I'm creating ZookeeperCluster with the following config
[code]
The node pool has both `failure-domain.beta.kubernetes.io/region=us-east4` and `,failure-domain.beta.kubernetes.io/zone=us-east4-a` labels. While PV was created with
[code]
as a result `Cannot schedule pods: node(s) had volume node affinity conflict.`

The cluster has a few node-pools, one of them actually

[2021-03-10 16:57] anishakj commented on #311
@mike-serchenia  Could you try by changing the affinity settings in https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper/values.yaml#L33

[2021-03-15 15:40] srteam2020 opened #312 "[BUG] PVC can be mistakenly deleted when reading from stale apiserver"
### Description

We find that zookeeper-operator could accidentally delete the PVC of the zookeeper pod when zookeeper-operator experiences a restart and talks to one stale apiserver in an HA k8s cluster. After several rounds of inspection, we find the root cause is the staleness of the events fed from the apiserver to the controller.

More concretely, the controller performs reconcile() according

[2021-03-16 12:17] maddisondavid commented on #288
While I agree that the code changes would handle the situation where the Meta was already and need to be updated, I'm confused how the code got into this state.  The originating call to `CreateNode` must have come from `reconcileClusterStatus`
https://github.com/pravega/zookeeper-operator/blame/b875bba3b2b69953ec428e7edbbd51592c188aaf/pkg/controller/zookeepercluster/zookeepercluster_controller.go#

[2021-03-17 05:19] anishakj commented on #312
@srteam2020  Thanks for finding the issue. Please go ahead and raise PR as you know how to solve this issue.

[2021-03-17 15:08] srteam2020 commented on #312
@anishakj  Yes, thank you for confirming the issue. We will raise a PR for it.

[2021-03-18 20:25] lunarfs commented on #286
so curently testing my 3.5.8 image build using https://github.com/lunarfs/zookeeper-operator/tree/zookeeper_dynamic_version if it goeas as expected. I will try to either take over on  https://github.com/pravega/zookeeper-operator/pull/306  or create a new PR from https://github.com/lunarfs/zookeeper-operator/tree/zookeeper_dynamic_version

[2021-03-19 04:52] anishakj commented on #286
@lunarfs  we have tested extensively with `3.6.1` base image. Is there any specific reason you want  to use `3.5.8`. ? Also, regarding the tagging we are keeping zookeeper version in sync with up with Operator version.

[2021-03-19 06:29] lunarfs commented on #286
@anishakj so the reason for 3.5.8 is that it is the officially supported version for kafka, kafka is compiled against this version. Until Kafka officially supports 3.6.1 I have a hard time seeing us running any other version. Also we are migrating from a kafka 2.7/zk 3.5.8 VM setup and would like to have as few unknowns as possible. So i know that the /metrics is not working on the 3.5.8 image, so

[2021-03-22 08:49] #312 closed

[2021-03-22 17:06] #307 closed

[2021-03-24 16:42] srteam2020 opened #314 "[BUG] Reading stale ZookeeperCluster spec/status can lead to undesired pod and PVC deletion"
### Description

We find that zookeeper-operator could accidentally delete zookeeper pod and its PVC when the controller reads stale information about ZookeeperCluster.

More concretely, we observe that if a ZookeeperCluster goes through scale down and then scale up, and one of the apisevers gets slow (or partitioned from others), the (restarted) controller may read the stale status/spec informati

[2021-03-29 15:00] BassinD opened #315 "Second ZK pod doesn't starts due to 'java.lang.RuntimeException: My id 2 not in the peer list' exception"
### Description
We are using zookeeper **v.0.2.9**.
Sometimes (not in all environements) zookeeper-1 pod unable to start due to RuntimeException.
Pod 's log:
[code]
Zookeeper cluster CRD description
[code]
Previously we used ZK **v0.2.7** and there was no this issue.
Also I tried the fix described in issue #259 , but it didn't helped.

### Importance

Blocker issue. We need some fixes related to 0

[2021-03-31 13:53] priyavj08 commented on #315
@BassinD I am hit by this issue for quite some time, no resolution so far.  This is a critical issue for me as well.  It happens intermittently even in our production environment.

from what I understand, this failure can happen when promotion of node from observer to participant fails in ZookeeperReady.sh which is run as part of Readiness probe.   For me sometimes, I get the error as below

++ ec

[2021-04-08 17:32] thelabdude opened #316 "skipACL is hardcoded to "yes" and cannot be overridden via env vars"
### Description

The `skipACL` property is set to yes in `zoo.cfg`, see:
https://github.com/pravega/zookeeper-operator/blob/b1519aec85c52bd946eaa91b4bcf58e1767210f2/pkg/zk/generators.go#L250

This prevents consumer applications (Solr in my case) from being able to guard sensitive znodes. Does the operator rely on ACLs not being enforced?

I tried overriding the value from `zoo.cfg` with an env var

[2021-04-13 10:15] anishakj commented on #288
@lengrongfu  Could you please paste the output of above command?

[2021-04-15 09:57] anishakj opened #318 "Re-evaluate log level for zookeeper operator"
### Description
Reevaluate Log Level for Operator

### Importance
Nice_to_have

### Location
main.go , zookeepercluster_controller.go

### Suggestions for an improvement
Use Zerolog to set log level for operator code and set various log levels

### How to verify it
Deploy operator and zookeeper cluster with various log levels set and check if corresponding logs are displayed or not.

[2021-04-15 19:56] srteam2020 commented on #314
We just find that there would be a better way to totally avoid this problem: we can label the sts with the resource version number of `zkc` when creating the sts. Later when performing any scaling down, we can compare the resource version R1 of the (potential stale) `zkc` R1 and the resource version number R2 labeled to the sts. If we find R1 < R2, then the `zkc` comes from history and we should n

[2021-04-18 12:45] priyavj08 commented on #315
hi, when will this fix be available?

thanks

[2021-04-19 13:22] SrishT commented on #285
Switching to using the `crds` folder does not seem to fit our requirement because of the removal of templating support from CRDs, and as there is no support for upgrading or deleting CRDs at this time, which is essential to our use-case.

[2021-04-19 15:28] anishakj commented on #315
@priyavj08 The fix is available in master, will be part of the next release. If you want to use the build now, you can `git clone` the code from master and build using `make build-zk-image` and use that image for current testing

[2021-04-19 16:11] priyavj08 commented on #315
thanks @anishakj

any ETA on next release so I can plan?

thanks

[2021-04-20 05:11] anishakj commented on #315
@priyavj08 We are planning to do release sometimes this week.

[2021-04-20 05:23] priyavj08 commented on #315
thanks for your continued support @anishakj  @amuraru

I pulled the latest code from master,  built ZK image and ran a continued install/uninstall tests, about 20 odd iterations it was ok, it failed at the 25th iteration.   This issue still exists, unfortunately it happens most of the time in production (murphy's law coming into play)

When I was able to exec in to the failure pod-container I foun

[2021-04-20 05:26] anishakj commented on #315
@priyavj08 please provide the logs from `zookeeper-1` before it performs a restart

[2021-04-20 05:29] pbelgundi commented on #315
Reopening issue since problem is not fixed still.

[2021-04-20 08:00] priyavj08 commented on #315
I am looking to reproduce this to get the first log from zk-1 pod when it crashes but in the mean time, here is the log from ZK-1  pod
[ZK1-log.txt](https://github.com/pravega/zookeeper-operator/files/6341685/ZK1-log.txt)

also, here is the output of describe from pod ZK-0, see connection refused from the probes

kc describe pod -n fed-kafka fed-kafka-affirmedzk-0
Name:         fed-kafka-affirmedz

[2021-04-20 11:50] priyavj08 commented on #315
in my recent tests of repeated install/uninstall after 18th iteration, it got in to a bad state.

for some reason ZK-1 failed to join the ensemble and ZK-2 is in crashloopback state (but not the error  .my id 2 is missing)

 attaching  all the logs

[failure-zk0.log](https://github.com/pravega/zookeeper-operator/files/6343218/failure-zk0.log)
[failure-zk1.log](https://github.com/pravega/zookeeper-

[2021-04-20 13:17] alittlec opened #320 "Support ARM64"
### Description

Create a multi-arch image that supports arm64. (at present only amd64 supported)

### Importance

It is possible to rebuild from source, but this is fragile and takes time, you also need to know the arch. upfront when deploying.

### Location

https://github.com/pravega/zookeeper-operator

### Suggestions for an improvement

Add a couple of additional entries to the build-go secti

[2021-04-20 18:05] anishakj commented on #315
@priyavj08 ,  Could you please confirm base zookeeper image version used is `3.6.1`

[2021-04-21 04:02] anishakj commented on #315
@priyavj08 From the `failure-zk1.log`, i could see connectivity issue of second node with the first one.
[code]

[2021-04-21 06:59] priyavj08 commented on #315
Ran this inside the ZK pod, I am using build 3.6.1

Zookeeper version: 3.6.1--104dcb3e3fb464b30c5186d229e00af9f332524b, built on 04/21/2020 15:01 GMT

[2021-04-21 14:41] anishakj commented on #315
In zookeeper cluster deployment, only after the first pod has started and running,  second pod will start. Is it not happening in your case?

[2021-04-21 14:54] priyavj08 commented on #315
looks like ZK-0 pod was in running state,  though the ZK server wasn't running and logs shows that error , similarly ZK-1 pod was in running state with errors .   you can see pods status in the desc-output  I had attached

[2021-04-21 17:41] anishakj commented on #315
Are you seeing these errors with increased initialdelay?

[2021-04-22 05:41] priyavj08 commented on #315
@anishakj  yes it happened with the set of tests I did by adding initialdelay but this is also not always seen.

[2021-04-22 05:42] anishakj commented on #315
By deafult `initialDelaySeconds` is 10. Could you please set to `30` and give it a try

[2021-04-22 12:20] priyavj08 commented on #315
ZK-1 pod got into crashloopackoff  couple of times but eventually worked, here is the log.  This is the new fix right?

+ source /conf/env.sh
++ DOMAIN=fed-kafka-affirmedzk-headless.fed-kafka.svc.cluster.local
++ QUORUM_PORT=2888
++ LEADER_PORT=3888
++ CLIENT_HOST=fed-kafka-affirmedzk-client
++ CLIENT_PORT=2181
++ ADMIN_SERVER_HOST=fed-kafka-affirmedzk-admin-server
++ ADMIN_SERVER_PORT=8080
++ CLU

[2021-04-22 12:23] anishakj commented on #315
yes, with this fix while on restart pod will become ready. If it is working for you after couple of pod restarts, could you please close the issue.

[2021-04-22 15:24] priyavj08 commented on #315
so far it is working fine. please close this bug

[2021-04-22 15:27] anishakj commented on #315
@priyavj08 Thanks for the confirmation. Please feel free to reopen if you see the same issue again.

[2021-04-22 15:27] #315 closed

[2021-04-23 07:57] SrishT opened #322 "Update the charts to the latest version"
### Description
Update the version in the latest zookeeper and zookeeper operator charts

### Importance
must have

### Location
charts

[2021-04-23 13:39] #322 closed

[2021-04-24 00:40] mogul opened #324 "Helm Chart pre-delete hook results in "Error: job failed: DeadlineExceeded""
### Description

We used Helm to install the zookeeper-operator chart on Kubernetes 1.19. When we `helm uninstall zookeeper` we see

[code]

...and the release is stuck in state "uninstalling":

[code]

### Importance

_(Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have))_

*blocker:* We are trying to automate everything we do with terraform and this preve

[2021-04-26 13:01] perosb opened #325 "nil pointer evaluating interface {}.labels during helm upgrade"
### Description

Error during upgrade using helm

### Location

`helm -n shared upgrade zookeeper-operator pravega/zookeeper --version=0.2.10 --set image.tag=0.2.10 --reuse-values --timeout 600s`

Errors out with:

`Error: UPGRADE FAILED: template: zookeeper/templates/zookeeper.yaml:50:18: executing "zookeeper/templates/zookeeper.yaml" at <.Values.pod.labels>: nil pointer evaluating interface {}.l

[2021-04-26 13:12] anishakj commented on #325
@perosb Are you upgrading the operator or cluster?

[2021-04-26 14:14] perosb commented on #325
Ah, my bad probably.
I "thought" I was doing the operator but of course trying the cluster.

[2021-04-26 14:27] anishakj commented on #324
@mogul Have you uninstalled zookeeper cluster, before uninstalling zookeeper operator

[2021-04-26 15:06] mogul commented on #324
Yes:

[2021-04-26 16:45] anishakj commented on #324
One more question is how you installed the operator ? is it using command `helm install zookeeper pravega/zookeeper-operator` . In your release name , not seeing `zookeeper-operator` appended

[2021-04-27 04:54] anishakj commented on #324
@mogul Could you please paste logs from pre-delete hook pod that gets created.?

[2021-04-29 14:05] SrishT commented on #324
@mogul if the pre-delete hook is something do not need, you can easily disable it by setting `hooks.delete` to false while installing the zookeeper operator
but in order to understand why the job is failing for you, we would need to see the logs within pre-delete hook pod that gets created.

[2021-05-14 07:23] CraneShiEMC opened #328 "Support customized volumeMounts for zookeeper container"
### Description

Need to support customized volumeMounts for zk container so that the customized volumes which user set can be mounted to the zk container.

### Importance

ECS ObjectScale need this feature so that zookeeper component can be intergrated with the rsyslog logging injection.

### Location

Operator code & related templates

[2021-05-14 08:42] baluchicken commented on #302
Are there any updates on this when this will be available? Thanks

[2021-05-19 14:28] lspecian-olx opened #329 "apiextensions.k8s.io/v1beta1 apiVersion removed on k8s v1.19.0"
### Description

The apiextensions.k8s.io/v1beta1 apiVersion used in the CustomResourceDefinition was removed on k8s v1.19.0

### Importance

The issue is a blocker to install the chart properly on k8s clusters with version v1.19.0

### Location

https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper-operator/templates/zookeeper.pravega.io_zookeeperclusters_crd.yaml#L2

### Sug

[2021-05-20 06:30] anishakj commented on #302
@baluchicken https://github.com/pravega/zookeeper-operator/pull/330 will fix this issue as well

[2021-05-20 06:31] anishakj commented on #324
@mogul Could you please provide us logs if you are still seeing the issue or else can we close this?

[2021-05-20 09:47] still-spinning commented on #229
*bump*
@Ranganaths8 was this picked up?

[2021-05-20 09:57] aparajita89 opened #331 "Zookeeper member pod goes into "CrashLoopBackOff" state when new cluster with n (>2) is created"
### Description

When a CRD is created for the cluster to be brought up with spec.replicas set to n, where n > 1, pods with id > 0 go into "CrashLoopBackOff" state with the below error in zookeeper logs:
[code]

### Importance

Bringing up a cluster on n nodes seems like a basic feature for an operator. Perhaps I am missing something in the configs?

### Location

deploy/cr/pravega/zookeeper_v1bet

[2021-05-20 09:59] anishakj commented on #331
@aparajita89  Could you please let us know the zookeeper-operator and cluster version used here?

[2021-05-20 10:15] anishakj commented on #331
Please use 0.2.10 of operator and cluster. We have fixed it in 0.2.10

[2021-05-20 10:39] aparajita89 commented on #331
ok, will try that.
could you also share, what was the fix? just curious

[2021-05-20 10:42] anishakj commented on #331
PR https://github.com/pravega/zookeeper-operator/pull/135 contains the fix.

[2021-05-22 06:00] aparajita89 commented on #331
@anishakj i tried upgrading to 0.2.10 and creating a cluster of 4 nodes. it is still failing with the same error as mentioned in the issue description.

[2021-05-22 09:40] amuraru commented on #331
@aparajita89 #135 fixed an issue in the zk docker image itself and not operator. You need to make sure you upgrade to an zk image including that fix

[2021-05-24 06:32] anishakj commented on #331
@@aparajita89 Please let us know is the issue got solved for you?

[2021-05-24 08:35] aparajita89 commented on #331
i tried upgrading to:
pravega/zookeeper-operator: 0.2.10
pravega/zookeeper: 0.2.10

i'm still seeing the same error.

i tried to debug this as well. i think this is related to docker/bin/zookeeperStart.sh script.
REGISTER_NODE and WRITE_CONFIGURATION must always be true (consequently, the true/false checks on these can be removed entirely). also, node registration should be called before the confi

[2021-05-24 08:42] anishakj commented on #331
@aparajita89 coukd you please share the logs from `zookeeper-1` before the restart has happened?

[2021-05-24 08:50] aparajita89 commented on #331
these are the last few logs which came from the previous "CrashLoopBackOff" error:
[code]

I've recreated the CRD now to recreate the cluster.
After that, these are the last few lines of the logs:
[code]

[2021-05-24 08:53] anishakj commented on #331
@ aparajita89 these are not complete logs, also can you tell us which environment you are using.

[2021-05-24 09:27] aparajita89 commented on #331
this is running on a privately managed k8 cluster.

this is the complete log:
[code]

[2021-05-24 09:41] anishakj commented on #331
@aparajita89 it looks like `/data/zoo.cfg.dynamic` file is present since you have tried an upgrade. could you please uninstall zookeeper cluster and do an installation. Also let me know if `nslookup zookeeperpoc-headless.zk.svc.cluster.local` is resolving from the first zk pod?

[2021-05-24 13:54] anishakj opened #332 "Add support for init containers in zookeeper pods"
### Description

Provide support to add init containers to zookeeper pods

### Importance

must-have

### Location

generators.go

### Suggestions for an improvement

Add spec fields for init containers

[2021-05-24 16:12] #329 closed

[2021-05-24 16:13] anishakj commented on #302
Fixed by PRhttps://github.com/pravega/zookeeper-operator/pull/330

[2021-05-24 16:13] #302 closed

[2021-05-24 16:33] anishakj commented on #288
@lengrongfu   Any updates on the query?

[2021-05-25 04:46] aparajita89 commented on #331
nslookup zookeeperpoc-headless.zk.svc.cluster.local => this is resolving to zookeeperpoc-0 which is the first pod in the cluster

i deleted the CRD again. seems like this does not delete the PVC. i manually deleted the PVC as well and then re-created the CRD. this time the cluster got created after a couple of pod restarts on zookeeperpoc-1.

[2021-05-25 05:06] aparajita89 commented on #331
i tried recreating the cluster again and this time the PVC got deleted and recreated as expected. we can close this issue now. thanks for you help @anishakj .

[2021-05-25 05:14] anishakj commented on #331
Closing this issue, as it is resolved

[2021-05-25 05:14] #331 closed

[2021-05-25 12:34] anishakj commented on #229
@aparajita89  we have not picked up this as it is not critical for our usecase

[2021-05-25 13:40] aparajita89 commented on #229
oh ok, thanks for the update @anishakj

[2021-05-26 09:26] gxglls opened #333 "[Bug]: Pod.securityContext setting in zookeeper chart values.yaml disappear in created zookeeper StatefulSet"
### Description

Pod.securityContext setting in zookeeper chart values.yaml disappear in created zookeeper StatefulSet.

### Importance

must-have

### Location

https://github.com/gxglls/zookeeper-operator/blob/fd714b40e4148221dd9ab0c27b5693f51a95ee2a/pkg/zk/generators.go#L108
[code]

### Suggestions for an improvement
Fixed by myself in related pr

[2021-05-26 09:31] anishakj commented on #333
@gxglls Do you wish to contribute by raising PR?

[2021-05-26 09:38] gxglls commented on #333
@anishakj  related PR https://github.com/pravega/zookeeper-operator/pull/334, thanks

[2021-05-27 06:06] #328 closed

[2021-05-27 06:17] #333 closed

[2021-05-28 05:56] gxglls opened #337 "[Question] What is the release plan for this project？"
I want to know when the next version such as 0.2.11 is released, because my project relies on some of the latest commits on the master branch, or does the project have a corresponding communication group such as Slack? Thank you very much

[2021-05-28 05:58] anishakj commented on #337
@gxglls We are planning to the release by end of next week. will keep you posted

[2021-05-28 06:01] gxglls commented on #337
@anishakj thanks

[2021-05-28 06:01] #337 closed

[2021-05-28 10:44] lunarfs commented on #286
@anishakj so the latest 2.8 release of kafka still recomends the latest 3.5.x (3.5.9) release of zookeeper so i guess this is stil relevant, any chance of getting this in the project?

[2021-05-29 06:19] lspecian-olx opened #338 "Fix unknown field problems after change to CRD apiVersion check"
### Description

The CRD apiVersion check introduced a validation problem due to changes on the resource type schema

### Importance

zookeeper-operator chart can't be installed on EKS versions supporting apiextensions.k8s.io/v1

### Location

https://github.com/lspecian-olx/zookeeper-operator/blob/master/charts/zookeeper-operator/templates/zookeeper.pravega.io_zookeeperclusters_crd.yaml#L3

### S

[2021-06-03 03:39] #332 closed

[2021-06-07 02:12] gxglls commented on #337
@anishakj Is the release still going according to plan？I will try my best to help if there is any need for help, thank you

[2021-06-07 04:58] #338 closed

[2021-06-07 17:31] #314 closed

[2021-06-07 17:41] anishakj opened #342 "Change the location of zu.jar in zookeeper Image"
### Description

Currently in the Docker file `zu.jar` is placed under `/root`. Change the path

### Importance

 should-have

### Location

Docker file
Zookeeper scripts

### Suggestions for an improvement

Change path

[2021-06-08 06:07] anishakj commented on #311
@mike-serchenia , Please let us know is it still an issue?

[2021-06-08 08:47] anishakj commented on #324
Closing this issue as there is no response from submitter. Please feel free to open the issue with logs, if the issue is seen again.

[2021-06-08 08:49] anishakj commented on #288
Closing this, as there is no response from submitter. Please feel free to reopen if this issue is seen again

[2021-06-08 08:49] #288 closed

[2021-06-08 09:07] anishakj commented on #286
@lunarfs Did u give a try by changing the image in Dockerfile https://github.com/pravega/zookeeper-operator/blob/master/docker/Dockerfile#L18. Are you seeing any issues?

[2021-06-08 09:28] mike-serchenia commented on #311
Hey
yes, it should use  storage class with WaitForFirstConsumer

[2021-06-08 09:28] #311 closed

[2021-06-08 14:04] #342 closed

[2021-06-08 17:25] anishakj opened #345 "Adding sidecar to zookeeper operator"
### Description
Adding sidecars to zookeeper operator
### Importance

should-have

### Location

charts

### Suggestions for an improvement

Add these new fields in charts

[2021-06-08 17:36] anishakj commented on #244
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/334

[2021-06-08 17:36] #244 closed

[2021-06-08 17:41] anishakj commented on #284
@ghahramani Is it still an issue? Could you please mention the `initContainer` configuration?

[2021-06-08 18:10] #345 closed

[2021-06-09 07:33] SrishT opened #346 "Update charts to the latest version"
### Description
Update the version in the latest zookeeper and zookeeper operator charts

### Importance
must have

### Location
charts

[2021-06-09 08:48] #346 closed

[2021-06-09 08:58] anishakj commented on #337
@gxglls  New release`0.2.11` is now available.

[2021-06-09 11:37] anishakj commented on #320
@alittlec  would you like to raise a PR for the changes?

[2021-06-09 12:04] anishakj commented on #141
@thelabdude Any further updates?

[2021-06-10 04:36] aparajita89 opened #348 "trigger cluster redeploy when static configs are modified"
### Description

when static configs are changed (such as initTime, etc which go in zoo.cfg), the zookeeper cluster needs to be restarted in order for the configs to take effect. ~the proposal is to add a flag in the helm chart values to optionally trigger a cluster redeploy when static configs are modified.~

[EDIT 10-Aug-21]: the finalized approach for cluster restart is as follows.
implementing

[2021-06-11 01:36] aparajita89 commented on #348
*bump*

[2021-06-16 07:58] anishakj commented on #348
@aparajita89 Currently, we are working on other priority items and will be working on it later. Would you like to contribute by raising a PR?

[2021-06-16 07:59] anishakj commented on #284
@ghahramani, Could you please verify if it  is still an issue? Otherwise I would like to close this

[2021-06-16 10:35] aparajita89 commented on #348
yes, i can do that

[2021-06-17 13:31] gxglls opened #350 "[bug]: ZookeeperCluster crd's status disappear"
### Description

ZookeeperCluster crd's status disappear when install zookeeper-operator/zookeeper version 0.2.11，there are no fields in ZookeeperCluster crd's status when zk-operator/zookeeper pod running.

ZookeeperCluster crd's status display current in zookeeper-operator/zookeeper version 0.2.8.

### Importance

must-have

[2021-06-17 14:43] anishakj commented on #350
@gxglls what is the kubernetes version in your  cluster?

[2021-06-17 14:53] anishakj commented on #350
i am able to see the status as below
[code]

[2021-06-18 02:17] gxglls commented on #350
[code]

[2021-06-18 02:18] gxglls commented on #350
try 0.2.11?

[2021-06-18 05:51] aparajita89 commented on #348
@anishakj i've raised the PR, can you check?

[2021-06-18 05:52] anishakj commented on #348
Sure, will take a look

[2021-06-18 06:15] anishakj commented on #350
It is showing there as well
[code]

[2021-06-18 07:33] anishakj commented on #350
Which is the API version of CRD in your cluster, in my cluster it is `v1beta1`

[2021-06-21 07:34] anishakj commented on #350
@gxglls I am able to reproduce the issue with CRD version `v1`

[2021-06-22 03:29] anishakj commented on #284
Closing this issue as there is no response yet. Please feel to reopen if the issue is seen again

[2021-06-22 03:29] #284 closed

[2021-06-24 15:20] #350 closed

[2021-07-01 08:13] amuraru opened #356 "Add support for more zoo.cfg configuration parameters"
### Description

In our environment we are looking into tweaking `clientPortListenBacklog` and `serverCnxnFactory` zoo.cfg parameters to tune the zookeeper server(s) listening sockets.

### Importance

Should-have

### Suggestions for an improvement

we could extend the existing support to add these parameters.

[2021-07-01 09:33] ossinkine opened #357 "Failed upgrade 0.2.10 to 0.2.11"
### Description

We have Zookeper cluster version 0.2.10 installed by Helm. When we trying to upgrade it to 0.2.11
[code]
we get the error
[code]

### Importance

Since this is a bug and it prevents futher updates, I think this is a blocker.

[2021-07-01 09:57] anishakj commented on #357
@ossinkine  what is the kubectl version in your cluster?

[2021-07-01 10:22] ossinkine commented on #357
@anishakj
[code]
I don't know for which field it is complaining, I put the output above and it's unclear.
<details>
  <summary>Here is a full output</summary>

</details>

[2021-07-01 11:42] anishakj commented on #357
@ossinkine which is the environment , you are trying. I am able to do upgrade successfully

[code]

[2021-07-01 12:49] azun opened #358 "Operator sidecar improvements"
### Description

Sidecar support was added in https://github.com/pravega/zookeeper-operator/pull/344 . This works fine but there are some pain points when using zookeeper-operator as a helm dependency:
- the sidecar manifest can't be easily reused between dependencies/other pods
- no way to use templates for the sidecars (must specify the full Container struct)
- repetitive across multiple install

[2021-07-01 14:19] iFshadow commented on #357
Hi!
We're created two Kubernetes stands with 1.19.0 and 1.20.0 versions.
Version 1.20.0 not affected and all fine but version 1.19.0 have bug. See attached console log
[console.log](https://github.com/pravega/zookeeper-operator/files/6748800/console.log)

[2021-07-01 16:09] anishakj commented on #357
@ossinkine Can it be due to helm version used? Seen a similar issue here https://github.com/rook/rook/issues/7038. Helm version I have used is `v3.3.0`

[2021-07-01 17:17] iFshadow commented on #357
Yes, it be due to helm version. We checked from v3.3.0 to v3.6.0:
Not affected - 3.3.0, 3.4.0
Affected - 3.5.0, 3.6.0
Thanks you!

[2021-07-02 13:34] iFshadow commented on #357
Hi again!
We upgraded our operator is fine but get error in operator pod logs. It's error gets in new empty cluster version 1.19.0

`{"level":"info","ts":1625232476.5607948,"logger":"controller_zookeepercluster","msg":"Fail to find owner-rv in statefulset's labels; skip checking resource version"}
{"level":"info","ts":1625232476.5608134,"logger":"controller_zookeepercluster","msg":"Updating Statef

[2021-07-02 13:39] anishakj commented on #357
can you paste the output of `kubectl describe zk`

[2021-07-02 13:43] iFshadow commented on #357
[zk.yaml.txt](https://github.com/pravega/zookeeper-operator/files/6754950/zk.yaml.txt)

[2021-07-02 13:47] anishakj commented on #357
This looks fine. Is the error `"default/zookeeper","error":"zookeeperclusters.zookeeper.pravega.io \"zookeeper\" not found"`  is coming again and again in operator logs or is it a one time occurence.
Also, please paste the output of  `kubectl get zk`

[2021-07-02 13:51] iFshadow commented on #357
Yes it's error is looping
[code]

[2021-07-04 13:34] anishakj commented on #357
@iFshadow Could you please apply the updated CRD from this PR and give it a try https://github.com/pravega/zookeeper-operator/pull/351

[2021-07-05 08:59] mikechengwei opened #361 "Helm chart rbac failed to list serviceaccounts."
### Description

<img width="1014" alt="Screen Shot 2021-07-05 at 4 58 37 PM" src="https://user-images.githubusercontent.com/13257127/124445730-61396280-ddb2-11eb-87b4-47c1dbb8a26d.png">

[2021-07-05 09:42] iFshadow commented on #357
Hi!
Kubernetes cluster build like before and previous error is fixed but I get another error.

`
{"level":"info","ts":1625475158.0247858,"logger":"controller_zookeepercluster","msg":"Updating StatefulSet","Request.Namespace":"default","Request.Name":"zookeeper","StatefulSet.Namespace":"default","StatefulSet.Name":"zookeeper"}
{"level":"error","ts":1625475158.0339525,"logger":"controller-runtime.co

[2021-07-05 09:44] anishakj commented on #357
@iFshadow Is it like one time error, while the upgrade is happening? or the error is coming continuously

[2021-07-05 09:55] iFshadow commented on #357
No it no one time error. It error coming again and again

[2021-07-05 09:57] iFshadow commented on #357
@anishakj
Is it normal info message?
`
{"level":"info","ts":1625478946.5793314,"logger":"controller_zookeepercluster","msg":"Fail to find owner-rv in statefulset's labels; skip checking resource version"}`

[2021-07-05 12:42] #358 closed

[2021-07-06 05:30] #361 closed

[2021-07-06 12:39] #356 closed

[2021-07-06 12:40] anishakj commented on #3
Fixed by  PR https://github.com/pravega/zookeeper-operator/pull/360

[2021-07-06 12:40] #3 closed

[2021-07-06 16:39] amuraru opened #364 "Makefile is not providing a target to regenerate operator-sdk managed files"
### Description

The operator is relying on (rather old) operator-sdk to (re)generate CRDs and types files.
For a contributor it's quite confusing on how this should be used.
As such - I propose we extend the Makefile and add a new target : `generate` that when called should regenerate all these files.

### Importance

SHOULD-HAVE to ease external contributions

### Location

Makefile

### Suggest

[2021-07-08 12:49] anishakj commented on #357
This can be ignored. Are you seeing these error messages on an installation or upgrade of zookeeper cluster?

[2021-07-09 14:44] iFshadow commented on #357
Hi.
Only with upgrade zookeeper cluster.

[2021-07-12 09:39] AKamyshnikova opened #365 "Bump operator-sdk version"
### Description

Project development requires updates of operator-sdk version.

### Importance

should-have

### Location

Several updates including go.mod

### Suggestions for an improvement

Update operator-sdk version(and related modules) step by step starting with update to 0.18.0

[2021-07-12 16:16] anishakj commented on #357
@iFshadow Could you please help me in verifying whether my fix is working correctly. In my cluster environment, error message is not that frequent.

[2021-07-16 13:10] anishakj commented on #357
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/367

[2021-07-16 13:10] #357 closed

[2021-07-19 13:09] #364 closed

[2021-07-19 13:11] #365 closed

[2021-07-20 15:24] anishakj commented on #348
@aparajita89  Any updates on the PR?

[2021-07-20 15:50] anishakj commented on #287
@lengrongfu Currently, we are enabling the metrics via Prometheus and is added in the configuration https://github.com/pravega/zookeeper-operator/blob/master/pkg/zk/generators.go#L260-L262  You will be able to display the metrics in grafana as well(https://zookeeper.apache.org/doc/current/zookeeperMonitor.html)

Please let us know if any other support is needed ?

[2021-07-20 16:47] aparajita89 commented on #348
@anishakj i am still working on it. sorry for the delay. i will raise a PR by the end of this week.

[2021-07-23 09:01] anishakj commented on #287
Closing this  issue, Please feel free to reopen if any enhancement is required on this.

[2021-07-23 09:01] #287 closed

[2021-07-23 09:58] SrishT opened #371 "Update charts to the latest version"
### Description
Update the version in the latest zookeeper and zookeeper operator charts

### Importance
must have

### Location
charts

[2021-07-23 13:27] #371 closed

[2021-07-26 05:04] aparajita89 commented on #348
@anishakj i've raised the PR with the changes. the testing is still in progress though. if there are any callouts, please let me know.

[2021-07-26 05:20] anishakj commented on #348
@aparajita89 thanks, will take a look

[2021-07-27 10:51] aparajita89 commented on #348
@anishakj testing is completed. you can start the review.

[2021-07-28 16:14] amuraru opened #375 "Fix GHSA-c72p-9xmj-rx3w security warning"
### Description

While running a security analysis on operator module I've got this:
https://github.com/advisories/GHSA-c72p-9xmj-rx3w

### Importance

Medium

### Suggestions for an improvement

Upgraded the suggested library

[2021-07-28 21:05] derekm commented on #148
Added DCO check, and made DCO & build checks required.

[2021-07-29 03:35] anishakj commented on #348
@aparajita89 there are some go fmt issues, could you please fix those. Also make your commits signedoff

[2021-07-29 09:01] aparajita89 commented on #348
@anishakj have done that now

[2021-07-29 14:11] derekm commented on #148
Added Codecov checks and made them required.

Default Codecov thresholds can be change committing a `.codecov.yml` config file to the root of this repo. Cf., https://github.com/pravega/pravega/blob/master/.codecov.yml

[2021-07-29 14:28] priyavj08 opened #376 "ZK ensemble lost quorum and lots of exceptions seen in all ZK pods"
### Description

ZK ensemble is in a state where it looks like quorum is lost and see bunch of I/O exceptions .  ZK cluster is not recovering from this state.

 Log files have exceptions "Zookeeper is not running" but on exec to pod and running command it seems ok
echo ruok | nc 127.0.0.1 2181
imok

also see this error in the operator log
{"level":"error","ts":1627540813.2961993,"logger":"controll