[2021-07-29 14:30] priyavj08 commented on #376
[zkop.txt](https://github.com/pravega/zookeeper-operator/files/6901285/zkop.txt)
[zk0log.txt](https://github.com/pravega/zookeeper-operator/files/6901289/zk0log.txt)
[zk1log.txt](https://github.com/pravega/zookeeper-operator/files/6901292/zk1log.txt)
[zk2log.txt](https://github.com/pravega/zookeeper-operator/files/6901293/zk2log.txt)

[2021-08-02 13:59] #375 closed

[2021-08-02 14:02] anishakj commented on #376
@priyavj08 which is the version of zookeeper-operator are you using? Could you please try in `0.2.12` and let us know.

[2021-08-02 16:19] priyavj08 commented on #376
@anishakj I am using 0.2.10

do you think these issues won't happen in 0.2.12?

thanks

[2021-08-02 16:25] anishakj commented on #376
The error message you have mentioned got fixed by PR https://github.com/pravega/zookeeper-operator/pull/367

[2021-08-11 16:55] HoustonPutman opened #378 "Empty Probes in Spec do not play nice with the go-client validation"
### Description

The Probes and all the fields within the probes (livenessProbe, readinessProbe, and all probe options), all have the `//+optional` tag added to make them optional in the CRD. However, when using the go client (from my experience writing unit tests for the solr-operator), I am still not allowed to submit a ZookeeperCluster with empty probes, or probes fields.

### Importance

I can

[2021-08-12 05:37] anishakj commented on #378
@HoustonPutman  I did not correctly get the issue here. Probe fields are not mandatory in the CRD. Adding `+optional` is equivalent to `omitempty`

[2021-08-13 11:41] #348 closed

[2021-08-13 12:17] anishakj commented on #376
@priyavj08 is your issue got solved?

[2021-08-16 16:31] #148 closed

[2021-08-17 05:50] priyavj08 commented on #376
@anishakj  you can close this issue. We are yet to update in production, will try and let you know.

thanks

[2021-08-17 17:04] HoustonPutman commented on #378
So I believe the `omitempty` is used for the json serialization of the object in the client, and the optional just makes it not necessary in the CRD. So when `omitempty` is not specified, the client tries to send a `null` value to the API Server, which gets rejected. Not sure if the validation is client-side or server-side.

Either way I was confused as well, it should be ok. But it definitely did

[2021-08-17 17:32] anishakj commented on #378
@HoustonPutman Are you getting validation errors while installing zookeeper with probes not specified. Could you please send the error message you are getting?

[2021-08-18 03:49] anishakj commented on #376
Closing this issue as it got fixed in `0.2.12`

[2021-08-18 03:49] #376 closed

[2021-08-18 04:17] #266 closed

[2021-08-18 16:07] anishakj commented on #378
@HoustonPutman If we install zookeeper cluster using charts, without specifying probes also, it is working for us. Would you like to raise a PR if providing `omitempty` solve the issue you are facing?

[2021-08-18 16:23] anishakj opened #380 "Upgrade alpine image to fix security vulnerabilities"
### Description

Currently zookeeper-operator is using `alpine:3.11` and there are some security vulnerabilities reported

### Importance

should-have

### Location

Dockerfile

### Suggestions for an improvement

Upgrade alpine image

[2021-08-19 13:15] #380 closed

[2021-08-25 23:58] nikore opened #387 "Update Zooekeepr to 3.6.3"
### Description

There are a lot of bug fixes between 3.6.1 and 3.6.3:

[3.6.2 Release Notes](https://zookeeper.apache.org/doc/r3.6.2/releasenotes.html)
[3.6.3 Release Notes](https://zookeeper.apache.org/doc/r3.6.3/releasenotes.html)

### Importance

must-have, it fixes a bunch of zookeeper issues, specifically it fixes [ZOOKEEPER-4220](https://issues.apache.org/jira/browse/ZOOKEEPER-4220) which s

[2021-08-26 00:03] nikore opened #388 "ImagePullSecrets section of the ServiceAccount isn't updated when there is an existing one"
### Description

If you have a preexisting cluster with a serviceaccount if you try to update the ImagePullSecrets it will not update the existing ServiceAccount. This caused problems when I tried to rollout a private repo image when testing #383

### Importance

must-have, its a bug in the operator. It currently allows people to set and modify imagePullSecret but doesn't apply those changes.

###

[2021-08-26 00:22] nikore opened #389 "Operator Reconciles endlessly"
### Description

The reconcile loop is running endlessly often <1ms between each run per CRD. If you have a lot of CRDs it adds a lot of load to the kubeAPI server. On my cluster I was seeing >100 req/sec caused by this operator. This appears to be caused by the status update to the CRD as that does generate a new event but doesn't update the metadata nor object data.

### Importance

must-have, i

[2021-08-26 04:11] #387 closed, assigned to nobody

[2021-08-26 13:51] #388 closed, assigned to nobody

[2021-09-01 15:21] #389 closed

[2021-09-02 09:45] anishakj opened #390 "Update Charts to latest version"
### Description

Update the version in the latest zookeeper and zookeeper operator charts

### Importance

must-have

### Location

Charts

### Suggestions for an improvement

Update the charts

[2021-09-02 10:57] #390 closed

[2021-09-02 12:07] simplyhappydude commented on #76
@jinfwhuang  were you able to resolve this issue? I am facing same issue even with 0.2.9

[2021-09-02 12:41] anishakj commented on #76
@ simplyhappydude , the fix for replacing `nslookup` with `getent` is gone in `0.2.13` . Please use `0.2.13`  operator and cluster version  and let us know if it solves the issue for you.

[2021-09-02 19:44] jinfwhuang commented on #76
As replied by @anishakj , please try a version where this patch is included.

[2021-09-03 01:35] priyavj08 opened #392 "request to add health check probes (liveness/readiness) in the ZK operator"
### Description

currently no health checks like liveness/readiness probes available for the operator pod

### Importance

Add these health checks to improve the reliability and provide a way to configure the timers through helm values

### Location

_(Where is the piece of code, package, or document affected by this issue?)_

### Suggestions for an improvement

_(How do you suggest to fix or proc

[2021-09-03 13:15] simplyhappydude commented on #76
`+ getent hosts explore-solrcloud-zookeeper-headless.solr-poc.svc.cluster.local
11.16.1.47      explore-solrcloud-zookeeper-headless.solr-poc.svc.cluster.local
+ [[ 0 -eq 0 ]]
+ ACTIVE_ENSEMBLE=true
+ [[ false == true ]]
+ WRITE_CONFIGURATION=true
+ [[ true == false ]]
+ [[ false == false ]]
+ REGISTER_NODE=true
Writing myid: 1 to: /data/myid.
+ [[ true == true ]]
+ echo 'Writing myid: 1 to: /data

[2021-09-03 17:13] anishakj commented on #76
Have you tried an upgrade, or a fresh installation. It looks like there can be issue with data in PVC. Could you please uninstall everything and do a fresh installation

[2021-09-06 10:01] priyavj08 opened #393 "All zK pods reports error "Zookeeper is not running""
### Description

After new bring up of ZK cluster, version 0.2.12, I am seeing error zookeeper server is not running in all the ZK logs. When  I exec in to the POD this command "echo ruok | nc 127.0.0.1 2181", it  works fine , got output "imok"
 but looks like readiness/liveness probe failed for ZK-1 and Zk-2 pod failed once but it succeeded later on

attaching the logs
[zk-1-log.txt](https://gith

[2021-09-06 10:42] anishakj commented on #393
@priyavj08 , From the logs I am seeing that initially all the pods came up and later connection to first pod is broken.
[code]

[2021-09-06 12:00] priyavj08 commented on #393
@anishakj how can I recover?  Also, this doesn't happen all the time, so there is no network issue in the environment.
could there be any timing issue in the product?

[2021-09-06 12:05] anishakj commented on #393
Not sure is there any specific issue in `3.6.1` base image of zookeeper.  Is your pods are still in running state? Could you please post the describe output of pods. If that indicates readiness/liveness failure either can be due to check is taking longer time to  execute in your setup

[2021-09-06 13:33] priyavj08 commented on #393
I noticed liveness and readiness probe failing in each of ZK-1 and Zk-2 pods but not ZK-0.

here is my setting for the probes
    Liveness:   exec [zookeeperLive.sh] delay=30s timeout=30s period=40s #success=1 #failure=3
    Readiness:  exec [zookeeperReady.sh] delay=30s timeout=30s period=40s #success=1 #failure=3

[2021-09-06 14:37] anishakj commented on #393
Also try `nslookup fed-kafka-affirmedzk-1.fed-kafka-affirmedzk-headless.fed-kafka.svc.cluster.local` and `nslookup fed-kafka-affirmedzk-2.fed-kafka-affirmedzk-headless.fed-kafka.svc.cluster.local`  from the zookeeper-0   pod and see if it is succeeding

[2021-09-07 15:36] makzzz1986 commented on #286
@anishakj I am trying to use Zookeeper 3.4.13, and I have tried to change the source of the image, adapted zookeeperStart.sh and the configuration, but Zookeeper fails silently. The last words of Zookeeper are "Starting Zookeeper... STARTED". Despite that fact, Zookeeper of the current version works fine for old SOLR, but it doesn't provide the status page in SOLR UI. 😕

[2021-09-08 05:25] priyavj08 commented on #393
@anishakj  nslookup works fine

nslookup fed-kafka-affirmedzk-1.fed-kafka-affirmedzk-headless.fed-kafka.svc.cluster.local
Server:         10.96.0.10
Address:        10.96.0.10#53

Name:   fed-kafka-affirmedzk-1.fed-kafka-affirmedzk-headless.fed-kafka.svc.cluster.local
Address: 192.168.87.108

root@fed-kafka-affirmedzk-0:/apache-zookeeper-3.6.1-bin# nslookup fed-kafka-affirmedzk-2.fed-kafka-affirme

[2021-09-08 09:40] priyavj08 commented on #393
@anishakj
all the ZK pods are showing this

**echo stat |nc  127.0.0.1 2181
This ZooKeeper instance is not currently serving requests**

after starting fine, how can it get in to this state?

[2021-09-08 09:55] anishakj commented on #393
From the initial logs, it looks like connection is broken from first pod to second pod. Apart from that couldn't find any relevant details how it reached this state

[2021-09-24 14:53] petrkohut opened #394 "Allow to set pod annotations in post-install-upgrade job in helm chart"
### Description

I would like to have an option to add pod annotations to the zookeeper-post-install-upgrade K8s job.
My problem is, that I wan't to disable istio proxy sidecar injection to the pod, but without the annotation I can do it only on the namespace level.

### Importance

should-have

### Location

Charts

### Suggestions for an improvement

Update the:
- https://github.com/pravega/zook

[2021-09-29 03:55] #394 closed

[2021-10-04 04:08] anishakj opened #397 "Leader election after node fails"
### Description

 In VMware cluster, some pods are stuck in ProviderFailed state, and leader election function, provided by operator SDK, is unable to process that, so new pods are stuck in wait cycle.
Fix scans owners of leader lock config map, and deletes pods in ProviderFailed status.

### Importance

must-have

### Location

cmd/manager/main.go

### Suggestions for an improvement
Customise the

[2021-10-12 07:53] stop-coding opened #398 "if zookeeper is not running, then decreasing replicas will make cluster of zookeeper Unrecoverable"
### Description

when a cluster of zookeeper is not running for some error, then decreasing  replicas will delete pod automatically.
pod exec zookeeperTeardown.sh  to connect zookeeper will fail ,then it will not remove node on this cluster of zookeeper.
But the pod have been delete without update zookeeper configure on zoo.cfg
### Importance

must-have

### Location

ZNODE_PATH="/zookeeper-operat

[2021-10-12 09:14] anishakj commented on #398
@stop-coding Could you please let us know how to reproduce this issue. After this once, if zookeeper starts running is the replica set not updated correctly?

[2021-10-13 02:15] stop-coding commented on #398
Thank you for attention.

For example：
1. Create an cluster that size  is 3.
2. Wait all pod running, named: zk-0\zk-1\zk-2.
3. Delete zk-1\zk-2 pod, make cluster of zookeeper unable to provide services.
4. "kubectl edit zk" that change replicas to 1
5. Wait some time, replicas will decrease to 1.
6. Now, zk-0 will not running forever until editing zoo.cfg correctly.

I think removing a pod needs

[2021-10-14 08:58] realAaronWu opened #400 "Add customized config to skip finalizers."
### Description

Zookeepercluster has mandatory finalizers in order to delete pvcs when deleting the pods. This should be fine if we always delete Zookeepercluster pods before deleting the operators. This can be done by injecting a helm pre-delete hook. But on VS7 env, they forbid calling helm hooks, and VS terminates the namespace which kills all pods/secrets/configmaps at once without ordering,

[2021-10-15 10:47] ecojan opened #402 "[Enhancement] Add additionalLabels support in the operator helm chart"
### Description

A simple enhancement to add the `additionalLabels` field so that an user of the chart can introduce custom labels if needed.

### Importance

Importance is nice to have. A lot of modern helm chart have support for this.

### Location

Zookeeper operator helm-chart.

### Suggestions for an improvement

add the `labels` field as n dictionary under the `values.yaml` file and modify `

[2021-10-17 20:17] amuraru opened #404 "Upgrade zu and golang dependencies"
### Description

Some upstream libraries were updated. We should upgrade them in the operator.

### Importance

Nice-to-have

### Location

go.mod and gradle

### Suggestions for an improvement

File a PR

[2021-10-22 09:49] davideicardi opened #407 "How can I change limits and requests for zookeeper pods?"
### Description

How can I change limits and requests for zookeeper pods?

### Importance

Currently pods are created with QoS as BestEffort, if we are able to set limits and requests we can change to something more appropriate.

### Suggestions for an improvement

Maybe we can document and/or change the default, because I think it is an important property.

[2021-10-22 09:59] ibumarskov opened #408 "[Enhancement] Implement automatic backup"
### Description

Automatic backup of zookeeper db is a useful mechanism in demand in many real-world scenarios. It would be great to implement a separate controller responsible for automatic backup by schedule or on-demand backups. As the simplest implementation we can provide backup of ZooKeeper by copying its transaction and snapshot logs. It's a reasonable method, there is a short article regar

[2021-10-27 12:37] #407 closed, assigned to nobody

[2021-10-27 13:45] #402 closed, assigned to nobody

[2021-11-02 14:45] #404 closed

[2021-11-02 14:46] anishakj commented on #400
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/401

[2021-11-02 14:46] #400 closed

[2021-11-07 21:57] srteam2020 opened #410 "[BUG] Unexpected resource creation when the ZookeeperCluster is already deleted"
### Description

We find that the zookeeper operator, after deleting the PVC and removing the finalizer for a ZookeeperCluster CR with a non-zero DeletionTimestamp (in reconcileFinalizers), will continue running the reconciliation logic if there is no error:
[code]
This can lead to unexpected resource creation, because after removing the finalizer of the CR, the CR is going to be deleted. When the

[2021-11-09 14:18] anishakj commented on #410
@srteam2020  Could you please mention the steps of how you were able to reproduce the issue?

[2021-11-09 16:14] srteam2020 commented on #410
@anishakj Thanks for your reply!
This is a transient issue and we do not have a way to 100% reliably reproduce it. However, we do observe it quite a few times when deploying zookeeper.
What we did is very simple: we just deleted the zookeepercluster. And from the operator log we can see:
[code]
After the operator deleted the PVC (and removed the finalizer from CR), the CR is about to be deleted an

[2021-11-10 03:37] anishakj commented on #410
@srteam2020 Would you like to create a PR to fix this?

[2021-11-10 03:50] anishakj commented on #408
@ibumarskov Do you find the need of  backup when we are using ephemeral storage? In the case of persistent volumes , data is not lost even if there is a crash.

[2021-11-10 03:51] srteam2020 commented on #410
Yes I will try to create a PR to fix it

[2021-11-10 04:28] anishakj commented on #324
@mogul  Could you please try collecting the logs by removing the the delete annotation from the job `"helm.sh/hook-delete-policy": hook-succeeded, before-hook-creation, hook-failed`

[2021-11-10 07:57] ibumarskov commented on #408
You can lost data in different ways. Data failures can be the result of hardware or software failure, data corruption, or a human-caused event, such as a malicious attack or accidental deletion of data. So, data backup is a good practice.

[2021-11-10 08:51] anishakj commented on #408
@ibumarskov  Would you like to contribute adding backup support  by raising a PR.

[2021-11-10 09:01] ibumarskov commented on #408
@anishakj Yes, I'm going to provide an implementation soon.

[2021-11-19 14:33] panyuenlau opened #411 "Namespaces are missing in pre-delete-hooks.yaml resources in the zookeeper-operator chart"
### Description

If developers want to write programs for performing helm operations, e.g.`helm uninstall`, they would use the [`Init` function](https://github.com/helm/helm/blob/main/pkg/action/action.go#L365) to initialize the action configuration before calling [`Uninstall.Run`](https://github.com/helm/helm/blob/main/pkg/action/uninstall.go#L54), but this currently fails to uninstall the zookee

[2021-11-23 04:09] #411 closed

[2021-11-26 11:11] runzhliu opened #415 "Missing volumeMounts after Helm install"
### Description

We find the wrong render result by the origin template the values with `volumeMounts` filled.

[code]

### Importance

### Location

`charts/zookeeper/templates/`

### Suggestions for an improvement

[2021-11-26 16:38] #415 closed

[2021-12-01 02:01] anishakj commented on #392
@priyavj08 Could you please elaborate more on what we need to do in readiness/liveness probes of operator? Any particular commands you are thinking to execute for liveness/readiness

[2021-12-01 02:03] anishakj commented on #324
@mogul Could you please update the logs.

[2021-12-01 14:12] Raboo opened #416 "Possible to make client service of type LoadBalancer?"
Hi

Is there a way to make the clientService become of type LoadBalancer.

I tried setting helm values to
[code]

But that didn't bite. Service is still ClusterIP. I want to access the zookeeper cluster from outside of k8s internal network.

[2021-12-02 05:45] anishakj opened #417 "Harden zookeeper post install hook"
### Description

Zookeeper post install hook is  succeeding  before all zookeeper pods are becoming ready
### Importance

must-have

### Location

post-install-upgrade-hooks.yaml

### Suggestions for an improvement

Harden the checks in post-install hook.

[2021-12-02 10:39] Belyenochi opened #419 "how to set zookeeper xms and xmx"
### Description

_(Describe the feature, bug, question, proposal that you are requesting)_

### Importance

_(Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have))_

### Location

_(Where is the piece of code, package, or document affected by this issue?)_

### Suggestions for an improvement

_(How do you suggest to fix or proceed with this issue?)_

[2021-12-02 15:25] #417 closed

[2021-12-05 22:47] Raboo commented on #416
@anishakj Ok, can  you add the possibility to set the client service as type LoadBalancer?

[2021-12-06 14:44] Raboo commented on #416
I just realized that this is more difficult than adding a service of type LoadBalancer as the client uses it for discovery and then tries to speak to the zookeeper nodes directly, which in this case they are in k8s internal network.

[code]

So I guess each StatefulSet needs a service with type LoadBalancer and then zookeeper must be configured to use those services(ip address, consul/svc discover

[2021-12-07 13:15] anishakj commented on #416
@Raboo that is correct understanding. We don't have  bandwidth to implement this feature currently. Would you like to create a PR to add this support

[2021-12-07 14:05] Raboo commented on #416
@anishakj If I could I would, I'm not really a programmer, don't know much go-lang.

But I assume that the implementation logic would look something like this:
- _Service_ zookeeper-client as _LoadBalancer_
- each pod get it's own _Service_ for example POD-0, POD-1, POD-2 as _LoadBalancer_. _Service_ status _ExternalIP_ gets populated with a routed IP address ex. 10.0.0.1, 10.0.0.2, etc..
- operat

[2021-12-07 15:49] priyavj08 commented on #392
@anishakj  sorry for the delayed response .  No I am not looking to execute any command, this is just to make sure operator pod continues to remain healthy.

[2021-12-10 18:13] cbuto opened #421 "[docs] Update zookeeper-operator Helm chart configuration documentation (README)"
### Description

Hello 👋 ! thanks for the awesome project. This should be a simple one (and I'm happy to contribute), I noticed there are a few missing configuration parameters from the zookeeper-operator chart [README](https://github.com/pravega/zookeeper-operator/tree/master/charts/zookeeper-operator). It would be nice to have the missing parameters documented in that README.

### Importance

Th

[2021-12-11 09:21] plumdog opened #422 "How to apply mitigation for CVE-2021-44228"
### Description

CVE-2021-44228, aka Log4Shell allows remote code execution in affected versions of log4j. As yet there is no announcement on https://zookeeper.apache.org/security.html, but I'm assuming Zookeeper is impacted until I find something to convince me otherwise.

For Solr, rather than patching, there's a mitigation, see https://solr.apache.org/security.html#apache-solr-affected-by-apach

[2021-12-11 11:10] amuraru commented on #422
Based on our analysis Zookeeper is using log4j 1.x which is not impacted by Log4Shell CVE. Log4j 1.x is EOLed for a while amd has several other CVEs but not log4shell

[2021-12-13 20:14] RangaSamudrala commented on #417
Hello,
I have downloaded latest code and tried to run the zookeeper installer on Minikube. I still see problem that may have been targeted with this fix:

`> charts % helm install zookeeper zookeeper --values zookeeper/values/minikube.yaml --debug
install.go:178: [debug] Original chart version: ""
install.go:199: [debug] CHART PATH: /Users/ranganathsamudrala/Documents/Projects/helm/zookeeper-opera

[2021-12-14 13:59] jetpacula opened #424 "PV unbound when deploying with CSI NFS"
---
name: Bug report
title: PV unbound when deploying with CSI NFS
labels: bug

---

**Describe the bug**
A clear and concise description of what the bug is.

**Environment (please complete the following information):**
 - Hardware:  кластер из 3 нод Intel(R) Core(TM) i7-2600 CPU @ 3.40GHz RAM 4GB HDD 500GB
 - OS: Ubuntu 20.04.3 LTS focal

**To Reproduce**

[code]

`kubectl describe pod *zookeeper

[2021-12-15 13:59] dobrerazvan commented on #141
Hi, @TristanCacqueray ,

I think there is support for this functionality, we just enabled it on our zookeeper cluster. Using `config.additionalConfig` map and `volumes` and `volumeMounts`, you can enable ssl on a new or existing zookeeper cluster.

Steps:
- convert the pem certs/key in java keystore format (jks) using keytool
- add volumes and volumeMounts zookeepercluster CR config to your cluste

[2021-12-16 05:33] #421 closed

[2021-12-16 11:05] jetpacula commented on #424
При использовании StorageClass под зависает следующем состоянии.

[code]

Использовались следующие [CSI и SC](https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/deploy/example/README.md)

[nginx deployment](https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/deploy/example/nfs-provisioner/nginx-pod.yaml) в данных условиях разворачивается без проблем

[2021-12-16 16:25] RangaSamudrala opened #425 "Helm Zookeeper install fails"
### Description

Installing Zookeeper using Helm fails. Post install upgrade hook job fails because ZookeeperCluster information is incorrect. The installation is being performed on a MacBookPro with 64GB RAM using Minikube.

### Importance

Blocker

### Location

_https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper/templates/post-install-upgrade-hooks.yaml#L66_

### Suggest

[2021-12-16 16:26] RangaSamudrala commented on #425
This is a followup for a comment I put in already closed ticket : https://github.com/pravega/zookeeper-operator/issues/417

[2021-12-20 15:58] nikitamikhaylov opened #426 "How to run operator locally? `operator-sdk up local` doesn't work"
I installed `operator-sdk` with brew and there is no `up local` command...
Separate question: how it could work locally if you access zookeeper nodes by internal dns-name like `zookeeper-0.svc.cluster.local`? There will be no such DNS record within the cluster.

P.S.
[code]

[2021-12-31 02:40] #419 closed

[2022-01-07 11:04] AnujAroshA commented on #285
I also had the same issue and what I did was overwrite the following values in my values.yaml file where the relevant helm chart takes zookeeper-operator as a dependency.

[code]
I don't know why we should do this since in the original helm chart the default value given is `true`.

[2022-01-10 05:02] anishakj commented on #426
@nikitamikhaylov `operator-sdk run` command might help

[2022-01-10 06:20] anishakj commented on #425
@RangaSamudrala the pod should not come in the `unready members`. Are you using latest version o zookeeper-operator

[2022-01-11 13:54] RangaSamudrala opened #427 "Add support for topologySearchConstraints in Zookeeper helm charts"
### Description

_Add support for [topologySpreadConstraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) in Zookeeper helm charts

### Importance

_should-have_

### Location

[_zookeeper.yaml_](https://github.com/pravega/zookeeper-operator/blob/master/charts/zookeeper/templates/zookeeper.yaml)

### Suggestions for an improvement

_Very similar to how supp

[2022-01-20 11:11] eolivelli commented on #393
The problem may be solved by https://github.com/apache/zookeeper/pull/1798

this is the ZOOKEEPER issue
https://issues.apache.org/jira/browse/ZOOKEEPER-3988

[2022-01-24 15:41] cbuto opened #428 "policy/v1beta1 PodDisruptionBudget is deprecated in v1.21+"
### Description

The `PodDisruptionBudget` created for zookeeper clusters needs to be updated to use `policy/v1`.

[code]

### Importance

This is fairly low importance right now but should be addressed before 1.25+ (which is a ways out)

### Location

https://github.com/pravega/zookeeper-operator/blob/master/pkg/controller/zookeepercluster/zookeepercluster_controller.go#L529
https://github.com/pr

[2022-01-25 10:44] cheynove opened #429 "Critical security vulnerability issues on docker image (log4js)"
### Description

Multiple security vulnerabilities are detected with Prismacloud docker image scan with the highest ones being at a critical level related to log4js.

Security issues identified - listing only the critical and high ones:
CVE-2022-23307 (critical) - log4j_log4j
CVE-2021-38297 (critical) - go
CVE-2019-17571 (critical) - log4j_log4j

### Importance
Log4js has been identified and with

[2022-02-02 01:59] kentakozuka opened #430 "Remove metadata.namespace from non-namespaced resources"
### Description

ClusterRole and ClusterRoleBinding are non-namespaced resources so `metadata.namespace` is not necessary.

### Location

https://github.com/pravega/zookeeper-operator/blob/bfc32776026ab077b68f374dc71f3399000f2932/charts/zookeeper-operator/templates/clusterrole.yaml#L6

https://github.com/pravega/zookeeper-operator/blob/bfc32776026ab077b68f374dc71f3399000f2932/charts/zookeeper-oper

[2022-02-02 04:03] #430 closed

[2022-02-03 07:17] AKamyshnikova commented on #426
@nikitamikhaylov You can use "make run-local"

[2022-02-16 14:34] nishant-yt opened #432 "ZK-operator pre-delete hook fails in slow environments"
### Description

Currently in the pre delete hook script in zookkeeper operator charts, the `activeDeadineSeconds` is being set to `20`. But In some environments the pre-delete hook takes more than 20 seconds to complete and because of this job fails . Moreover once the job is failed , the operator chart cannot be uninstalled normally.

### Importance

must-have

### Location

https://github.com/p

[2022-02-17 08:20] AKamyshnikova opened #433 "Update zookeeper version to 3.7.0 (3.8.0)"
### Description

Update zookeeper version to 3.7.0 (3.8.0)

[3.7.0 Release notes](https://zookeeper.apache.org/doc/r3.7.0/releasenotes.html)
[3.8.0 Release notes](https://zookeeper.apache.org/doc/r3.8.0/releasenotes.html)

### Importance

must-have

Critical CVE https://security-tracker.debian.org/tracker/CVE-2021-33574 should be fixed with update.

[2022-02-17 09:21] gthvidsten opened #435 "Zookeeper/Alpine DNS issues"
### Description

Solr, from Solr Operator, can't connect to Zookeeper, from this repos operator. Apparently this is due to DNS issues with Alpine and Kubernetes. Alpine has a storied history of DNS issues with Kubernetes:

* https://stackoverflow.com/questions/65181012/does-alpine-have-known-dns-issue-within-kubernetes
* https://support.cloudbees.com/hc/en-us/articles/360040999471-UnknownHostExcep

[2022-02-18 10:59] mattia-crypto opened #436 "pre-delete tolerations are not supported"
### Description

Currently, the pre-delete hook does not accept tolerations. If you use tolerations/affinity/labels for your nodes where you deploy the zookeeper operator, you end up with clean up problems when uninstalling the operator.

For example, if you have deployed the zookeeper-operator with. the `hooks.delete` parameter set to true, you'll have a bad time deleting the operator afterwards.

[2022-02-23 09:15] #436 closed

[2022-02-23 12:36] raz08 opened #438 "Pod priority support for zookeeper through operator"
Currently there is no support in Zookeeper operator CRD to add pod priority for Zookeeper.

[2022-02-23 13:57] iampranabroy opened #439 "roles.rbac.authorization.k8s.io "xxxx-solr-operator-zookeeper-operator-post-install-upgrade" already exists"
### Description
When I am trying to deploy zookeeper-operator along with Solr Operator helm [chart](https://artifacthub.io/packages/helm/apache-solr/solr-operator). The deployment happens correctly, but post-deployment it throws the below error `roles.rbac.authorization.k8s.io "xxxxx-solr-operator-zookeeper-operator-post-install-upgrade" already exists`

### Importance
It doesn't affect my solrClo

[2022-02-24 16:49] anishakj opened #440 "Provide support to run zookeeper-operator as non root"
### Description

Currently , operator is running as root user

### Importance

 must-have
### Location

charts/zookeeper-operator/values.yaml

### Suggestions for an improvement
Provide support to configure security context to operator pod

[2022-02-24 19:03] bderrly commented on #285
@AnujAroshA that doesn't seem to be working for me. Was there anything else you did?

[2022-02-25 16:11] #440 closed

[2022-02-25 18:07] anishakj commented on #432
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/441

[2022-02-25 18:07] #432 closed

[2022-02-28 07:47] jps1215 opened #442 "How to change the svc type?"
### Description

hi , i install zookeeper with default way,but now i need to  change the svc`type,
and i try to do like this:
kubectl -n devops patch svc zookeeper-admin-server -p '{"spec": {"type": "NodePort"}}'
or
kubectl -n devops edit svc zookeeper-admin-server

but it doesn't work

is any other way i can try?

[2022-03-01 13:55] AKamyshnikova opened #443 "Use operator-sdk 1.13.0 version"
### Description
Use one of the latest operator-sdk version.
It is important to allow usage latest libraries and operator-sdk for project development.

### Importance

must-have

### Suggestions for an improvement

Following steps from https://sdk.operatorframework.io/docs/building-operators/golang/migration
we need to refactor and restructure code, also operator-sdk test is deprecated, so tests sh

[2022-03-29 09:03] nishant-yt opened #446 "Update alpine image to 3.15"
### Description

Update the alpine image to point to the latest version `3.15`

### Importance

must-have

### Location

https://github.com/pravega/zookeeper-operator/blob/master/Dockerfile

### Suggestions for an improvement

Update the alpine image from 3.14 to 3.15

[2022-03-29 10:26] Slach opened #448 "changing replicas sequence test `1 -> 3 -> 1 -> 3` not works on latest step, Second ZK pod doesn't starts due to 'java.lang.RuntimeException: My id 2 not in the peer list' exception"
### Description

Multiple scale-up, scale-down operation doesn't wok
Looks similar with https://github.com/pravega/zookeeper-operator/issues/315, but increase `initialDelaySeconds: 30` doesn't help

### Importance

It is critical important for our environment, we attempt to scale-up during heavy workloads and scale-down to decrease costs.

### Steps to reproduce
we use latest `0.2.13` release

and

[2022-03-29 11:37] #446 closed

[2022-03-29 12:53] #443 closed

[2022-03-29 13:12] anishakj commented on #448
@Slach I could see that the reclaimpolicy is set to `Retain` , due to which pvc entries are not cleaned correctly on scale down. Could you please set `reclaimpolicy`  to `Delete` and perform the  same operations

[2022-03-29 13:41] Slach commented on #448
all works OK, with `reclaimPolicy: Delete` ok thanks

[2022-03-29 13:41] #448 closed

[2022-03-29 16:37] tmarcu opened #450 "Zookeeper should not include replace directives and use newer k8s deps"
### Description
Go uses minimum version selection (MVS) when figuring out shared dependencies. Usually this does the right thing, but in cases where replace directives are used, the MVS algorithm doesn't work. For the most part, replace should be temporarily used, or only used in development.
A package that has a replace directive will override any deps from the imported package, and any replace f

[2022-03-30 08:11] AKamyshnikova commented on #433
I've raised importance to must-have due to CVE.

[2022-03-31 01:37] WangZ0635 commented on #251
apiVersion: "zookeeper.pravega.io/v1beta1"
kind: "ZookeeperCluster"
metadata:
  name: example
spec:
  replicas: 3
  storageType: ephemeral
  config:
    quorumListenOnAllIPs: true
You can configure quorumlistenonallips in the config attribute
When set to true, the zookeeper server will listen for connection requests from its peers on all available IP addresses, not just the addresses configured in

[2022-03-31 21:54] jravetch opened #452 "Latest tag is missing cluster and operator chart version bump"
### Description

Tag `0.2.13` is missing commit https://github.com/pravega/zookeeper-operator/commit/4ceccde6cdc60c055fd35e328ef88100e73551cf that bumps the cluster and operator charts.  Currently tag `0.2.13` deploys `0.2.12` of the charts

### Importance

Blocker

### Location

Please see https://github.com/pravega/zookeeper-operator/commit/4ceccde6cdc60c055fd35e328ef88100e73551cf

### Suggestio

[2022-03-31 21:56] srteam2020 opened #453 "[BUG] Error doing exists check for znode by the zookeeper-operator"
### Description

We encountered errors about exists check when using the zookeeper-operator and the zookeeper-operator is blocked by the error and cannot make any progress to scale down/up the zookeeper cluster.

We first encountered the following error five times:
[code]
and then see this in the operator log:
[code]
The exists check happens before updating the zookeeper statefulset size:
[code]
S

[2022-04-01 04:20] hoyhbx opened #454 "BUG: Zookeeper-operator does not restart pods when static configs are changed"
### Description
When I change the fields under `spec.config`, zookeeper-operator does not issue a rolling update to roll out the changed config. For example, if I change the `spec.config.commitLogCount` field to `100`, the operator reconciles the configMap to reflect the change. So in the pod, `/conf/zoo.cfg` which is where the configMap mounted has the `commitLogCount` field set to `100`. But the

[2022-04-01 07:33] realAaronWu opened #455 "BUG: First zookeeper pod crashbackoff endlessly during bootstrap."
### Description
There is a race condition between the first zk pod starting and DNSlookup of the ensemble.
If DNS lookup succeeds before the **first** zk pod bootstraping complete,  ACTIVE_ENSEMBLE will be set to true. But that does not mean it has a zk pod to accept zookeeper-headless service.
And the myId_config file are not successfully written to /data PV yet. So the var REGISTER_NODE will be

[2022-04-01 14:27] #433 closed

[2022-04-01 14:29] anishakj commented on #429
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/434

[2022-04-01 14:46] anishakj commented on #454
@hoyhbx  Have one more question, Could you please try  changing `triggerRollingRestart` to `true` and see pods are getting restarted automatically?

[2022-04-01 14:51] derekm commented on #453
@srteam2020 -- Interesting, the check is `if err != nil` then moments later when `err` is printed, it is printed as `<nil>`:

[2022-04-01 17:33] hoyhbx commented on #454
I tried changing the `triggerRollingRestart` to `True` and the operator successfully triggers a rolling restart. And the changed config are rolled out correctly.

I think it would be nice for zookeeper-operator to automatically trigger a rolling update when the config is changed, I have seen this behavior in many other operators, such as [rabbitmq's cluster operator](https://github.com/rabbitmq/cl

[2022-04-05 17:50] derekm commented on #452
@jravetch -- I think this is a technicality of how the release needs to managed in conjunction with github.com/pravega/charts

Maybe @anishakj or @SrishT can explain further.

How do you consume this repo? I can see how what you're talking about could be an issue for certain consumers of this repo, depending on how you're taking in releases.

[2022-04-06 12:07] MageChiu opened #457 "BUG: metrics http port not use zk helm chart values"
### Description

The zk configuration was generated without using the provided metrics port configuration

[code]

### Importance

normal

### Location

zk generators makeZkConfigString

### Suggestions for an improvement

using the provided metrics port configuration

[2022-04-07 13:37] anishakj opened #460 "Fix the logging in e2e tests"
### Description

Currently the logs are not coming in console while running e2e tests

### Importance

must-have

### Location

pkg/test/e2e

### Suggestions for an improvement

Fix the logging infrastructure

[2022-04-07 13:41] #460 closed

[2022-04-07 15:14] anishakj opened #462 "Remove travis.yml"
### Description

Remove .travis.yaml as its is not used  any more. Also modify the workflow to use same go version when running as root

### Importance

must-have

### Location

.ci.yml
.travis.yaml
### Suggestions for an improvement

Modify workflows

[2022-04-07 16:23] #462 closed

[2022-04-08 14:35] anishakj commented on #452
@jravetch  If you want to install `0.2.13` version of zookeeper, you can use https://github.com/pravega/charts.
[code]

[2022-04-11 22:57] jravetch commented on #452
@anishakj @derekm That's exactly what we are doing, but the pod template spec is still using `0.2.12` version of the image tag
[code]

[code]

[2022-04-11 23:31] jravetch commented on #452
We are using `helmfile sync` to install the chart

[2022-04-13 03:44] #450 closed

[2022-04-15 07:37] Maxfer4Maxfer opened #464 "Support FTT=2 (Failures To Tolerate)"
### Description

To increase availability for a large cluster setup Zookeeper need at least 5 nodes in the cluster.

### Importance

must have to support FTT=2 (Failures To Tolerate)

### Location

pkg/zk/generators.go

### How to verify it

Tested with locally build image (using make build-zk-image)

[2022-04-18 01:19] anishakj commented on #426
Closing this issue as `operator-sdk` is not used for running tests.

[2022-04-18 10:40] anishakj commented on #452
@jravetch  we are seeing `0.2.13` with `helm install`
[code]

[2022-04-18 12:43] anishakj commented on #457
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/463

[2022-04-18 12:43] #457 closed

[2022-04-18 16:41] jravetch commented on #452
Is this a fresh install or an upgrade?

[2022-04-18 17:07] anishakj commented on #452
fresh install

[2022-04-18 18:12] jravetch commented on #452
Can you test installing `0.2.12` and upgrading to `0.2.13`?

[2022-04-19 02:10] srteam2020 commented on #453
Hi @derekm . Yes it is strange. Let me look into this more.

[2022-04-20 11:14] anishakj commented on #453
@srteam2020 when this error happens how many zk replicas you had? Also could you please check inside the pod is there any wrong entries in `/data/conf/zoo.cfg` file?

[2022-04-21 09:54] #464 closed

[2022-04-21 16:41] srteam2020 commented on #453
Hi @anishakj
There is only one zk replica when the error happens. The `/data/conf/zoo.cfg` is:
[code]

[2022-04-21 16:49] srteam2020 commented on #453
I think the `err` here is
[code]
And there is another `err`, which is nil, inside this `err`.

I looked into `NodeExists`, which returns the `err`:
[code]

So from the log, I think inside this `NodeExists` method `exists` is False and `err` is `nil`. That explains why the log message looks that way.

[2022-04-21 21:43] srteam2020 commented on #453
After more inspection, I think we have identified the rootcause. There is a race condition between the zookeeper-operator and the human user that can lead to this problem.

The zNodePath `/zookeeper-operator/zookeeper-cluster` is created inside `reconcileClusterStatus` only when all the expected replicas are ready:
[code]

Now, suppose that the user creates a zookeeper cluster with X replicas. Bef

[2022-04-22 01:54] anishakj commented on #453
could you please check the contents of `=/data/conf/zoo.cfg.dynamic.100000000`

[2022-04-22 03:00] srteam2020 commented on #453
`cat /data/conf/zoo.cfg.dynamic.100000000`:
[code]

[2022-04-25 12:53] anishakj opened #467 "Leader election after node reboot fails"
### Description

In VMware cluster, some pods are stuck in ProviderFailed state, and leader election function, provided by operator SDK, is unable to process that, so new pods are stuck in wait cycle.
Fix scans owners of leader lock config map, and deletes pods in ProviderFailed status.

### Importance

 must-have

### Location

main.go

### Suggestions for an improvement
Customise leader.Become f

[2022-04-26 06:26] #467 closed

[2022-05-04 08:08] AKamyshnikova opened #470 "Use zookeeper 3.7.0"
### Description
3.8.0 is not stable enough, so downgrade to use 3.7.0 zookeeper version

### Importance

must-have

### Suggestions for an improvement

Once 3.8.0 is stable enough, this can be reverted.

[2022-05-04 10:58] #470 closed

[2022-05-05 06:39] anishakj opened #472 "Update Charts to latest version"
### Description

Update the version in the latest zookeeper and zookeeper operator charts

### Importance

must-have

### Location

Charts

### Suggestions for an improvement

Update the charts

[2022-05-05 11:15] #472 closed

[2022-05-10 19:21] hoyhbx opened #474 "[BUG] Annotation field in zookeeper headless service does not update"
# What did you do?
We were trying to update the field `spec.domainName` which should update an annotation (`external-dns.alpha.kubernetes.io/hostname`) of the `zookeeper-headless` service. However, we found that the field `spec.domainName` only has effect when initially creating the `zookeeper-headless`, and it does not correctly update the `external-dns.alpha.kubernetes.io/hostname` annotation if

[2022-05-12 14:43] alfred-landrum opened #475 "zookeeper ruok command check occasionally fails"
### Description

The zookeeper liveness and readiness checks use the zookeeper `ruok` command like so:
[code]

However, if I just sit in a shell and try manually running that, eventually, I'll very occasionally get a blank response instead of the expected `imok`, even though the service seems fine, and running the command immediately again returns the expected string.

I believe the root issue is

[2022-05-17 09:57] Slach commented on #475
@alfred-landrum thanks a lot for your report, I struggle with the same issue
I hope your PR will merge and include in next release

@nishant-yt could you look to this PR?

[2022-05-25 05:52] vishalgarg837 opened #477 "Zookeeper cluster got corrupted"
### Description

We are using zookeeper-operator 0.2.14 for the last couple of weeks. It was running fine till now but suddenly we started seeing the following error in the zookeeper:
[code]
### Importance

For now, we resolved it by removing the persistent volume and restarting the cluster but it might happen again so wanted to understand the root cause.

[2022-05-29 12:41] JamieSlome opened #478 "Add a security policy"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@bluejay123456) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a

[2022-05-30 08:34] amuraru opened #480 "Upgrade dependencies"
### Description

- controller-gen to 0.9.0
- k8s libs to 1.24.1
- remove unused variables

### Importance

Must have - as some of them are being reported as having CVEs

### Location

go.mod/Makefile

### Suggestions for an improvement

File a PR

[2022-05-30 14:17] happyboy1986 opened #481 "readme file error"
### Description

_(Describe the feature, bug, question, proposal that you are requesting)_
kubectl create -f deploy/manager/manager.yaml

### Importance

_(Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have))_
kubectl create -f config/manager/manager.yaml
### Location

_(Where is the piece of code, package, or document affected by this issue?)_

### Suggest

[2022-06-01 04:49] fujin commented on #477
I've hit the same in two of my zookeeper-operator managed zookeeper clusters, we're investigating increasing jute.maxbuffer to e.g. 10MiB across all clients/servers.

[2022-06-01 12:12] #480 closed, assigned to nobody

[2022-06-02 04:46] vishalgarg837 commented on #477
I am again seeing this issue today. @fujin Can you please tell me, are you setting this `jute.maxbuffer` config through zookeeper-operator if yes then where did you set it?

[2022-06-02 06:57] fujin commented on #477
@vishalgarg837 yeah that fixed it for us.
[code]

make sure you set it on all of your clients too.

[2022-06-02 08:32] vishalgarg837 commented on #477
Thanks, @fujin. It works for us as well.

[2022-06-07 14:12] jkhalack opened #482 "Number of client connections not reevaluated dynamically in the teardown script"
### Description

The `CONN_COUNT` variable is only evaluated once in the zookeeperTeardown.sh script (https://github.com/pravega/zookeeper-operator/blob/master/docker/bin/zookeeperTeardown.sh#L23-L32)
As a result, the loop would always take 30 seconds if there were client connections present when the script started to run, and ZK pod would terminate with `137` error code with the default terminati

[2022-06-09 02:57] #455 closed

[2022-06-10 03:58] Amit-Singh40 opened #484 "Use zookeeper 3.7.1"
### Description

3.7.0 has some security vulnerabilities, some of them has been fixed to 3.7.1

### Importance

must-have

### Suggestions for an improvement

Fix the vulnerabilities

[2022-06-14 05:35] #484 closed

[2022-06-16 03:47] #477 closed

[2022-06-22 08:50] lunarfs opened #486 "The CustomResourceDefinition "zookeeperclusters.zookeeper.pravega.io" is invalid: spec.preserveUnknownFields: Invalid value: true: must be false in order to use defaults in the schema"
### Description
when applying  zookeeper.pravega.io_zookeeperclusters_crd.yaml I am getting
`The CustomResourceDefinition "zookeeperclusters.zookeeper.pravega.io" is invalid: spec.preserveUnknownFields: Invalid value: true: must be false in order to use defaults in the schema`
we are running k8s 1.21.2 and have been changing
`apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1` (This is an o

[2022-06-22 10:31] anishakj commented on #486
@lunarfs As of now all components are updated to `v1`. There is no support for `v1beta1`

[2022-06-22 10:37] lunarfs commented on #486
so digging a bit further into this it seems that `charts/zookeeper-operator/templates/zookeeper.pravega.io_zookeeperclusters_crd.yaml` has been totally rewritten between 0.14 and master.
I did an upgrade on another cluster where the CRD where installed 6 months later (dec 2021) and here the upgrade ran trough..
@anishakj the issue is not with `v1` vs `v1beta` but rather if the CRD was installed wh

[2022-06-23 13:32] only21tender opened #487 "missing deply directory"
In tag v0.2.14 branch , missing deploy directory . Is't normal?

[2022-06-24 12:31] Wexxion commented on #487
If you trying to install zk operator via command `kubectl create -f deploy/manager/manager.yaml` from readme, and it fails, you should change `deploy` to 'config' dir

`kubectl create -f config/manager/manager.yaml`

[2022-06-24 12:33] anishakj commented on #487
@Wexxion Would you like to create a PR for updating README doc

[2022-06-24 12:34] Wexxion commented on #487
@anishakj yep

[2022-06-24 15:52] anishakj commented on #487
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/488

[2022-06-24 15:52] #487 closed

[2022-06-24 15:55] anishakj commented on #481
Fixed by PR https://github.com/pravega/zookeeper-operator/pull/488

[2022-06-24 15:55] #481 closed

[2022-06-27 16:39] miguelfreitas93 opened #489 "(CIS_Docker_v1.3.1 - 4.1) Image should be created with a non-root user"
### Description

(CIS_Docker_v1.3.1 - 4.1) Image should be created with a non-root user.
https://www.cisecurity.org/benchmark/docker

### Importance

It is a good practice to run the container as a non-root user, if possible. Though user namespace mapping is now available, if a user is already defined in the container image, the container is run as that user by default and specific user namespace

[2022-07-15 10:36] iampranabroy commented on #315
@priyavj08 Did anyone try setting `initialDelaySeconds` when using the zookeeper helm chart?
I don't see that option in pravega/zookeeper-operator chart [v0.2.12](https://github.com/pravega/zookeeper-operator/tree/v0.2.12/charts/zookeeper-operator) or later

[2022-07-22 03:12] anan1310 commented on #442
i  want to know how to change the svc`type

[2022-07-22 10:38] amuraru opened #491 "Initial pod is forcefully restarted during initialization"
### Description

During initial provisioning of a ZookeeperCluster we observed that the first pod zk-0 is forcefully restarted in the initialization phase due to its liveness probe failing.

### Importance

Sould-have

### Location

https://github.com/pravega/zookeeper-operator/commit/ed1f1d154de63cb38de25506a4d3dffbfe42eba9

### Suggestions for an improvement

`DefaultLivenessProbeInitialDelaySec

[2022-08-11 11:11] alexangas commented on #315
@iampranabroy Does this work for you: https://github.com/pravega/zookeeper-operator/blob/2403ac54739d55a9e97333a837a45fea9dc0a96c/charts/zookeeper/values.yaml#L25

[2022-08-12 04:37] #474 closed

[2022-08-17 15:41] nosvalds commented on #318
Note I believe upgrading to v0.2.4 which includes the fix for https://github.com/pravega/zookeeper-operator/issues/389 has reduced this greatly.

[code]

[2022-08-26 14:02] osenbach commented on #214
@mabruch123 any outcome on this?  Trying to do the same thing..

[2022-08-31 12:39] lunarfs commented on #486
@anishakj I am closing this issue, as manually setting spec.preserveUnknownFields: false solved the issue for me, and it is only an issue if you are running old versions of k8s under certain conditions that you will face this issue, unlikely that it will happen for a lot  of users

[2022-08-31 12:39] #486 closed

[2022-08-31 13:01] lunarfs opened #493 "zookeeper stuck in upgrade, cluster seems to be upgraded, alle nodes running the new version, and ready"
### Description
cluster is stuck in upgrade, but cluster seems to be ready and upgraded
zookeeper   3          2                3.7.0_0.2.14_2022-08-10   3.7.0_0.2.14_2022-08-29   172.18.81.155:2181   N/A                 91d
so the upgrade was a 0.2.14 running zookeeper 3.7.0, where the baseimage was patched with a few security issues so the same zookeeper and operator, we are doing this regularly

[2022-08-31 13:26] lunarfs commented on #493
https://pravega.io/docs/snapshot/pravega-operator/rollback-cluster/

[2022-09-01 11:33] lunarfs commented on #493
so I am not an Go expert (fare from) but if i read pkg/controller/zookeepercluster/zookeepercluster_controller.go line 220
[code]
I am wondering how to get the cluster to either role-back or continue the failed upgrade?
as of now I only see deleting the cluster and restoring a backup as a viable solution.. or am i completely not getting the Go code?
I would think that one could call
updateStateful

[2022-09-01 12:57] lunarfs commented on #493
so this is not working but I get
foundSts.Status.Replicas:3,
foundSts.Status.ReadyReplicas:3
i am digging a bit further

[2022-09-01 13:59] lunarfs commented on #493
so with this code change i was able to get my failed cluster upgrade to complete

`
func (r *ZookeeperClusterReconciler) reconcileStatefulSet(instance *zookeeperv1beta1.ZookeeperCluster) (err error) {

	// we cannot upgrade if cluster is in UpgradeFailed
	if instance.Status.IsClusterInUpgradeFailedState() {
		r.Log.Info("ZookeeperCluster upgrade in failed state")
		sts := zk.MakeStatefulSet(instan

[2022-09-01 14:03] anishakj commented on #493
@lunarfs  It will be really great if you could raise the PR

[2022-09-02 06:24] lunarfs commented on #493
So there are 22 entries in the log with _upgrade in progress_ each with 30 second between those, except for that nothing intersting in the logs.
So what happened is that there was an issue pulling the new image from the registry (DNS issue). After approx 30 minutes the pulling issue was fixed, and the last node got healthy (because it could now pull its image). I have a few clusters that ran into

[2022-09-05 20:29] AdheipSingh opened #497 "Make probes, commands and cm customisable"
### Description
- currently [liveliness probes](https://github.com/pravega/zookeeper-operator/blob/ed16dab196983394da1b59bb853fe1fdd45316b4/pkg/zk/generators.go#L132) and [readiness probes ](https://github.com/pravega/zookeeper-operator/blob/ed16dab196983394da1b59bb853fe1fdd45316b4/pkg/zk/generators.go#L142)are hardcoded to execute scripts.
- probes can be made customisable, same with the commands

[2022-09-07 11:21] AKamyshnikova opened #498 "Bump go version to 1.18"
### Description

Update go version to 1.18 from 1.17

### Importance

should-have

### Location

Update go.mod and Dockerfile base build image

[2022-09-15 05:32] kingvip commented on #435
Cloud > ZK Status   For input string: "null"  How to solve，thankyou

[2022-09-21 12:53] dariothornhill commented on #475
Is there any update on when this will be merged?

[2022-09-24 16:16] iampranabroy commented on #497
Hey @AdheipSingh - If you use helm charts, then they are configurable via [parameters](https://github.com/pravega/zookeeper-operator/tree/master/charts/zookeeper#configuration)

[2022-09-24 18:07] audacioustux opened #500 "Any plan to support aarch64?"
### Description

`standard_init_linux.go:228: exec user process caused: exec format error` on aarch64 architecture on oracle cloud ampere

### Suggestions for an improvement

add aarch64 as target in build pipeline

[2022-09-26 15:19] mmoscher commented on #315
I'm facing the same issue. Even with long initialDelaySeconds (20,30,60) for liveness- and readinessProbes I'm unable to successfully deploy a zookeeper cluster with replicas > 1.

The issues stays the same:
`
2022-09-26 15:14:06,975 [myid:2] - ERROR [main:QuorumPeerMain@114] - Unexpected exception, exiting abnormally
java.lang.RuntimeException: My id 2 not in the peer list
	at org.apache.zookeepe

[2022-09-27 02:43] iampranabroy commented on #315
Hey @mmoscher - Can you please try setting only `InitialDelayseconds` to `60` for `readiness` probe `probes.readiness.initialDelaySeconds` as suggested above and see if it works?

@priyavj08 @anishakj - Did you try any additional changes?

[2022-09-27 08:48] mmoscher commented on #315
Issue solved - at least for me, I think.

There were two unique issues (on my side) which kept me running into the error mentioned above.
Reading this thread led me into a (somewhat) wrong direction, probing/testing the wrong solution.

**Issue 1 - wrong network policies**
My deployment is blocking any egress/ingress traffic, using network policies, iff not explicitly allowed.
For zookeeper intern

[2022-10-02 12:52] mmoscher commented on #500
Same here when running on Google Cloud's Tau T2A GCE instances.
Supporting arm64 would also be interesting for local development on Apple's Silicons M1/M2 processors.

[2022-10-10 17:44] jecsoares102 commented on #475
Same problem, is there any update on when this will be merged?

[2022-10-10 17:46] mailsonsantana commented on #475
Same problem, is there any update on when this will be merged?

[2022-10-12 02:56] hongshenggit opened #503 "Could you release a version that supports aarch64"
### Description

_(Describe the feature, bug, question, proposal that you are requesting)_

### Importance

_(Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have))_

### Location

_(Where is the piece of code, package, or document affected by this issue?)_

### Suggestions for an improvement

_(How do you suggest to fix or proceed with this issue?)_

[2022-10-12 03:42] derekm commented on #503
That would be great to have! Would you like to raise a PR for it?

Do you use the ZooKeeper Operator with Pravega? Or do you use it with another system?

[2022-10-12 21:21] mmoscher commented on #320
@alittlec + @anishakj PR is raised, however I'm not sure if this will work at all because the available GHA CI pipeline is not used at all (IMHO). Cf. https://github.com/pravega/zookeeper-operator/pull/504

[2022-10-12 21:21] mmoscher commented on #500
@audacioustux PR is raised, however I'm not sure if this will work at all because the available GHA CI pipeline is not used at all (IMHO). Cf. https://github.com/pravega/zookeeper-operator/pull/504

[2022-10-12 21:22] mmoscher commented on #503
@hongshenggit + @derekm PR is raised, however I'm not sure if this will work at all because the available GHA CI pipeline is not used at all (IMHO). Cf. https://github.com/pravega/zookeeper-operator/pull/504

[2022-10-12 21:40] derekm commented on #503
@mmoscher -- We can look at making whatever changes are needed to the GHA workflows. Let me review your PR and your analysis there.

[2022-10-14 07:54] vladiceanu commented on #497
hi @iampranabroy,

yes, it is possible to set certain options, i.e. for read/liveness checks you can only change thresholds and duration but you can't replace the exec command. Would be useful to support fully customizable read/liveness probes if a different image is used and it has no scripts `zookeeperReady.sh` and `zookeeperLive.sh` available.

<img width="682" alt="Screenshot 2022-10-14 at 9 5

[2022-10-15 18:46] AdheipSingh commented on #497
The pod spec is hardcoded with a lot of configs. Ill send out a PR to make it configurable as per user.

@iampranabroy  its hardcoded not customisable.

[2022-10-21 10:29] #500 closed

[2022-10-21 11:01] alfonsomunozpomer opened #505 "ZooKeeper cluster not found when scaling up/down"
I can create, describe or delete ZooKeeper clusters with the operator, but I can’t scale it because `kubectl scale` says  that the resource is not found. Is there anything I’m missing?

Find below my simple cluster YAML and some example output. I’m running this on a GKE Autopilot cluster.

[code]

[code]

[2022-10-21 11:03] anishakj commented on #505
You have to scale using  `kubectl edit zookeepercluster zookeeper` and change the replicas

[2022-10-21 12:05] #498 closed

[2022-10-21 16:32] alfonsomunozpomer commented on #505
Are there any plans to add support for `kubectl scale`?

[2022-10-21 16:49] alfonsomunozpomer commented on #505
I’ve seen similar issues with `rollout`:
[code]

[2022-10-21 17:43] iampranabroy commented on #315
Thanks much @mmoscher
Is it possible for you to share the updated network policy that you applied for zookeeper <-> zookeeper internal traffic?

[2022-10-25 09:11] lunarfs opened #506 "Operator stuck in PodsReady: False, with all pods running because of wrong Status.MetaRootCreated"
### Description
the operator is stuck in
[code]
the cluster status is
[code]
Not sure how we ended up. here, but the issue is that `Status.MetaRootCreated` does not reflect the realworld, doing an actual check before creating the node will prevent this failure. the below patch recovered my cluster.
I can create a Pullrequest with the changes i you think this makes sense.
### Importance
should-have

[2022-10-25 11:57] mmoscher commented on #315
@iampranabroy sure, here we go:

We've two policies in place related to solr/zookeeper. One (a) to allow traffic between the zookeeper members itself (z<->z) and another one (b) to allow traffic from solr to the zookeeper (s->z) pods.
**Note:** we do block any egress traffic from all pods by default and are following the "efault-deny-all-egress-traffic" principle. If you're doing it vice-versa, eg

[2022-10-25 14:06] janhoy opened #507 "Consider removing apt cache in image"
Consider adding
[code]
to the Dockerfile for a slightly slimmer image https://github.com/pravega/zookeeper-operator/blob/ae230104a5ad018cd1353df3957a747cb4a3421c/docker/Dockerfile#L24

[2022-10-25 14:18] iampranabroy commented on #315
Thanks, @mmoscher for sharing the details. A good point to keep in mind about `NetworkPolicy` for `zookeeper` and `solr` cluster's internal communication.

In my case, the `zookeeper` and `solr` clusters are in the same namespace and they come up sometimes fine, but notice this error a few times. The error itself is not consistent, making it hard to debug.

[2022-10-27 18:22] #475 closed

[2022-10-28 07:47] AKamyshnikova opened #508 "Critical CVE-2022-37434 in zookeeper-operator image"
### Description

CVE checker in docker images reported Found CVE in zookeeper-operator image version 0.2.14
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-37434

### Importance

_must-have_

### Suggestions for an improvement

Build new image using latest updates.

[2022-11-01 14:41] endzyme commented on #427
This would be great to have at some point.

[2022-11-02 13:30] 28ori commented on #506
Are you using Openshift?
I also had this issue, the Operator is trying to connect directly to the pod and create a znode.
Make sure you have a network policy in a way that the Operator pod will be able to reach the zookeeper pod

[2022-11-02 14:24] jkgonzio opened #509 "High Security Vulnerability CVE-2022-21698"
### Description

Security scan of the zookeeper operator reveals vulnerability regarding CVE-2022-21698 in Zookeeper Operator Image.
CVE Link: https://avd.aquasec.com/nvd/2022/cve-2022-21698/

Vulnerability Description: client_golang is the instrumentation library for Go applications in Prometheus, and the promhttp package in client_golang provides tooling around HTTP servers and clients. In clien

[2022-11-02 14:28] jkgonzio opened #510 "High Security Vulnerability CVE-2022-27664"
### Description

Security scan of the zookeeper operator reveals vulnerability regarding CVE-2022-27664 in Zookeeper Operator Image.
CVE Link: https://avd.aquasec.com/nvd/cve-2022-27664

In net/http in Go before 1.18.6 and 1.19.x before 1.19.1, attackers can cause a denial of service because an HTTP/2 connection can hang during closing if shutdown were preempted by a fatal error.

### Importance

[2022-11-03 18:19] endzyme opened #511 "Pod Labels not applied to StatefulSet"
### Description

The `zookeepercluster.spec.pod.labels` are not applied to the final pods or the StatefulSet created by the Zookeeper Operator.

### Importance

`should-have`: If it's in the spec, it should work as intended or be removed.
`blocker`: Since the Solr Operator uses this Zookeeper Operator, it is currently blocking us from adding custom labels to Zookeeper Clusters created with the Sol

[2022-11-10 13:00] Thedin87 opened #512 "default heap value for java"
### Description
The default heap size for java is 1 gb and if you set a higher ram limit in the cr the data on the pv will be corrupted.
_(Describe the feature, bug, question, proposal that you are requesting)_

### Importance
must-have
_(Indicate the importance of this issue to you (blocker, must-have, should-have, nice-to-have))_

### Location
The env variable ZK_SERVER_HEAP in the container.
_(

[2022-11-18 20:28] hoyhbx opened #513 "Zookeeper pod keeps crashing when scaling down and up"
### Description

_(Describe the feature, bug, question, proposal that you are requesting)_
We found that zookeeper pod keeps crashing after a scale-down workload and a scale-up workload.
We found the crash is caused by the undeleted PVC during the scale-down process. However, this problem still persists even when we specify the `reclaimPolicy: Delete`.

The root cause of this issue is because ther

[2022-11-23 22:40] janhoy opened #514 "Release newer zookeeper docker image"
### Description

The [pravega/zookeeper](https://hub.docker.com/r/pravega/zookeeper) docker image is 7 months old, and quite out of date on all levels, both Linux, Java (openjdk is no longer maintained) and Zookeeper (3.7.1 vs 3.8.0).

### Importance

High importance due to security vulnerabilities in existing image.

### Location

docker/Dockerfile

### Suggestions for an improvement

* Upgrade F